<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <!-- form start -->
                <form id="formData" role="form" method="post" action="">
                    <div class="box-body">
                        <div class="form-group">
                            <div class="media">
                                <div class="media-body">
                                    <div class="form-group">
                                        <label>Foto</label>
                                        <div class="media">
                                            <div class="col-sm-4 text-center">
                                                <?php $aidi = $_POST['id'];
                                                $data = \SqBinaan::findFirstById($aidi);
                                                if( !empty($data->path_small)) : ?>
                                                    <a href="javascript:void(0)"  style="padding:1px">
                                                        <img class="img-circle" name="imgPhotoComplaint"
                                                             src="<?php p_base_url($data->path_small) ?>" alt="" width="150">
                                                    </a>
                                                <?php else: ?>
                                                    <a href="javascript:void(0)" style="padding:1px">
                                                        <img id="output" class="img-circle"
                                                             src="<?php p_base_url('/img/unknown_person.png') ?>" alt="" height="150">
                                                    </a>
                                                <?php endif; ?>
                                            </div>
                                            <div class="media-body">
                                                <div class="form-group col-sm-6" style="padding: 0;">
                                                    <label for="password">Nama Depan</label>
                                                    <input type="text" data-role="text" name="first_name" class="form-control" placeholder="Nama Depan"
                                                        value="<?php echo $data->first_name; ?>" disabled>
                                                </div>
                                                <div class="form-group col-sm-6">
                                                    <label for="password">Nama Belakang</label>
                                                    <input type="text" data-role="text" name="last_name" class="form-control" placeholder="Nama Belakang"
                                                           value="<?php echo $data->last_name; ?>" disabled>
                                                </div>
                                                <div class="form-group col-sm-4" style="padding: 0;">
                                                    <label for="password">Tempat Lahir</label>
                                                    <input type="text" data-role="text" name="tempat_lahir" class="form-control" placeholder="Tempat Lahir"
                                                           value="<?php echo $data->tempat_lahir; ?>" disabled>
                                                </div>
                                                <div class="form-group col-sm-8">
                                                    <label for="password">Tgl. Lahir</label>
                                                    <input id="tglLahir" name="tgl_lahir" type="text"
                                                           class="form-control" placeholder="Tanggal Lahir"
                                                           value="<?php echo $data->tgl_lahir; ?>" disabled>
                                                </div>
                                                <div class="form-group">
                                                    <label>Mobile/ Tlp</label>
                                                    <input name="mobile" type="text"
                                                           class="form-control" placeholder="Mobile"
                                                           value="<?php echo empty($data->mobile) ? "": $data->mobile; ?>" disabled>
                                                </div>
                                            </div><!--end div media-body-->
                                        </div><!--end div media-->
                                        <div class="form-group">
                                            <label>Asal Sekolah</label>
                                            <input name="id_sekolah" type="text"
                                                   class="form-control" placeholder="Asal Sekolah"
                                                   value="<?php echo empty($data->SqMstSekolah->nm_sekolah) ? "": $data->SqMstSekolah->nm_sekolah; ?>" disabled>
                                        </div>
                                        <div class="form-group">
                                            <label>Alamat</label>
                                                <textarea name="alamat" type="text"
                                                          class="form-control" placeholder="Alamat" disabled><?php echo trim($data->alamat); ?></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </form>
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>