<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <!-- form start -->
                <form id="formData" role="form" method="post" action="">
                    <div class="box-body">
                        <div class="form-group">
                            <div class="media">
                                <div class="media-body">
                                    <div class="form-group">
                                        <label>Foto</label>
                                        <div class="media">
                                            <div class="col-sm-4 text-center">
                                                <?php $aidi = $_POST['id'];
                                                $data = \SqTimAnggota::findFirstById($aidi);
                                                if( !empty($data->path_small)) : ?>
                                                    <a href="javascript:void(0)"  style="padding:1px">
                                                        <img class="img-circle" name="imgPhotoComplaint"
                                                             src="<?php p_base_url($data->path_small) ?>" alt="" width="150">
                                                    </a>
                                                <?php else: ?>
                                                    <a href="javascript:void(0)" style="padding:1px">
                                                        <img id="output" class="img-circle"
                                                             src="<?php p_base_url('/img/unknown_person.png') ?>" alt="" height="150">
                                                    </a>
                                                <?php endif; ?>
                                            </div>
                                            <div class="media-body">
                                                <div class="form-group col-sm-12">
                                                    <label for="password">Nama Anggota</label>
                                                    <input type="text" data-role="text" name="nama_anggota" class="form-control" placeholder="Nama Depan"
                                                        value="<?php echo $data->nama_anggota; ?>" disabled>
                                                </div>
                                                <div class="form-group col-sm-12">
                                                    <label>Mobile/ Tlp</label>
                                                    <input name="mobile" type="text"
                                                           class="form-control" placeholder="Mobile"
                                                           value="<?php echo empty($data->mobile) ? "": $data->mobile; ?>" disabled>
                                                </div>
                                            </div><!--end div media-body-->
                                        </div><!--end div media-->
                                        <div class="form-group">
                                            <label>Alamat</label>
                                                <textarea name="alamat" type="text"
                                                          class="form-control" placeholder="Alamat" disabled><?php echo trim($data->alamat); ?></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label>Keterangan</label>
                                                <textarea name="ket" type="text"
                                                          class="form-control" placeholder="Keterangan" disabled><?php echo trim($data->ket); ?></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </form>
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>