<script>
    $(document).ready(function () {
        $('#tglKegiatan').datepicker({
            language: 'EN',
            format: 'dd-mm-yyyy',
            pickSeconds: false,
            pick12HourFormat: false
        });

        $(function () {
            $("#tglKegiatanHalaqoh").inputmask("datetime");
        });
    });
</script>
<div class="box box-danger">
    <!-- form start -->
    <form id="formDatax" role="form" method="post" action="<?php echo p_base_url(); ?>/admin/jurnal/saveNewJurnalUser">
        <input type="text" class="hidden" name="id_pimpinan" value="<?php echo $this->session->idCustomer; ?>">
        <div class="box-body">
            <div class="form-group col-sm-12">
                <legend>Pilih Kelompok</legend>
                <div class="dropdown">
                    <div>
                        <?php echo $this->tag->select(array("id_tim", "id" => "id_tim",
                            \SqTim::find(array(
                                "id_pimpinan=:idPimpinan:","bind"=>array("idPimpinan"=>$this->session->idCustomer)
                            )),
                            "useEmpty" => true,
                            "emptyText" => "-Pilih-",
                            "class" => "form-control",
                            "using" => array("id", "nama")
                        ));?>
                    </div>
                </div>
            </div>

            <div class="form-group col-sm-12" id="fieldSet">
            </div>

            <div class="pull-right"><span id="count_anggota_chk">0</span>/ <span
                    style="color: red"></span> item
            </div>
            <div class="form-group col-sm-12">
                <legend>Tgl. Kegiatan</legend>
                <input id="tglKegiatanHalaqoh" name="tgl_kegiatan" type="datetime" class="form-control"
                       placeholder="Tanggal Kegiatan">
            </div>
            <div class="form-group col-sm-12">
                <legend>Kehadiran Murobbi</legend>
                <div class="dropdown">
                    <select id="selectIsMrHadir" name="is_pimpinan_hadir" class="form-control">
                        <option value="1">HADIR</option>
                        <option value="0">TIDAK HADIR</option>
                    </select>
                </div>
            </div>

            <div class="form-group col-sm-12" id="fieldSetPengganti">
            </div>

            <div class="form-group col-sm-6">
                <legend>Jenis Kegiatan</legend>
                <div class="dropdown">
                    <div><?php
                        echo $this->tag->select(array("tipe_kegiatan", "id" => "tipe_kegiatan",
                            \TipeKegiatan::getList(),
                            "useEmpty" => true,
                            "emptyText" => "-Pilih Kegiatan-",
                            "class" => "form-control",
                            "using" => array("id", "nama")
                        )); ?>
                    </div>
                    <script>
                        $('#tipe_kegiatan').change(function (data) {
                            var a = $(this).find('option:selected').text();
                            $("#nama").val(a);
                        });
                    </script>
                </div>
            </div>
            <div class="form-group col-sm-12 hidden">
                <label>Nama Kegiatan</label><span style="color: #d62728;font-size: 8pt;">*)</span>
                <textarea id="nama" maxlength="200" type="text" data-role="text" name="nama" class="form-control"></textarea>
            </div>
            <div class="form-group col-sm-12">
                <legend>Ket. Lokasi Kegiatan</legend>
                <textarea maxlength="200" type="text" data-role="text" name="lokasi" class="form-control"
                          placeholder="Lokasi Kegiatan"></textarea>
            </div>
            <div class="form-group col-sm-12">
                <legend>Catatan</legend>
                <textarea maxlength="200" type="text" data-role="text" name="catatan" class="form-control"
                          placeholder="Catatan Kegiatan"></textarea>
            </div>
        </div>
        <!-- /.box-body -->

        <div class="box-footer">
            <button type="button" class="btn btn-primary" onclick="doSubmit_JurnalUser()">Submit</button>
        </div>
    </form>
</div>
<script>
    function doSubmit_JurnalUser() {
        $('#formDatax').ajaxForm(optionsForm);
        $('#formDatax').submit();
    }
    var optionsForm = {
        beforeSerialize: function (form, options) {
//            console.log(form);
//            console.log(options);
        },
        dataType: 'json',
        success: showResponse
    };
    function showResponse(response, statusText, xhr, $form) {
        response = parseJson(response);
        if (response.isSuccess) {
            hideAllModal();
            gotoList();
        } else {
            showModalError(response.message);
        }
    }
    function gotoList() {
        location.href = "<?php p_base_url();?>/admin/jurnal/index";
    }

    $('#id_tim').change(function (data) {
        var a = $(this).find('option:selected').val();
        var url = "<?php p_base_url();?>/admin/jurnal/getAnggota?id_tim=" + a;
        $.getJSON(url, function (data) {
            var pilih = "<fieldset>";
            pilih += "<legend>Anggota Kelompok</legend>";
            $.each(data, function (i, val) {
                pilih += "<input type='checkbox' name='anggota_chk[]' onclick='countCheckbox()'" +
                    "value=\'"+val.id+"\' />" +val.nama_anggota +" <br />";

            });
            pilih += "</fieldset>";
            $('#fieldSet').html(pilih);
        });
        //$("#nama").val(a);
    });

    $('#selectIsMrHadir').change(function(data){
        var a = $(this).find('option:selected').val();
        if( a == 0 ){
            var pilih = "<div>";
            pilih += "<textarea placeholder='Masukkan nama MR Penggangi...'></textarea>";
        }else{
            $('#fieldSetPengganti').html(null);
        }
        $('#fieldSetPengganti').html(pilih);
    });

    function countCheckbox(){
        $('#count_anggota_chk').html($('[name="anggota_chk[]"]:checked').length);
    }
</script>