<script>
    $(document).ready(function () {
        $('#tglBentuk').datepicker({
            language: 'EN',
            format: 'dd/mm/yyyy',
            pickSeconds: false,
            pick12HourFormat: false
        });
        $('#tglBerakhir').datepicker({
            language: 'EN',
            format: 'dd/mm/yyyy',
            pickSeconds: false,
            pick12HourFormat: false
        });
        $(":input").inputmask();
    });
    $(function () {
        $("#tglBentuk").inputmask("date");
        $("#tglBerakhir").inputmask("date");
    });
    var loadFile = function (event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
        filenameProfileImage();
    };
    function filenameProfileImage() {
        var filename = document.forms["formData"].elements["detailfile"];
        var name_of_file = document.forms["formData"].elements["text_url"];

        if (name_of_file.length == undefined) {
            name_of_file.value = filename.value;
        } else {
            for (var i = 0, len = filename.length; i < len; i++) {
                name_of_file[i].value = filename[i].value;
            }
        }
    }
</script>
<div class="box box-primary">
    <!-- form start -->
    <form id="formDatax" role="form" method="post" action="<?php echo p_base_url(); ?>/admin/tim/saveNewTimUser">
        <input type="text" class="hidden" name="id_pimpinan" value="<?php echo $this->session->idCustomer; ?>">

        <div class="box-body">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <a title="Logo Kelompok" href="javascript:void(0)" class="thumbnail" style="padding:1px">
                        <img id="output" class="img-circle" width="200"
                             src="<?php p_base_url('/img/unknown_tim.png') ?>" alt="Image">
                    </a>
                </div>
                <div class="panel-body">
                    <div class="fileUpload btn btn-primary col-xs-12" style="padding: 5px;" title="Upload Picture">
                        <span class="fa fa-upload"></span>
                        <input type="file" name="detailfile" class="upload" onchange="loadFile(event);">
                    </div>
                    <div class="hidden">
                        <input class="form-control" type="text" id="text_url" name="path_medium" style="height:32px"
                               placeholder="Url Photo" readonly>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label for="password">Nama Kelompok</label>
                <input type="text" data-role="text" name="nama" class="form-control" placeholder="Nama Kelompok"
                       required="required">
            </div>
            <div class="form-group col-sm-6">
                <label>Tgl. Bentuk</label>
                <input id="tglBentuk" name="tgl_bentuk" type="text" class="form-control date"
                       placeholder="Tanggal Bentuk">
            </div>
            <div class="form-group col-sm-6">
                <label>Tgl. Berakhir</label>
                <input id="tglBerakhir" name="tgl_berakhir" type="text" class="form-control date"
                       placeholder="Tanggal Berakhir">
            </div>
            <div class="form-group col-sm-12">
                <label>Tipe Tim</label><span style="color: #d62728;font-size: 8pt;">*)</span>

                <div class="dropdown">
                    <select id="tipe" name="tipe" class="form-control">
                        <option value="100"><?php echo TipeTim::getString(100); ?></option>
                        <option value="101"><?php echo TipeTim::getString(101); ?></option>
                        <option value="102"><?php echo TipeTim::getString(102); ?></option>
                        <option value="103"><?php echo TipeTim::getString(103); ?></option>
                        <option value="104"><?php echo TipeTim::getString(104); ?></option>
                    </select>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label>Keterangan</label><span style="color: #d62728;font-size: 8pt;">*)</span>
                <textarea name="ket" type="text" class="form-control" placeholder="Keterangan"
                          maxlength="200"></textarea>
            </div>
        </div>
        <!-- /.box-body -->

        <div class="box-footer">
            <button type="button" class="btn btn-primary" onclick="doSubmitBinaanUser()">Submit</button>
        </div>
    </form>
</div>
<script>
    var validateForm = {
        rules: {
            nama: {required: true},
            tgl_bentuk: {required: true}
        },
        messages: {
            nama: {
                required: "Afwan, data ini diperlukan. Mohon diisi"
            },
            tgl_bentuk: {
                required: "Afwan, data ini diperlukan. Mohon diisi"
            }
        }
    };
    function doSubmitBinaanUser() {
        $("#formDatax").validate(validateForm);
        $('#formDatax').ajaxForm(optionsForm);
        $('#formDatax').submit();
    }
    var optionsForm = {
        beforeSerialize: function (form, options) {
//            console.log(form);
//            console.log(options);
        },
        dataType: 'json',
        success: showResponse
    };
    function showResponse(response, statusText, xhr, $form) {
        response = parseJson(response);
        if (response.isSuccess) {
            hideAllModal();
            gotoList();
        } else {
            showModalError(response.message);
        }
    }
    function gotoList() {
        location.href = "<?php p_base_url();?>/admin/tim/index";
    }
</script>