<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-danger">
                <!-- form start -->
                <form id="formSignup" role="form" method="post"
                      action="<?php p_base_url(); ?>/login/signup" enctype="multipart/form-data">
                    <input type="hidden" name="id">
                    <div class="box-body">
                        <div class="input-group">
                            <input name="email" type="email" class="form-control" placeholder="Email">
                            <span class="input-group-addon" id="basic-addon1">Email</span>
                        </div>
                        <div class="input-group">
                            <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password">
                            <span class="input-group-addon" id="basic-addon1">Password</span>
                        </div>
                        <div class="input-group">
                            <input name="nama" type="text" class="form-control" placeholder="Nama Tampilan">
                            <span class="input-group-addon" id="basic-addon1">Nama Tampilan</span>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="button" class="btn btn-primary" onclick="submitSignup()">Submit</button>
                    </div>
                </form>
            </div>
            <!-- /.box -->
        </div>
    </div>
</section><!-- /.content -->
<script>
    var optionsFormSignup = {
        beforeSerialize: function($form, options) {
        },
        dataType:  'json',
        success: showResponseSignup
    };
    function submitSignup(){
        $('#formSignup').ajaxForm(optionsFormSignup);
        $('#formSignup').submit();
    }
    function showResponseSignup(response, statusText, xhr, $form)  {
        response = parseJson(response);
        console.log(response);
        if(response.isSuccess){
            showModalInfo(response.message+' '+response.data.email);
        }else{
            showModalInfo(response.message);
        }
    }
</script>