<script>
    $(document).ready(function() {
        $('#tglLahirBinaan').datepicker({
            language: 'EN',
            format: 'dd/mm/yyyy',
            pickSeconds: false,
            pick12HourFormat: false
        });
    });
    var loadFile = function(event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
        filenameProfileImage();
    };
    function filenameProfileImage() {
        var filename = document.forms["formData"].elements["detailfile"];
        var name_of_file = document.forms["formData"].elements["text_url"];

        if (name_of_file.length == undefined) {
            name_of_file.value = filename.value;
        } else {
            for (var i = 0, len = filename.length; i < len; i++) {
                name_of_file[i].value = filename[i].value;
            }
        }
    }
</script>
<?php
    $idTim = $_POST['id_tim'];
    $objTim = \SqTim::findFirstById($idTim);
?>

<div class="box box-primary">
    <!-- form start -->
    <form id="formDatax" role="form" method="post" action="<?php echo p_base_url(); ?>/admin/tim_anggota/saveNewTimAnggotaUser">
        <input type="text" class="hidden" name="id_tim" value="<?php echo $idTim; ?>">
        <input type="text" class="hidden" name="nama_tim" value="<?php echo $objTim->nama; ?>">
        <div class="box-body">

            <div class="row">
                <div class="form-group col-sm-12">
                    <label for="password">Nama Kelompok: <?php echo empty($objTim) ? "" : $objTim->nama; ?></label>
                </div>
                <label class="col-sm-12">Foto</label>
                <div class="col-sm-12 text-center">
                    <a href="javascript:void(0)" class="thumbnail" style="padding:1px">
                        <img id="output" class="img-circle" width="100"
                             src="<?php p_base_url('/img/unknown_person.png') ?>" alt="Image">
                    </a>
                    <div class="panel-body" style="padding: 0;">
                        <div class="fileUpload btn btn-primary col-sm-12" style="padding: 5px;">
                            <a style="color: #ff0000">*</a>Upload Pict.
                            <input type="file" name="detailfile" class="upload"
                                   onchange="loadFile(event);">
                        </div>
                        <div class="col-sm-12 hidden" style="padding: 0px;">
                            <input class="form-control" type="text" id="text_url"
                                   name="path_medium" style="height:32px"
                                   placeholder="Url Photo" readonly>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label for="password">Nama Anggota</label><span class="required">*</span>
                <input id="namaAnggota" type="text" data-role="text" name="nama_anggota" class="form-control" placeholder="Nama">
            </div>
            <div class="form-group col-sm-12">
                <label>Jenis Kelamin</label><span class="required">*</span>
                <div class="dropdown">
                    <select id="jns_kelamin" name="jns_kelamin" class="form-control">
                        <option value="1">IKHWAN</option>
                        <option value="0">AKHWAT</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label>Alamat</label><span class="required">*</span>
                <textarea id="alamat" name="alamat" type="text" class="form-control" placeholder="Alamat"></textarea>
            </div>
            <div class="form-group col-sm-6">
                <label>Kontak</label><span class="required">*</span>
                <input id="mobile" name="mobile" type="text" class="form-control" placeholder="Mobile">
            </div>
            <div class="form-group col-sm-6">
                <label>Email</label>
                <input id="email" name="email" type="email"
                       class="form-control" placeholder="Email">
            </div>
            <div class="form-group col-sm-12" >
                <label>Tingkat Binaan</label>
                <div class="dropdown">
                    <select id="status_penugasan" name="status_penugasan" class="form-control">
                        <option value="77"><?php echo TypeCustomer::getStringStatus(77);?></option>

                        <option value="6"><?php echo TypeCustomer::getStringStatus(6);?></option>
                        <option value="7"><?php echo TypeCustomer::getStringStatus(7);?></option>
                        <option value="8"><?php echo TypeCustomer::getStringStatus(8);?></option>

                        <option value="9"><?php echo TypeCustomer::getStringStatus(9);?></option>
                        <option value="10"><?php echo TypeCustomer::getStringStatus(10);?></option>
                        <option value="11"><?php echo TypeCustomer::getStringStatus(11);?></option>

                        <option value="116"><?php echo TypeCustomer::getStringStatus(116);?></option>
                        <option value="115"><?php echo TypeCustomer::getStringStatus(115);?></option>
                        <option value="114"><?php echo TypeCustomer::getStringStatus(114);?></option>
                        <option value="113"><?php echo TypeCustomer::getStringStatus(113);?></option>
                        <option value="112"><?php echo TypeCustomer::getStringStatus(112);?></option>
                        <option value="111"><?php echo TypeCustomer::getStringStatus(111);?></option>
                    </select>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label>Keterangan</label>
                <textarea id="ket" name="ket" type="text" class="form-control" placeholder="Keterangan"></textarea>
            </div>
            <div class="form-group col-sm-12" >
                <label>Jadikan Sebagai Binaan ?</label>
                <div class="dropdown">
                    <select name="is_binaan" class="form-control">
                        <option value="1">YA</option>
                        <option value="0">TIDAK</option>
                    </select>
                </div>
            </div>
        </div><!-- /.box-body -->

        <div class="box-footer">
            <button type="button" class="btn btn-primary" onclick="doSubmitBinaanUser()">Submit</button>
        </div>
    </form>
</div>
<script>
    $('#anggota').change(function(){
        var getValue= $(this).val();
        if(getValue == '0'){
            $('#namaAnggota').html('');
            $('#jns_kelamin').html('');
        }else {
            var url = "<?php p_base_url();?>/admin/tim_anggota/getAnggota?id_anggota="+getValue;
            $.getJSON(url, function (data) {
                if( data.isSuccess ){
                    $('#namaAnggota').val(data.data.first_name+" "+data.data.last_name);
                    $('#jns_kelamin').val(data.data.jns_kelamin);
                    if(data.data.path_small != undefined){
                        $('#output').attr("src", "<?php p_base_url(); ?>"+data.data.path_small);
                    }else{
                        $('#output').attr("src", "<?php p_base_url('/img/unknown_person.png'); ?>");
                    }
                    $('#jns_kelamin').val(data.data.jns_kelamin);
                    $('#mobile').val(data.data.mobile);
                    $('#email').val(data.data.email);
                    $('#alamat').val(data.data.alamat);
                    $('#status_penugasan').val(data.data.status_penugasan);
                }
            });
        }
    });
    var validateForm = {
        rules: {
            id_anggota: {required: true},
            alamat: {required: true},
            mobile: {required: true}
        },
        messages: {
            id_anggota: {required: "Afwan, data ini diperlukan. Mohon diisi"},
            alamat: {required: "Afwan, data ini diperlukan. Mohon diisi"},
            mobile: {required: "Afwan, data ini diperlukan. Mohon diisi"}
        }
    };
    function doSubmitBinaanUser() {
        $("#formDatax").validate(validateForm);
        $('#formDatax').ajaxForm(optionsForm);
        $('#formDatax').submit();
    }
    var optionsForm = {
        beforeSerialize: function(form, options) {
//            console.log(form);
//            console.log(options);
        },
        dataType:  'json',
        success: showResponse
    };
    function showResponse(response, statusText, xhr, $form)  {
        response = parseJson(response);
        if(response.isSuccess){
            hideAllModal();
            gotoList();
        }else{
            showModalError(response.message);
        }
    }
    function gotoList(){
        location.href="<?php p_base_url();?>/admin/tim_anggota/index?id_kelompok=<?php echo $idTim; ?>";
    }
</script>