<script>
    $(document).ready(function() {
        $('#tglLahirBinaan').datepicker({
            language: 'EN',
            format: 'dd/mm/yyyy',
            pickSeconds: false,
            pick12HourFormat: false
        });
    });
    var loadFile = function(event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
        filenameProfileImage();
    };
    function filenameProfileImage() {
        var filename = document.forms["formData"].elements["detailfile"];
        var name_of_file = document.forms["formData"].elements["text_url"];

        if (name_of_file.length == undefined) {
            name_of_file.value = filename.value;
        } else {
            for (var i = 0, len = filename.length; i < len; i++) {
                name_of_file[i].value = filename[i].value;
            }
        }
    }
</script>
<div class="box box-primary">
    <!-- form start -->
    <form id="formDatax" role="form" method="post" action="<?php echo p_base_url(); ?>/admin/binaan/saveNewBinaanUser">
        <input type="text" class="hidden" name="id_mr" value="<?php echo $this->session->idCustomer; ?>">
        <div class="box-body">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <a href="javascript:void(0)" class="thumbnail" style="padding:1px">
                        <img id="output" class="img-circle" width="200"
                             src="<?php p_base_url('/img/unknown_person.png') ?>" alt="Image">
                    </a>
                </div>
                <div class="panel-body">
                    <div class="fileUpload btn btn-primary col-xs-12" style="padding: 5px;" title="Upload Picture">
                        <span class="fa fa-upload"></span>
                        <input type="file" name="detailfile" class="upload" onchange="loadFile(event);">
                    </div>
                    <div class="hidden">
                        <input class="form-control" type="text" id="text_url" name="path_medium" style="height:32px" placeholder="Url Photo" readonly>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-6">
                <label for="password">Nama Depan</label><span class="required">*</span>
                <input type="text" data-role="text" name="first_name" class="form-control" placeholder="Nama Depan">
            </div>
            <div class="form-group col-sm-6">
                <label for="password">Nama Belakang</label>
                <input type="text" data-role="text" name="last_name" class="form-control" placeholder="Nama Belakang">
            </div>
            <div class="form-group col-sm-12">
                <label>Jenis Kelamin</label><span class="required">*</span>
                <div class="dropdown">
                    <select id="jns_kelamin" name="jns_kelamin" class="form-control">
                        <option value="1">IKHWAN</option>
                        <option value="0">AKHWAT</option>
                    </select>
                </div>
            </div>
            <div class="form-group col-sm-6">
                <label>Kontak</label><span class="required">*</span>
                <input name="mobile" type="text" class="form-control" placeholder="Mobile">
            </div>
            <div class="form-group col-sm-6">
                <label>Email</label>
                <input name="email" type="email"
                       class="form-control" placeholder="Email">
            </div>
            <div class="form-group col-sm-12" >
                <label>Asal Sekolah</label><span class="required">*</span>
                <div class="dropdown">
                    <div>
                        <?php
                        echo $this->tag->select(array("id_sekolah", "id" => "id_sekolah",
                            \SqMstSekolah::find(),
                            "useEmpty" => true,
                            "emptyText" => "-Pilih Sekolah-",
                            "class" => "form-control",
                            "using" => array("id", "nm_sekolah")
                        ));?>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label>Alamat Rumah</label>
                <textarea name="alamat" type="text" class="form-control" placeholder="Alamat"></textarea>
            </div>
            <div class="form-group col-sm-12" >
                <label>Tingkat Binaan</label><span class="required">*</span>
                <div class="dropdown">
                    <select id="status_penugasan" name="status_penugasan" class="form-control">
                        <option value="77"><?php echo TypeCustomer::getStringStatus(77);?></option>

                        <option value="6"><?php echo TypeCustomer::getStringStatus(6);?></option>
                        <option value="7"><?php echo TypeCustomer::getStringStatus(7);?></option>
                        <option value="8"><?php echo TypeCustomer::getStringStatus(8);?></option>

                        <option value="9"><?php echo TypeCustomer::getStringStatus(9);?></option>
                        <option value="10"><?php echo TypeCustomer::getStringStatus(10);?></option>
                        <option value="11"><?php echo TypeCustomer::getStringStatus(11);?></option>

                        <option value="116"><?php echo TypeCustomer::getStringStatus(116);?></option>
                        <option value="115"><?php echo TypeCustomer::getStringStatus(115);?></option>
                        <option value="114"><?php echo TypeCustomer::getStringStatus(114);?></option>
                        <option value="113"><?php echo TypeCustomer::getStringStatus(113);?></option>
                        <option value="112"><?php echo TypeCustomer::getStringStatus(112);?></option>
                        <option value="111"><?php echo TypeCustomer::getStringStatus(111);?></option>
                    </select>
                </div>
            </div>
        </div><!-- /.box-body -->

        <div class="box-footer">
            <button type="button" class="btn btn-primary" onclick="doSubmitNewBinaanUser()">Submit</button>
        </div>
    </form>
</div>
<script>
    var validateForm = {
        rules: {
            first_name: {required: true},
            jns_kelamin: {required: true},
            status_penugasan: {required: true},
            mobile: {required: true}
        },
        messages: {
            first_name: {required: "Afwan, data ini diperlukan. Mohon diisi"},
            jns_kelamin: {required: "Afwan, data ini diperlukan. Mohon diisi"},
            status_penugasan: {required: "Afwan, data ini diperlukan. Mohon diisi"},
            mobile: {required: "Afwan, data ini diperlukan. Mohon diisi"}
        }
    };
    function doSubmitNewBinaanUser() {
        $("#formDatax").validate(validateForm);
        $('#formDatax').ajaxForm(optionsForm);
        $('#formDatax').submit();
    }

    var optionsForm = {
        beforeSerialize: function(form, options) {
//            console.log(form);
//            console.log(options);
        },
        dataType:  'json',
        success: showResponse
    };
    function showResponse(response, statusText, xhr, $form)  {
        response = parseJson(response);
        if(response.isSuccess){
            hideAllModal();
            gotoList();
        }else{
            showModalError(response.message);
        }
    }
    function gotoList(){
        location.href="<?php p_base_url();?>/admin/binaan/index";
    }
</script>