<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <!-- form start -->
                <form id="formData" role="form" method="post" action="">
                    <div class="box-body">
                        <div class="form-group">
                            <label>Foto Admin</label>
                            <div class="media">
                                <div class="media-body">
                                    <div class="form-group">
                                        <label>Member</label><span style="color: #d62728;font-size: 10px;">&nbsp;*Jika ingin menghubungkan ke Customer</span>

                                        <div class="dropdown">
                                            <div>
                                                <?php
                                                echo $this->tag->select(array("id_customer", "id" => "id_customer",
                                                    \SqCustomer::find(),
                                                    "useEmpty" => true,
                                                    "emptyText" => "-Pilih Member-",
                                                    "class" => "form-control",
                                                    "using" => array("id", "first_name")
                                                )); ?>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="username">Username</label><span
                                            style="color: #d62728;">&nbsp;*</span>
                                        <input type="hidden" name="id">
                                        <input type="text" data-role="text" id="username" name="username"
                                               class="form-control" placeholder="Enter Username">
                                    </div>
                                    <?php if (!$is_edit): ?>
                                        <div class="form-group">
                                            <label for="password">Password</label><span style="color: #d62728;">&nbsp;*</span>
                                            <input type="password" id="password" name="password"
                                                   class="form-control" placeholder="Enter Password">
                                        </div>
                                    <?php endif; ?>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="nama">Admin?</label><span style="color: #d62728;">&nbsp;*</span>
                            <!--<input type="text" data-role="text" id="status" name="status" class="form-control" placeholder="Status">-->
                            <div class="dropdown">
                                <select id="is_admin" name="is_admin" class="form-control">
                                    <option value="1">Ya</option>
                                    <option value="0">Bukan</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="nama">Nama Tampilan</label><span style="color: #d62728;">&nbsp;*</span>
                            <input type="text" data-role="text" id="nama" name="nama" class="form-control"
                                   placeholder="Enter Nama">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label><span style="color: #d62728;">&nbsp;*</span>
                            <input type="text" data-role="text" data-inputmask="'alias': 'email'" id="email"
                                   name="email" class="form-control" placeholder="Enter Email">
                        </div>
                        <div class="form-group">
                            <label for="nip">NIP</label>
                            <input type="text" data-role="text" id="nip" name="nip" class="form-control"
                                   placeholder="Enter NIP">
                        </div>
                        <div class="form-group">
                            <label for="id_division">Bagian Terkait</label>

                            <div class="dropdown">
                                <div>
                                    <select id="id_division" name="id_division" class="form-control">
                                        <option value="">Pilih Bagian</option>
                                        <?php
                                        $listDivisi = \PgDivision::find();
                                        foreach ($listDivisi as $divisi):
                                            ?>
                                            <option
                                                value="<?php echo $divisi->id; ?>"><?php echo $divisi->name; ?></option>
                                        <?php endforeach; ?>
                                    </select>
                                </div>
                            </div>
                            <!--<input type="text" data-role="text" id="id_category"
                                   name="id_category" class="form-control" placeholder="Kategori">-->
                        </div>
                        <div class="form-group">
                            <label for="keterangan">Keterangan</label>
                            <input type="text" data-role="text" id="keterangan" name="keterangan"
                                   class="form-control" placeholder="Enter Keterangan">
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="button" class="btn btn-primary"
                                onclick="submitForm()"></button>
                        <button type="button" class="btn btn-primary" onclick="gotoList();">Back</button>
                    </div>
                </form>
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>