<?php
$listKegiatan = SqMstKegiatan::find();
foreach( $listKegiatan as $objKegiatan ):?>
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box <?php echo $objKegiatan->tipe_pin; ?>">
            <div class="inner">
                <h3><?php echo $objKegiatan->nama; ?></h3>
                <p><?php echo $objKegiatan->sub_judul; ?></p>
            </div>
            <div class="icon">
                <i class="ion <?php echo $objKegiatan->icon; ?>"></i>
            </div>
            <a href="<?php echo p_base_url($objKegiatan->link); ?>" class="small-box-footer">
                Telusuri <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
<?php endforeach; ?>
<div class="col-md-3 col-sm-6 col-xs-12 hidden">
    <div class="info-box">
        <span class="info-box-icon bg-green"><i class="fa fa-flag-o"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">Taklimat/ Info</span>
            <span class="info-box-number">410</span>
        </div>
        <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
</div>