
<?php
$result = $_POST; if($result)$result =(object)$result['result'] ?>

<table id="grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
    <tr><th colspan="15" style='text-align:center;'>LAPORAN RESPON OPINI PUBLIK</th></tr>
    <tr>
        <th rowspan="2" style='text-align:center;vertical-align:middle'>No</th>
        <th rowspan="2" style='text-align:center;vertical-align:middle'>Kategori</th>
        <th rowspan="2" style='text-align:center;vertical-align:middle'>Jalur Pengaduan</th>
        <th rowspan="2" style='text-align:center;vertical-align:middle'>Wil</th>
        <th rowspan="2" style='text-align:center;vertical-align:middle'>TGL Pengaduan Masuk</th>
        <th rowspan="2" style='text-align:center;vertical-align:middle'>Pelapor</th>
        <th rowspan="2" style='text-align:center;vertical-align:middle'>Pertanyaan Asli</th>
        <th colspan="4" style='text-align:center;'>Tindak Lanjut</th>
        <th colspan="2" style='text-align:center;'>Respon Unit Terkait</th>
        <th rowspan="2" style='text-align:center;vertical-align:middle'>Ket</th>
        <th rowspan="2" style='text-align:center;vertical-align:middle'>Ket. Tambahan/Foto</th>
    </tr>
    <tr>
        <th style='text-align:center;'><?php echo ComplaintStatus::getStatus(ComplaintStatus::$DITERIMA); ?></th>
        <th style='text-align:center;'><?php echo ComplaintStatus::getStatus(ComplaintStatus::$DIPROSES); ?></th>
        <th style='text-align:center;'><?php echo ComplaintStatus::getStatus(ComplaintStatus::$TIDAK_DIPROSES); ?></th>
        <th style='text-align:center;'><?php echo ComplaintStatus::getStatus(ComplaintStatus::$SELESAI); ?></th>
        <th style='text-align:center;'>Sudah</th>
        <th style='text-align:center;'>Belum</th>
    </tr>
    </thead>
    <?php if(!$result): ?>
    <tbody><tr><td ></td></tr></tbody>
    <?php else:  ?>
    <tbody>
    <?php $i=0; foreach($result as $data){ $data=(object)$data; $i++; ?>
        <tr>
            <td class="" style='text-align:center;'><?php echo $i; ?></td>
            <td class="" style='text-align:center;'><?php echo $data->name_category; ?></td>
            <td class="" style='text-align:center;'><?php echo $data->source; ?></td>
            <td class="" style='text-align:center;'><?php echo $data->name_wil; ?></td>
            <td class="" style='text-align:center;'><?php echo date('d/m/Y',$data->time_reported); ?></td>
            <td class="" style='text-align:center;'><?php echo $data->name_informer; ?></td>
            <td class="" style='text-align:center;'><?php echo $data->description; ?></td>
            <td class="" style='text-align:center;'><?php if($data->status_process == ComplaintStatus::$DITERIMA){echo "&#10004;";} ?></td>
            <td class="" style='text-align:center;'><?php if($data->status_process == ComplaintStatus::$DIPROSES){echo "&#10004;";} ?></td>
            <td class="" style='text-align:center;'><?php if($data->status_process == ComplaintStatus::$TIDAK_DIPROSES){echo "&#10004;";} ?></td>
            <td class="" style='text-align:center;'><?php if($data->status_process == ComplaintStatus::$SELESAI){echo "&#10004;";} ?></td>
            <td class="" style='text-align:center;'><?php if($data->status_respons_unit == ComplaintResponsUnit::$SUDAH){echo "&#10004;";} ?></td>
            <td class="" style='text-align:center;'><?php if($data->status_respons_unit == ComplaintResponsUnit::$BELUM){echo "&#10004;";} ?></td>
            <td class="" style='text-align:center;'><?php echo $data->ket; ?></td>
            <td class="" style='text-align:center;'><?php if($data->photo_complaint){echo "<img src='".$data->photo_complaint."' width=75>";} ?></td>
        </tr>
    <?php } ?>
    </tbody>
    <tfoot>
    <!--<tr>
        <td class="" style='text-align:center;'></td>
        <td class="" style='text-align:center;'></td>
        <td class="" style='text-align:center;'></td>
        <td class="" style='text-align:center;'></td>
        <td class="" style='text-align:center;'></td>
        <td class="" style='text-align:center;'></td>
        <td class="" style='text-align:center;'></td>
        <td class="" style='text-align:center;'></td>
        <td class="" style='text-align:center;'></td>
    </tr>-->
    </tfoot>
    <?php endif; ?>
</table>
