<?php $this->partial("layouts/admin/header"); ?>
    <script>
        $(document).ready(function () {
            $('#tglKegiatan').datepicker({
                language:'EN',
                format: 'dd/mm/yyyy',
                pickSeconds: false,
                pick12HourFormat: false
            });
            $(":input").inputmask();
            loadForm();
            $('input[name="rad_kehadiran"]').change(function () {
                alert($(this).val());
                if ($(this).val() == 1) {
                    $('#hadir').attr('checked', true);
                    $('#kehadiran').val(1);
                } else {
                    $('#tdk_hadir').attr('checked', true);
                    $('#kehadiran').val(0);
                }
            });
        });

        $(function () {
            $("#tglKegiatan").inputmask("datetime");
        });

        var loadFile = function (event) {
            var output = document.getElementById('output');
            output.src = URL.createObjectURL(event.target.files[0]);
            filenameProfileImage();
        };
        function filenameProfileImage() {
            var filename = document.forms["formData"].elements["detailfile"];
            var name_of_file = document.forms["formData"].elements["text_url"];

            if (name_of_file.length == undefined) {
                name_of_file.value = filename.value;
            } else {
                for (var i = 0, len = filename.length; i < len; i++) {
                    name_of_file[i].value = filename[i].value;
                }
            }
        }
        var doSetJnsKelamin = function (event, type) {
            var output = document.getElementById('output');
            var tipe = type;
            if (tipe == 1) {
                output.src = "<?php base_url('img/unknown_member.png');?>";
            } else {
                output.src = URL.createObjectURL("<?php base_url('/img/email.png');?>");
            }
        }
        $(function () {
            $("#source-hide").prop('disabled', true);
            $("#source-hide").hide();
            $("#source-dropdown").prop('disabled', true);
            $("#source-dropdown").hide();
            $("#source-dropdown").html('');
        });

        function loadForm() {
            var url = "<?php p_base_url();?>/admin/<?php echo $url;?>/get?id=<?php echo $id;?>";
            $.get(url, function (response) {
                data = parseJson(response);
                $("#text_url").val(data.path_medium);

                if (data.is_pimpinan_hadir == 0) {
                    $('#tdk_hadir').attr('checked', true);
                    $('#kehadiran')
                    val(data.is_pimpinan_hadir);
                } else {
                    $('#hadir').attr('checked', true);
                    $('#kehadiran')
                    val(data.is_pimpinan_hadir);
                }
            }, 'json');
            FormLoadByUrlJson(url, "formData");
        }
        function showResponse(response, statusText, xhr, $form) {
            response = parseJson(response);
            if (response.isSuccess) {
                gotoList();
            } else {
                showModalError(response.message);
            }
        }
        function showRequest(formData, jqForm, options) {

            return true;
        }
        var validateForm = {
            rules: {
                /*username: {
                 required: true
                 },
                 nama: {
                 required: true
                 }*/
            },
            messages: {
                /*username: {
                 required: "Please enter a Username"
                 },
                 nama: {
                 required: "Please enter a Nama"
                 }*/
            }
        };
        var optionsForm = {
            beforeSerialize: function ($form, options) {
//            var txtLocation = $('#location').val();
//            $.ajax({
//                type: 'GET',
//                url: '<?php //p_base_url("");?>///admin/manual/isLocationExist?txt_location='+txtLocation,
//                success: function (data) {
//                }
//            });
            },
            dataType: 'json',
            success: showResponse
        };
        function submitFormJurnal() {
            //$("#formData").validate(validateForm);
            $('#formData').ajaxForm(optionsForm);
            $('#formData').submit();
            $("input[type=file], input[type=hidden], input[type=text], input[type=radio], textarea").val("");
        }
    </script>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Form&nbsp;-&nbsp;<?php echo $title; ?>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i><?php echo $labelForm; ?></a></li>
                <li class="active"><?php echo $title; ?></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="box box-primary">
                        <div style="padding: 5px 0 5px 0;">
                            <button type="button" class="btn btn-primary" onclick="gotoList();">
                                <i class="fa fa-step-backward"></i>
                            </button>
                        </div>
                        <!-- form start -->
                        <form id="formData" role="form" method="post" action="<?php echo base_url() . "/admin/" . $url . "/" . $action; ?>">
                            <input type="hidden" name="id">
                            <div class="box-body">
                                <div class="form-group">
                                    <div class="media">
                                        <div class="col-sm-4 text-center">
                                            <a href="javascript:void(0)" style="padding:1px">
                                                <img id="output" class="img-circle"
                                                     src="<?php p_base_url('/img/unknown_member.png') ?>" alt=""
                                                     height="150">
                                            </a>

                                            <div class="panel-body" style="padding: 0;">
                                                <div class="fileUpload btn btn-primary col-sm-4" style="padding: 5px;">
                                                    <a style="color: #ff0000">*</a>Upload Pict.
                                                    <input type="file" name="detailfile" class="upload"
                                                           onchange="loadFile(event);">
                                                </div>
                                                <div class="col-sm-8">
                                                    <input class="form-control" type="text" id="text_url"
                                                           name="path_medium" style="height:32px"
                                                           placeholder="Url Photo" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            <div class="form-group">
                                                <label>Pembimbing</label>
                                                <span style="color: #d62728;font-size: 8pt;">*)Member yang berstatus membina.</span>

                                                <div class="dropdown">
                                                    <div>
                                                        <?php
                                                        echo $this->tag->select(array("id_pimpinan", "id" => "id_pimpinan",
                                                            \SqCustomer::find(array(
                                                                "conditions" => "is_membina=1",
                                                                "bind" => array(
                                                                    "" => ""
                                                                )
                                                            )),
                                                            "useEmpty" => true,
                                                            "emptyText" => "-Pilih Pembimbing-",
                                                            "class" => "form-control",
                                                            "using" => array("id", "first_name")
                                                        )); ?>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Tim/ Kelompok</label>
                                                <span style="color: #d62728;font-size: 8pt;">*)</span>
                                                <div class="dropdown">
                                                    <div>
                                                        <?php
                                                        echo $this->tag->select(array("id_tim", "id" => "id_tim",
                                                            \SqTim::find(),
                                                            "useEmpty" => true,
                                                            "emptyText" => "-Pilih Tim-",
                                                            "class" => "form-control",
                                                            "using" => array("id", "nama")
                                                        )); ?>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Kehadiran MR</label><span style="color: #d62728;font-size: 8pt;">*)</span>
                                                <div class="dropdown">
                                                    <select id="is_pimpinan_hadir" name="is_pimpinan_hadir" class="form-control">
                                                        <option value="0">TIDAK HADIR</option>
                                                        <option value="1">HADIR</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end div media-->
                                    <!--=====================================================-->
                                    <div class="form-group col-sm-6" style="padding: 0;">
                                        <label for="email">Tgl. Kegiatan</label><span
                                            style="color: #d62728;font-size: 8pt;">*)</span>
                                        <input id="tglKegiatan" name="tgl_kegiatan" type="datetime" class="form-control" placeholder="Tanggal Kegiatan">
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>Jenis Kegiatan</label>
                                        <div class="dropdown">
                                            <div><?php
                                                echo $this->tag->select(array("tipe_kegiatan", "id" => "tipe_kegiatan",
                                                    \TipeKegiatan::getList(),
                                                    "useEmpty" => true,
                                                    "emptyText" => "-Pilih Kegiatan-",
                                                    "class" => "form-control",
                                                    "using" => array("id", "nama")
                                                )); ?>
                                            </div>
                                            <script>
                                                $('#tipe_kegiatan').change(function (data) {
                                                    var a = $(this).find('option:selected').text();
                                                    $("#nama").val(a);
                                                });
                                            </script>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12 hidden" style="padding: 0;">
                                        <label for="password">Nama/ Tema Kegiatan</label>
                                        <input type="text" data-role="text" name="nama" class="form-control"
                                               placeholder="Nama Kegiatan">
                                    </div>
                                    <div class="form-group col-sm-12" style="padding: 0;">
                                        <label>Catatan</label>
                                        <textarea type="text" data-role="text" id="catatan" name="catatan"
                                                  class="form-control" placeholder="Catatan"></textarea>
                                    </div>
                                    <div class="form-group col-sm-12 hidden" style="padding: 0;">
                                        <label>Kehadiran Pembimbing</label>&nbsp;<span style="color: #d62728;font-size: 8pt;">*)</span>
                                        <div class="form-group">
                                            <div id="selected-object" class="dropdown-toggle form-control" data-toggle="dropdown" style="cursor:pointer">
                                                <div class="media">
                                                    <div class="pull-left">
<!--                                                        <img class="img-circle" src="--><?php //p_base_url('/img/unknown_member.png') ?><!--" alt="" height="50">-->
                                                    </div>
                                                    <div class="pull-right">
                                                        <span class="glyphicon glyphicon-chevron-down"></span>
                                                    </div>
                                                    <div class="media-body">
<!--                                                        <label>Test</label>-->
                                                    </div>
                                                </div>
                                            </div>
                                            <ul class="dropdown-menu" role="menu">
                                                <li id="B">
                                                    <a href="#">
                                                        <div class="media">
                                                            <div class="pull-left">
                                                                <img class="img-circle" src="<?php p_base_url('/img/unknown_member.png') ?>" width="30" height="30" class="media-object" />
                                                            </div>
                                                            <div class="media-body">
                                                                <label>Test</label>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="divider"></li>
                                                <li id="C">
                                                    <a href="#">
                                                        <div class="media">
                                                            <div class="pull-left">
                                                                <img class="img-circle" src="<?php p_base_url('/img/unknown_member.png') ?>" width="30" height="30" class="media-object" />
                                                            </div>
                                                            <div class="media-body">
                                                                <label>Test</label>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->

                            <div class="box-footer">
                                <button type="button" class="btn btn-primary" onclick="submitFormJurnal()"><?php echo $labelSubmit; ?></button>
                            </div>
                        </form>
                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div><!-- /.content-wrapper -->

    <script>
        function gotoList() {
            $("input[type=file], input[type=hidden], input[type=text], input[type=radio], textarea").val("");
            location.href = "<?php p_base_url();?>/admin/<?php echo $url;?>";
        }
    </script>
<?php $this->partial("layouts/admin/footer"); ?>