<?php $this->partial("layouts/admin/header"); ?>
<style>

</style>
    <script>
        var editor; // use a global for the submit and return data rendering in the examples

        function confirmDelete(id){
            var message = "Do you want to delete this data?";
            showModalWarning(message,confirmDeleteAction,[id]);
        }

        function confirmDeleteAction(id){
            $.post("<?php p_base_url();?>/admin/<?php echo $url;?>/remove", {id: id}, function (data) {
                hideAllModal();
//                showModalSuccess("Delete data is successfully !");
                reloadGrid();
            }, "json");
        }

        function gotoNew(){
            location.href="<?php p_base_url();?>/admin/<?php echo $url;?>/new";
        }

        function reloadGrid() {
            var table = $('#grid').DataTable();
            table.ajax.reload(function (json) {});
        }

        $(document).ready(function () {
            $('#img').corner();
            $('#grid').dataTable({
                "processing": true,
                "serverSide": true,
                "ajax": "<?php p_base_url();?>/admin/<?php echo $url;?>/list",
                "columns": [
                    { "data": "id", "render": function ( data, type, row ) {
                        return "<a href='<?php p_base_url();?>/admin/<?php echo $url;?>/edit?id="+data+"'>" +
                            "<span style='font-size:24px' class='fa fa-pencil'></span>" +"</a>&nbsp;" +
                            "&nbsp;<a href='#' onclick='confirmDelete(\""+data+"\");'>" +
                            "<span class='fa fa-times' style='font-size:24px'></span></a>";
                    }},
//                    { "data": "path_small",
//                        "render": function ( data, type, row ) {
//                            if(data != ''){
//                                var urls = data;
//                                return '<div class="userprofile">'+
//                                        '<div style="background-image:url(\''+'<?php //echo base_url(); ?>//'+urls +'\');" '+
//                                        'class="mypic" id="mypic">'+
//                                        '<span class="glow">&nbsp;</span></div>'+'</div>';
//                            }else{return '';}}
//                    },
                    { "data": "tgl_kegiatan", "render":function ( data, type, row ) { return data;}  },
                    { "data": "tipe_kegiatan", "render": function ( data, type, row ) { return data;}  },
                    { "data": "sts_hadir_mr", "render": function ( data, type, row ) { return data;}  },
                    { "data": "jml_peserta", "render": function ( data, type, row ) { return data;} }
//                    { "data": "email", "render": function ( data, type, row ) { return data;} },
//                    { "data": "asal_sekolah", "render": function ( data, type, row ) { return data;} },
//                    { "data": "path_file", "render": function ( data, type, row ) { return data;} },

                ]
            });//end grdi
        });
    </script>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                <?php echo $title; ?>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>Master</a></li>
                <li class="active"><?php echo $title; ?></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-body">
                            <div style="padding: 5px 5px 5px 0;">
                                <a class="button glyphicon glyphicon-plus"
                                   tooltips="Tambah data" onclick="doOpenFormJurnalUser()"
                                   title="Tambah data" href="javascript::void"></a>
                            </div>
                            <div style="padding: 5px;">
                                <table id="grid" class="table table-striped dt-responsive table-bordered" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <!--<th>Logo Halaqoh</th>-->
                                        <th>Action.</th>
                                        <th>Tgl. Kegiatan</th>
                                        <th>Jenis Kegiatan</th>
                                        <th>Status Kehadiran MR</th>
                                        <th>Jml. Peserta</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div><!-- /.content-wrapper -->
    <script>
        function doOpenFormJurnalUser(){
            $('#mymodal').modal('show');
            $('#mymodal .modal-title').html('Form Input Data Jurnal');
            $('#mymodal .modal-body').load('<?php PartialLibrary::p_load('admin/partial/form_new_jurnal_user') ?>',
                {id: null}, function (html) {
                    $('#mymodal .modal-body').html(html);
                });
        }
    </script>
<?php $this->partial("layouts/admin/footer"); ?>