<?php $this->partial("layouts/admin/header"); ?>
    <script>
        $(document).ready(function () {
            //var TODAY = '<?php echo \DateTimeLibrary::add_days_by_date(0,date("Y-m-d"),'d/m/Y');?>';
            $('.tglBentukTglAkhir').datepicker({
                language: 'EN',
                format: 'dd/mm/yyyy',
                pickSeconds: false,
                pick12HourFormat: false
            });
            //$("#tglLahir").val(TODAY);

            $('.img-round').roundImage();
            $(":input").inputmask();
            loadForm();
            $('input[name="jns_kelamin"]').change(function () {
                if ($(this).val() == 1) {
                    $('#output').attr("src", "<?php p_base_url()?>/img/unknown_member.png");
                } else {
                    $('#output').attr("src", "<?php p_base_url()?>/img/unknown_member_akhwat.png");
                }
            });
        });

        var loadFile = function (event) {
            var output = document.getElementById('output');
            output.src = URL.createObjectURL(event.target.files[0]);
            filenameProfileImage();
        };

        function filenameProfileImage() {
            var filename = document.forms["formData"].elements["detailfile"];
            var name_of_file = document.forms["formData"].elements["text_url"];

            if (name_of_file.length == undefined) {
                name_of_file.value = filename.value;
            } else {
                for (var i = 0, len = filename.length; i < len; i++) {
                    name_of_file[i].value = filename[i].value;
                }
            }
        }

        $(function () {
            $("#source-hide").prop('disabled', true);
            $("#source-hide").hide();
            $("#source-dropdown").prop('disabled', true);
            $("#source-dropdown").hide();
            $("#source-dropdown").html('');
        });


        function loadForm() {
            var url = "<?php p_base_url();?>/admin/<?php echo $url;?>/get?id=<?php echo $id;?>";
            $.get(url, function (data) {
                var idSubDistrict = data.id_sub_district;
                var url = "<?php p_base_url();?>/admin/manual/get_sub_district?id_regency=" + data.id_regency;
                $.getJSON(url, function (data) {
                    var showData;
                    showData += "<option value='0'>Please select</option>";
                    $.each(data, function (i, val) {
                        showData += "<option value=\"" + val.id + "\">" + val.nama + "</option>";
                    });
                    $('#sub_district').html(showData);
                    $('#sub_district').val(idSubDistrict);
                });
                $("#text_url").val(data.path_medium);
            }, 'json');
            FormLoadByUrlJson(url, "formData");
        }
        function showResponse(response, statusText, xhr, $form) {
            response = parseJson(response);
            if (response.isSuccess) {
                gotoList();
            } else {
                showModalError(response.message);
            }
        }
        function showRequest(formData, jqForm, options) {

            return true;
        }
        var validateForm = {
            rules: {
                /*username: {
                 required: true
                 },
                 password: {
                 required: true
                 },
                 nama: {
                 required: true
                 }*/
            },
            messages: {
                /*username: {
                 required: "Please enter a Username"
                 },
                 password: {
                 required: "Please enter a Password"
                 },
                 nama: {
                 required: "Please enter a Nama"
                 }*/
            }
        };
        var optionsForm = {
            beforeSerialize: function ($form, options) {
//            var txtLocation = $('#location').val();
//            $.ajax({
//                type: 'GET',
//                url: '<?php //p_base_url("");?>///admin/manual/isLocationExist?txt_location='+txtLocation,
//                success: function (data) {
//                }
//            });
            },
            dataType: 'json',
            success: showResponse
        };
        function submitFormTim() {
            //$("#formData").validate(validateForm);
            $('#formData').ajaxForm(optionsForm);
            $('#formData').submit();
        }
    </script>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                <button title="Kembali" type="button"
                        class="btn btn-primary" onclick="gotoList();"><i class="fa fa-step-backward"></i></button>
                Form&nbsp;-&nbsp;<?php echo $title; ?>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i><?php echo $labelForm; ?></a></li>
                <li class="active"><?php echo $title; ?></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="box box-primary">
                        <form id="formData" role="form" method="post" action="<?php echo base_url() . "/admin/" . $url . "/" . $action; ?>">
                            <input type="hidden" name="id">
                            <input id="idTim" type="hidden" name="id_tim">

                            <div class="box-body">
                                <div class="form-group">
                                    <div class="media">
                                        <div class="media-body">
                                            <div class="form-group col-sm-12">
                                                <label for="password">Nama Anggota</label><span class="required">*</span>
                                                <input id="namaAnggota" type="text" data-role="text" name="nama_anggota" class="form-control" placeholder="Nama">
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <label>Jenis Kelamin</label><span class="required">*</span>
                                                <div class="dropdown">
                                                    <select id="jns_kelamin" name="jns_kelamin" class="form-control">
                                                        <option value="1">IKHWAN</option>
                                                        <option value="0">AKHWAT</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <label>Alamat</label><span class="required">*</span>
                                                <textarea id="alamat" name="alamat" type="text" class="form-control" placeholder="Alamat"></textarea>
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label>Kontak</label><span class="required">*</span>
                                                <input id="mobile" name="mobile" type="text" class="form-control" placeholder="Mobile">
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label>Email</label>
                                                <input id="email" name="email" type="email"
                                                       class="form-control" placeholder="Email">
                                            </div>
                                            <div class="form-group col-sm-12" >
                                                <label>Tingkat Binaan</label>
                                                <div class="dropdown">
                                                    <select id="status_penugasan" name="status_penugasan" class="form-control">
                                                        <option value="77"><?php echo TypeCustomer::getStringStatus(77);?></option>

                                                        <option value="6"><?php echo TypeCustomer::getStringStatus(6);?></option>
                                                        <option value="7"><?php echo TypeCustomer::getStringStatus(7);?></option>
                                                        <option value="8"><?php echo TypeCustomer::getStringStatus(8);?></option>

                                                        <option value="9"><?php echo TypeCustomer::getStringStatus(9);?></option>
                                                        <option value="10"><?php echo TypeCustomer::getStringStatus(10);?></option>
                                                        <option value="11"><?php echo TypeCustomer::getStringStatus(11);?></option>

                                                        <option value="116"><?php echo TypeCustomer::getStringStatus(116);?></option>
                                                        <option value="115"><?php echo TypeCustomer::getStringStatus(115);?></option>
                                                        <option value="114"><?php echo TypeCustomer::getStringStatus(114);?></option>
                                                        <option value="113"><?php echo TypeCustomer::getStringStatus(113);?></option>
                                                        <option value="112"><?php echo TypeCustomer::getStringStatus(112);?></option>
                                                        <option value="111"><?php echo TypeCustomer::getStringStatus(111);?></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <label>Keterangan</label>
                                                <textarea id="ket" name="ket" type="text" class="form-control" placeholder="Keterangan"></textarea>
                                            </div>
                                        </div>
                                        <!--end div media-body-->
                                    </div>
                                    <!--end div media-->
                                    <!--=====================================================-->
                                </div>
                            </div>
                            <!-- /.box-body -->

                            <div class="box-footer">
                                <button type="button" class="btn btn-primary"
                                        onclick="submitFormTim()"><?php echo $labelSubmit; ?></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </section>
        <!-- /.content -->
    </div><!-- /.content-wrapper -->
    <script>
        function gotoList() {
            var idTim = $('#idTim').val();
            location.href = "<?php p_base_url();?>/admin/<?php echo $url;?>/index?id_kelompok="+idTim;
        }
        //======================= combo kec =====================
        $('#id_pimpinan').change(function () {
            $('#daftarBinaan').html('');
            var getValue = $(this).val();
            $('#id_pimpinan').val(getValue);

            if (getValue == '0') {
                $('#daftarBinaan').html('');
                $('#id_pimpinan').val('');
            } else {
                var url = "<?php p_base_url();?>/admin/tim/getBinaan?id_mr=" + getValue;
                $.getJSON(url, function (data) {
                    var showData = "";
                    //showData += "<label value='0'></label>";
                    $.each(data, function (i, val) {
                        console.log('<?php echo p_base_url(); ?>' + val.path_small);
                        //showData += "<option value=\"" + val.id + "\">" + val.first_name + "</option>";
                        showData += '<div>'
                            + '<img class="img-circle" width="50" src="<?php echo p_base_url(); ?>' + val.path_small + '">'
                            + '&nbsp;<label value=\"' + val.id + '\">' + val.first_name + '</label>'
                            + '<div></br>';
                    });
                    $('#daftarBinaan').html(showData);
                });
            }
        });
    </script>
<?php $this->partial("layouts/admin/footer"); ?>