<?php $this->partial("layouts/admin/header"); ?>
    <script>
        var editor; // use a global for the submit and return data rendering in the examples

        function confirmDelete(id) {
            var message = "Do you want to delete this data?";
            showModalWarning(message, confirmDeleteAction, [id]);
        }

        function confirmDeleteAction(id) {
            $.post("<?php p_base_url();?>/admin/<?php echo $url;?>/remove", {id: id}, function (data) {
                hideAllModal();
                reloadGrid();
            }, "json");
        }

        function gotoList() {
            location.href = "<?php p_base_url();?>/admin/tim/index";
        }

        function gotoNew() {
            location.href = "<?php p_base_url();?>/admin/<?php echo $url;?>/new";
        }

        function reloadGrid() {
            var table = $('#grid').DataTable();
            table.ajax.reload(function (json) {
            });
        }
        $(document).ready(function () {
            $('#img').corner();
            $('#grid').dataTable({
                "processing": true,
                "serverSide": true,
                "ajax": "<?php p_base_url();?>/admin/<?php echo $url;?>/list?id_kelompok=<?php echo $data_kelompok->id; ?>",
                "columns": [
                    {"data": "id", "render": function (data, type, row) {
                        return " <a href='<?php p_base_url();?>/admin/<?php echo $url;?>/edit?id=" +data +"' "+
                            "<span style='font-size:24px' class='fa fa-pencil'></span>" + "</a>&nbsp;" +
                            "&nbsp;<a href='#' onclick='confirmDelete(\"" + data + "\");'>"+
                            "<span class='fa fa-times' style='font-size:24px'></span></a>"+
                            "</a>";
                        }
                    },
                    {"data": "path_small",
                        "render": function (data, type, row) {
                            if (data != '') {
                                var urls = data;
                                return '<a style="cursor:pointer;" onclick="doOpenDetil(\'' + row.id + '\')"><div class="userprofile">' +
                                    '<img src=<?php echo base_url(); ?>'+urls +' class="img-circle" width="50px" </img>';
                            } else {
                                return '';
                            }
                        }
                    },
                    {"data": "first_name", "render": function (data, type, row) {return data;}},
                    {"data": "mobile", "render": function (data, type, row) {return data;}}

                ]
            });//end grdi
        });
    </script>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                <?php
                    if($this->session->is_mr){
                        echo "Data Anggota Kelompok".": <strong>".$data_kelompok->nama."</strong>";
                    }else{
                        echo $title;
                    }
                ?>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>Master</a></li>
                <li class="active"><?php echo $title; ?></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-body">
                            <?php /*if ($this->session->isAdmin): */?>
                            <div style="padding: 5px 0 5px 0;">
                                <a class="btn btn-large btn-primary" href="<?php echo base_url("/admin/tim/index"); ?>"><i
                                        class="fa fa-step-backward"></i></a>
                                <button title="Data Baru" type="button"
                                        class="btn btn-default" onclick="doOpenFormTimAnggotaUser('<?php echo $data_kelompok->id; ?>')"><i class="fa fa-plus"></i></button>
                            </div>
                            <?php /*endif; */?>
                            <div style="padding: 5px;">
                                <table id="grid" class="table table-striped dt-responsive table-bordered" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>Action.</th>
                                        <th>Foto</th>
                                        <th>Nama</th>
                                        <th>Kontak</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div><!-- /.content-wrapper -->
    <script>
        function doOpenDetil($idCustomer) {
            var aidi = $idCustomer;
            $('#mymodal').modal('show');
            $('#mymodal .modal-title').html('Detil Binaan');
            $('#mymodal .modal-body').load('<?php PartialLibrary::p_load('admin/partial/form_detail_tim_anggota') ?>',
                {id: aidi}, function (html) {
                    $('#mymodal .modal-body').html(html);
                });
        }
        function doOpenFormTimAnggotaUser($idTim){
            var aidiTim = $idTim;
            $('#mymodal').modal('show');
            $('#mymodal .modal-title').html('Form Input Data Tim');
            $('#mymodal .modal-body').load('<?php PartialLibrary::p_load('admin/partial/form_new_tim_anggota_user') ?>',
                {id_tim: aidiTim}, function (html) {
                    $('#mymodal .modal-body').html(html);
                });
        }
    </script>
<?php $this->partial("layouts/admin/footer"); ?>