<?php $this->partial("layouts/hansen/header") ?>

<!-- Preloader -->
        <!-- Navbar -->
        <nav class="navbar navbar-burger navbar-fixed-top is-transparent" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="<?php p_base_url() ?>/front/hansen">Satuqolbu</a>
                    <span class="sr-only">Toggle navigation</span>
                    <button class="icon icon-menu burger-menu"></button>
                </div>
                <div class="menu-wrapper">
                    <div class="overlay-menu flex flex-middle">
                        <?php $this->partial("front/page_hansen/partial/menuitem"); ?>
                    </div>
                </div>
            </div>
        </nav>

        <!-- Header -->
        <header class="header hero flex flex-middle flex-center" role="banner">
            <div class="card card-404">
                <div class="card-content text-center">
                    <h1 class="bigtitle">404</h1>
                    <h4>Afwan, Terdapat Kesalahan</h4>
                    <br />
                    <p>Halama yang antum cari, tidak ditemukan</p>
                    <a href="<?php p_base_url()?>/front/hansen" class="btn btn-info rounded" role="button">Kembali ke Home</a>
                </div>
                <div class="card-footer text-center">
                    <ul class="social-list">
                        <li><a href="#" class="icon icon-facebook"></a></li>
                        <li><a href="#" class="icon icon-twitter"></a></li>
                        <li><a href="#" class="icon icon-pinterest"></a></li>
                        <li><a href="#" class="icon icon-flickr"></a></li>
                        <li><a href="#" class="icon icon-dribbble"></a></li>
                        <li><a href="#" class="icon icon-behance"></a></li>
                    </ul>
                </div>
            </div>
        </header>

<?php $this->partial("layouts/hansen/footer") ?>