<?php $this->partial("layouts/hansen/header") ?>

        <!-- Preloader -->
        <div class="preloader flex flex-middle flex-center">
            <div class="wrapper">
                <div class="loader"></div>
            </div>
        </div>

        <!-- Navbar -->
        <nav class="navbar navbar-burger navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="<?php p_base_url()?>/front/hansen">Satuqolbu</a>
                    <span class="sr-only">Toggle navigation</span>
                    <button class="icon icon-menu burger-menu"></button>
                </div>
                <div class="menu-wrapper">
                    <div class="overlay-menu flex flex-middle">
                        <?php $this->partial("front/page_hansen/partial/menuitem"); ?>
                    </div>
                </div>
            </div>
        </nav>

        <!-- Header -->
        <header class="site-header" role="banner">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <hgroup class="title-group">
                            <h1 class="bigtitle">About Us</h1>
                            <h4>Progressive Peoples</h4>
                        </hgroup>
                    </div>
                </div>
            </div>
        </header>
        
        <!-- Content -->
        <main class="main" role="main">
            
            <!-- Who we are -->
            <section class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <hgroup class="title-group text-center">
                                <h3 class="section-title">Who we are</h3>
                                <h5 class="subtitle">A few words about us</h5>
                            </hgroup>
                        </div>
                        <div class="col-md-4 col-md-offset-2">
                            <p>Docendi fuisset mea eu, et vel alia possit pertinax. Nam ex dictas mediocrem interesset, indoctum argumentum interpretaris ne per. Ea vis magna oblique invidunt, quo at splendide theophrastus. Pri quidam bonorum maiorum in, elit aeque ornatus mei ei.</p>
                        </div>
                        <div class="col-md-4">
                            <p>Justo quidam reprehendunt no nec, melius vulputate ea nec. At putant argumentum theophrastus ius, his no alienum denique. Vidit magna graecis te his, ea pri amet exerci, tale esse gloriatur ne vim. Inani nusquam has ei, et solum tempor mentitum pro.</p>
                        </div>
                    </div>
                </div>
            </section>
            
            <!-- What we do -->
            <section class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <hgroup class="title-group text-center">
                                <h3 class="section-title">What we do</h3>
                                <h5 class="subtitle">Our service for your satisfaction</h5>
                            </hgroup>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="iconbox">
                                <i class="icon icon-blackboard"></i>
                                <div class="box">
                                    <h4 class="title">Web Design</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquam eros auctor neque volutpat pharetra placerat nisi</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="iconbox">
                                <i class="icon icon-cog"></i>
                                <div class="box">
                                    <h4 class="title">Development</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquam eros auctor neque volutpat pharetra placerat nisi</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="iconbox">
                                <i class="icon icon-flashlight"></i>
                                <div class="box">
                                    <h4 class="title">Branding</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquam eros auctor neque volutpat pharetra placerat nisi</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="iconbox">
                                <i class="icon icon-camera"></i>
                                <div class="box">
                                    <h4 class="title">Photography</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquam eros auctor neque volutpat pharetra placerat nisi</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="iconbox">
                                <i class="icon icon-briefcase"></i>
                                <div class="box">
                                    <h4 class="title">Marketing</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquam eros auctor neque volutpat pharetra placerat nisi</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="iconbox">
                                <i class="icon icon-address"></i>
                                <div class="box">
                                    <h4 class="title">Strategy</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquam eros auctor neque volutpat pharetra placerat nisi</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Fun Facts / Counters -->
            <section class="section counters">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 col-md-4">
                            <div class="numbers">
                                <span class="number" data-from="0" data-to="987" data-speed="5000" data-refresh-interval="50"></span>
                                <span class="number-info">Creative Ideas</span>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="numbers">
                                <span class="number" data-from="0" data-to="218" data-speed="5000" data-refresh-interval="50"></span>
                                <span class="number-info">Projects Designed</span>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="numbers">
                                <span class="number" data-from="0" data-to="1356" data-speed="5000" data-refresh-interval="50"></span>
                                <span class="number-info">Happy Customers</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Team -->
            <section class="section team text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <hgroup class="title-group">
                                <h3 class="section-title">Meet our team</h3>
                                <h5 class="subtitle">Professionals on the right side</h5>
                            </hgroup>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <section class="cards flex flex-center">
                                <div class="card">
                                    <div class="card-media">
                                        <figure class="figure">
                                            <img src="<?php p_base_url()?>/hansen/img/thumbs/placeholder.jpg" alt="customer" />
                                            <figcaption class="overlay flex flex-middle flex-center">
                                                <ul class="social-list">
                                                    <li><a href="#" class="icon icon-facebook"></a></li>
                                                    <li><a href="#" class="icon icon-twitter"></a></li>
                                                    <li><a href="#" class="icon icon-dribbble"></a></li>
                                                    <li><a href="#" class="icon icon-behance"></a></li>
                                                </ul>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <h4 class="bold">Nicole Smith</h4>
                                        <h5>CEO, UI/UX Designer</h5>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-media">
                                        <figure class="figure">
                                            <img src="<?php p_base_url()?>/hansen/img/thumbs/placeholder.jpg" alt="customer" />
                                            <figcaption class="overlay flex flex-middle flex-center">
                                                <ul class="social-list">
                                                    <li><a href="#" class="icon icon-facebook"></a></li>
                                                    <li><a href="#" class="icon icon-twitter"></a></li>
                                                    <li><a href="#" class="icon icon-dribbble"></a></li>
                                                    <li><a href="#" class="icon icon-behance"></a></li>
                                                </ul>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <h4 class="bold">John Chandler</h4>
                                        <h5>App Developer</h5>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-media">
                                        <figure class="figure">
                                            <img src="<?php p_base_url()?>/hansen/img/thumbs/placeholder.jpg" alt="customer" />
                                            <figcaption class="overlay flex flex-middle flex-center">
                                                <ul class="social-list">
                                                    <li><a href="#" class="icon icon-facebook"></a></li>
                                                    <li><a href="#" class="icon icon-twitter"></a></li>
                                                    <li><a href="#" class="icon icon-dribbble"></a></li>
                                                    <li><a href="#" class="icon icon-behance"></a></li>
                                                </ul>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <h4 class="bold">Cameron Weber</h4>
                                        <h5>Web Designer</h5>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-media">
                                        <figure class="figure">
                                            <img src="<?php p_base_url()?>/hansen/img/thumbs/placeholder.jpg" alt="customer" />
                                            <figcaption class="overlay flex flex-middle flex-center">
                                                <ul class="social-list">
                                                    <li><a href="#" class="icon icon-facebook"></a></li>
                                                    <li><a href="#" class="icon icon-twitter"></a></li>
                                                    <li><a href="#" class="icon icon-dribbble"></a></li>
                                                    <li><a href="#" class="icon icon-behance"></a></li>
                                                </ul>
                                            </figcaption>
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <h4 class="bold">Billy Hopkins</h4>
                                        <h5>Marketing Specialist</h5>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Experiences -->
            <section class="section experiences">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-6">
                                    <h3 class="section-title inverse">Experiences</h3>
                                    <p>Intrinsicly promote go forward total linkage rather than value-added alignments. Competently plagiarize impactful total linkage through functionalized leadership</p>
                                </div>
                                <div class="col-md-6">
                                    <p>Intrinsicly promote go forward total linkage rather than value-added alignments. Competently plagiarize impactful total linkage through functionalized leadership.</p>
                                    <p>Intrinsicly promote go forward total linkage rather than value-added alignments. Competently plagiarize impactful total linkage through functionalized leadership.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0">
                            <!-- Progress Bars / Skills-->
                            <div class="progress-wrap">
                                <span class="progress-label">App Development</span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info rising-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                                        <span class="bar-value"></span>
                                        <span class="sr-only">95%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="progress-wrap">
                                <span class="progress-label">UI/UX Design</span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info rising-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                                        <span class="bar-value"></span>
                                        <span class="sr-only">65%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="progress-wrap">
                                <span class="progress-label">Marketing Strategies</span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info rising-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                        <span class="bar-value"></span>
                                        <span class="sr-only">85%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <!-- Call To Action -->
            <section class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <article class="call-to flex flex-middle">
                                <div class="col-md-6 col-md-offset-2">
                                    <h3 class="title">We are hiring</h3>
                                    <p>Seamlessly reconceptualize fully tested outsourcing after go forward sources</p>
                                </div>
                                <div class="col-md-4">
                                    <a href="#" class="btn btn-danger rounded">Apply now</a>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </section>
            
        </main>

        <!-- Footer -->
        <footer class="footer" role="contentinfo">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="social-list">
                            <li><a href="#" class="icon icon-facebook"></a></li>
                            <li><a href="#" class="icon icon-twitter"></a></li>
                            <li><a href="#" class="icon icon-pinterest"></a></li>
                            <li><a href="#" class="icon icon-flickr"></a></li>
                            <li><a href="#" class="icon icon-dribbble"></a></li>
                            <li><a href="#" class="icon icon-behance"></a></li>
                        </ul>
                        <nav class="foter-navbar" role="navigation">
                            <ul class="footer-nav" role="menubar">
                                <li role="menuitem"><a href="#">About</a></li>
                                <li role="menuitem"><a href="#">Jobs</a></li>
                                <li role="menuitem"><a href="#">Press</a></li>
                                <li role="menuitem"><a href="#">Contact</a></li>
                                <li role="menuitem"><a href="#">Terms</a></li>
                                <li role="menuitem"><a href="#">Privacy</a></li>
                            </ul>
                        </nav>
                        <p class="copyright">&copy; <time datetime="2015">2015</time> Hansen Theme, All Rights Reserved, Made with <i class="icon icon-tools"></i> by <a href="http://filipgreksa.com/" target="_blank">Filip</a></p>
                    </div>
                </div>
            </div>
        </footer>

<?php $this->partial("layouts/hansen/footer") ?>