<?php $this->partial("layouts/hansen/header_csoon") ?>

<!-- Preloader -->

        <!-- Coming Soon -->
        <!-- Header -->
        <header class="header flex flex-middle" role="banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <h1 class="bigtitle">Satuqolbu</h1>
                        <h4 class="title">We are coming soon</h4>
                        <br />
                        <ul class="social-list">
                            <li><a href="#" class="icon icon-facebook"></a></li>
                            <li><a href="#" class="icon icon-twitter"></a></li>
                            <li><a href="#" class="icon icon-pinterest"></a></li>
                            <li><a href="#" class="icon icon-flickr"></a></li>
                            <li><a href="#" class="icon icon-dribbble"></a></li>
                            <li><a href="#" class="icon icon-behance"></a></li>
                        </ul>
                        <div class="row">
                            <span id="timer" class="timer"></span>
                        </div>
                        <p>Lorem ipsum dolor sit amet, putent placerat mea id, nec dicta aeque ad, sea nemore sanctus
                            et. His ipsum conceptam te, vis at enim suscipit. Pro persius evertitur id, mel fugit error
                            mucius at doming.</p>
                        <!-- Button trigger modal -->
                        <a href="#modal-form" class="btn btn-warning fire-modal">Subscribe</a>
                        <!-- Modal -->
                        <article id="modal-form" class="modal-form mfp-hide">
                            <h3 class="title">Subscribe</h3>
                            <p>Be first notified about launch</p>
                            <form action="<?php p_base_url(); ?>/hansen/php/newsletter-form.php" id="contact-form" class="subscription-form" role="form">
                                <div class="alert alert-success hidden" id="contact-alert-success">
                                    <strong>Success!</strong> See your inbox for more info!
                                </div>
                                <div class="alert alert-danger hidden" id="contact-alert-error">
                                    <strong>Error!</strong> Something went wrong. Try again.
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="email"></label>
                                    <input type="email" value="" placeholder="E-mail"
                                           data-msg-required="Please enter your email address."
                                           data-msg-email="Please enter a valid email address." class="form-control"
                                           name="email" id="email">
                                </div>
                                <button type="submit" class="btn btn-danger btn-block" data-loading-text="...">Subscribe</button>
                            </form>
                            <p class="small">We respect your privacy. We will never sell, rent or share your email address</p>
                        </article>
                    </div>
                    <div class="col-md-7">
                        <article class="svg-container">
                            <svg id="svg" width="100%" height="65%" viewBox="-8 0 50 32" preserveAspectRatio="xMidYMid meet"></svg>
                        </article>
                    </div>
                </div>
                
            </div>
        </header>

<?php $this->partial("layouts/hansen/footer_csoon") ?>