<?php $this->partial("layouts/hansen/header") ?>

<!-- Preloader -->
        <div class="preloader flex flex-middle flex-center">
            <div class="wrapper">
                <div class="loader"></div>
            </div>
        </div>

        <!-- Navbar -->
        <nav class="navbar navbar-burger navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="<?php p_base_url() ?>/front/hansen">Satuqolbu</a>
                    <span class="sr-only">Toggle navigation</span>
                    <button class="icon icon-menu burger-menu"></button>
                </div>
                <div class="menu-wrapper">
                    <div class="overlay-menu flex flex-middle">
                        <?php $this->partial("front/page_hansen/partial/menuitem"); ?>
                    </div>
                </div>
            </div>
        </nav>

        <!-- Header -->
        <header class="site-header" role="banner">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <hgroup class="title-group">
                            <h1 class="bigtitle">Contact</h1>
                            <h4>We are still ready</h4>
                        </hgroup>
                    </div>
                </div>
            </div>
        </header>
        
        <!-- Content -->
        <main class="main" role="main">

            <!-- Address -->
            <section class="section text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <hgroup class="title-group">
                                <h3 class="section-title">Visit Us</h3>
                                <h5 class="subtitle">We look forward to meeting</h5>
                            </hgroup>
                        </div>
                        <div class="col-sm-8">
                            <!-- Gmap -->
                            <div id="mymap" class="mymap"></div>
                        </div>
                        <div class="col-sm-4">
                            <address class="address">
                                <h4 class="title">Hansen Agency</h4>
                                <p>Mea possit atomorum liberavisse no, idque delenit vix cu. Usu ludus legendos cu. Exerci imperdiet dignissim sed ex, duo an soluta eirmod definitiones.</p>
                                <ul class="vcard">
                                    <li>
                                        <i class="icon icon-home"></i>
                                        <span class="vcard-item">795 Folsom Ave,<br>San Francisco, CA 94107</span>
                                    </li>
                                    <li>
                                        <i class="icon icon-newsletter"></i>
                                        <span class="vcard-item"><a href="mailto:#">info@themail.com</a></span>
                                    </li>
                                    <li>
                                        <i class="icon icon-phone"></i>
                                        <span class="vcard-item">(123) 456-7890</span>
                                    </li>
                                </ul>
                            </address>
                        </div>
                        
                    </div>
                </div>
            </section>
            
            <!-- Contact Form / Address -->
            <section class="section contact">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <hgroup class="title-group text-center">
                                <h3 class="section-title">Drop us a line</h3>
                                <h5 class="subtitle">We will respond as soon as possible</h5>
                            </hgroup>
                        </div>
                        <div class="col-md-8 col-md-offset-2">
                            <!-- Contact Form -->
                            <article class="contact-form">
                                <form action="<?php p_base_url() ?>/hansen/php/contact-form.php" id="contact-form" role="form">
                                    <div class="alert alert-success hidden" id="contact-alert-success">
                                        <strong>Success!</strong> Thank you for your message. Reply will be in a while!
                                    </div>
                                    <div class="alert alert-danger hidden" id="contact-alert-error">
                                        <strong>Error!</strong> Something went wrong sending your message.
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="sr-only" for="name"></label>
                                                <input type="text" class="form-control" value="" placeholder="Name" data-msg-required="Please enter your name." name="name" id="name">
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="sr-only" for="email"></label>
                                                <input type="email" value="" placeholder="E-mail" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." class="form-control" name="email" id="email">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label class="sr-only" for="message"></label>
                                                <textarea placeholder="Enter your message..." data-msg-required="Please enter your message." rows="6" class="form-control" name="message" id="message"></textarea>
                                            </div>
                                            <input type="submit" value="Send Message" class="btn btn-submit btn-block" data-loading-text="Loading...">
                                        </div>
                                    </div>
                                </form>
                            </article>
                        </div>
                    </div>
                </div>
            </section>
            
        </main>

        <!-- Footer -->
        <footer class="footer" role="contentinfo">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="social-list">
                            <li><a href="#" class="icon icon-facebook"></a></li>
                            <li><a href="#" class="icon icon-twitter"></a></li>
                            <li><a href="#" class="icon icon-pinterest"></a></li>
                            <li><a href="#" class="icon icon-flickr"></a></li>
                            <li><a href="#" class="icon icon-dribbble"></a></li>
                            <li><a href="#" class="icon icon-behance"></a></li>
                        </ul>
                        <nav class="foter-navbar" role="navigation">
                            <ul class="footer-nav" role="menubar">
                                <li role="menuitem"><a href="#">About</a></li>
                                <li role="menuitem"><a href="#">Jobs</a></li>
                                <li role="menuitem"><a href="#">Press</a></li>
                                <li role="menuitem"><a href="#">Contact</a></li>
                                <li role="menuitem"><a href="#">Terms</a></li>
                                <li role="menuitem"><a href="#">Privacy</a></li>
                            </ul>
                        </nav>
                        <p class="copyright">&copy; <time datetime="2015">2015</time> Hansen Theme, All Rights Reserved, Made with <i class="icon icon-tools"></i> by <a href="http://filipgreksa.com/" target="_blank">Filip</a></p>
                    </div>
                </div>
            </div>
        </footer>

<?php $this->partial("layouts/hansen/footer") ?>