<?php $this->partial("layouts/hansen/header") ?>

        <!-- Preloader -->
        <div class="preloader flex flex-middle flex-center">
            <div class="wrapper">
                <div class="loader"></div>
            </div>
        </div>

        <!-- Navbar -->
        <nav class="navbar navbar-burger navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="<?php p_base_url()?>/front/hansen">Satuqolbu</a>
                    <span class="sr-only">Toggle navigation</span>
                    <button class="icon icon-menu burger-menu"></button>
                </div>
                <div class="menu-wrapper">
                    <div class="overlay-menu flex flex-middle">
                        <?php $this->partial("front/page_hansen/partial/menuitem"); ?>
                    </div>
                </div>
            </div>
        </nav>

        <!-- Header -->
        <header class="site-header" role="banner">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <hgroup class="title-group">
                            <h1 class="bigtitle">Shortcodes</h1>
                            <h4>Coding skills required</h4>
                        </hgroup>
                    </div>
                </div>
            </div>
        </header>

        <!-- Content -->
        <main class="main" role="main">
            <div class="container">

                <!-- Grid system -->
                <section class="shortcode text-justify">
                    <article class="grid-tables">
                        <h4><small>(* = xs,sm,md or lg)</small></h4>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>.col-*-12</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie. </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h4>.col-*-6</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie.</p>
                            </div>
                            <div class="col-md-6">
                                <h4>.col-*-6</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h4>.col-*-4</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu.</p>
                            </div>
                            <div class="col-md-4">
                                <h4>.col-*-4</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu.</p>
                            </div>
                            <div class="col-md-4">
                                <h4>.col-*-4</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h4>.col-*-3</h4>
                                <p>Lorem ipsum dolor amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel.</p>
                            </div>
                            <div class="col-md-3">
                                <h4>.col-*-3</h4>
                                <p>Lorem ipsum dolor amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel.</p>
                            </div>
                            <div class="col-md-3">
                                <h4>.col-*-3</h4>
                                <p>Lorem ipsum dolor amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel.</p>
                            </div>
                            <div class="col-md-3">
                                <h4>.col-*-3</h4>
                                <p>Lorem ipsum dolor amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel.</p>
                            </div>
                        </div>
                    </article>
                </section>
                
                <!-- Slider -->
                <section class="shortcode">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <ul class="example-slider">
                                <li><img src="<?php p_base_url()?>/hansen/img/placeholder3.jpg" alt="img" /></li>
                                <li><img src="<?php p_base_url()?>/hansen/img/placeholder3a.jpg" alt="img" /></li>
                                <li><img src="<?php p_base_url()?>/hansen/img/placeholder3b.jpg" alt="img" /></li>
                            </ul>
                        </div>
                    </div>
                </section>
                
                
                <!-- Typography -->
                <section class="shortcode">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-1">
                            <h3 class="title">Dosis Title</h3>
                            <h5>Dosis Subitle</h5>
                            <p>Lato paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie. </p>
                            <br />
                            <div class="row">
                                <div class="col-md-4">
                                    <hgroup class="title-group">
                                        <h3 class="section-title">Who we are</h3>
                                        <h5 class="subtitle">A few words about us</h5>
                                    </hgroup>
                                </div>
                                <div class="col-md-8">
                                    <br />
                                    <code>&lt;hgroup class="title-group"&gt;</code><br />
                                    <code>&nbsp;&nbsp;&lt;h3 class="section-title"&gt;&lt;/h3&gt;</code><br />
                                    <code>&nbsp;&nbsp;&lt;h5 class="subtitle"&gt;&lt;/h5&gt;</code><br />
                                    <code>&lt;/hgroup&gt;</code>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-md-offset-1">
                            <br />
                            <h3 class="bigtitle">Big Title</h3>
                            <code>&lt;h3 class="bigtitle"&gt;&lt;/h3&gt;</code>
                            <br /><br />
                            <h3 class="section-title">Section Title</h3>
                            <code>&lt;h3 class="section-title"&gt;&lt;/h3&gt;</code>
                            <br /><br />
                            <h3 class="title">Title</h3>
                            <code>&lt;h3 class="title"&gt;&lt;/h3&gt;</code>
                        </div>
                    </div>
                </section>
                
                <!-- Icon Box -->
                <section class="shortcode">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <code>&lt;div class="iconbox"&gt;&lt;/div&gt;</code>
                            <br /><br /><br />
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="iconbox">
                                <i class="icon icon-colours"></i>
                                <div class="box">
                                    <h4 class="title">Precise work</h4>
                                    <p>Pellentesque non lorem volutpat lorem vehicula mollis eget vel justo.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="iconbox">
                                <i class="icon icon-rocket"></i>
                                <div class="box">
                                    <h4 class="title">Aliens tested</h4>
                                    <p>Pellentesque non lorem volutpat lorem vehicula mollis eget vel justo.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="iconbox">
                                <i class="icon icon-tools"></i>
                                <div class="box">
                                    <h4 class="title">Satellite support</h4>
                                    <p>Pellentesque non lorem et volutpat lorem vehicula mollis eget vel justo.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="iconbox">
                                <i class="icon icon-paper-plane"></i>
                                <div class="box">
                                    <h4 class="title">Networks friendly</h4>
                                    <p>Pellentesque non lorem et volutpat lorem vehicula mollis eget vel justo.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                
                <!-- Icon Box Centered -->
                <section class="shortcode">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <code>&lt;div class="iconbox centered"&gt;&lt;/div&gt;</code>
                            <br /><br /><br />
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="iconbox centered">
                                <i class="icon icon-colours"></i>
                                <div class="box">
                                    <h4 class="title">Precise work</h4>
                                    <p>Pellentesque non lorem volutpat lorem vehicula mollis eget vel justo.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="iconbox centered">
                                <i class="icon icon-rocket"></i>
                                <div class="box">
                                    <h4 class="title">Aliens tested</h4>
                                    <p>Pellentesque non lorem volutpat lorem vehicula mollis eget vel justo.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="iconbox centered">
                                <i class="icon icon-tools"></i>
                                <div class="box">
                                    <h4 class="title">Satellite support</h4>
                                    <p>Pellentesque non lorem et volutpat lorem vehicula mollis eget vel justo.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="iconbox centered">
                                <i class="icon icon-paper-plane"></i>
                                <div class="box">
                                    <h4 class="title">Networks friendly</h4>
                                    <p>Pellentesque non lorem et volutpat lorem vehicula mollis eget vel justo.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                
                <!-- Accordion Toggle -->
                <section class="shortcode">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                First Accordion
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingTwo">
                                        <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Second Accordion
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                        <div class="panel-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingThree">
                                        <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                Third Accordion
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                        <div class="panel-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel-group" id="toggle" data-toggle="false" role="tablist" aria-multiselectable="true"><!-- use data-toggle="false" for toggle -->
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-parent="accordion" href="#toggleOne" aria-expanded="true" aria-controls="toggleOne">
                                                First Toggle
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="toggleOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingTwo">
                                        <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-parent="accordion" href="#toggleTwo" aria-expanded="false" aria-controls="toggleTwo">
                                                Second Toggle
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="toggleTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                        <div class="panel-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingThree">
                                        <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-parent="accordion" href="#toggleThree" aria-expanded="false" aria-controls="toggleThree">
                                                Third Toggle
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="toggleThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                        <div class="panel-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- Tabs -->
                <section class="shortcode">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div role="tabpanel">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">First Tab</a></li>
                                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Second Tab</a></li>
                                    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Third Tab</a></li>
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="home">
                                        The lysine contingency - it's intended to prevent the spread of the animals is case they ever got off the island. Dr. Wu inserted a gene that makes a single faulty enzyme in protein metabolism. The animals can't manufacture the amino acid lysine. Unless they're continually supplied with lysine by us, they'll slip into a coma and die.
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="profile">
                                        Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water. We swallow it too fast, we choke. We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We're on the same curve, just on opposite ends.
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="messages">
                                        You see? It's curious. Ted did figure it out - time travel. And when we get back, we gonna tell everyone. How it's possible, how it's done, what the dangers are. But then why fifty years in the future when the spacecraft encounters a black hole does the computer call it an 'unknown entry event'? Why don't they know? If they don't know, that means we never told anyone. And if we never told anyone it means we never made it back.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- Alerts -->
                <section class="shortcode">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="alert alert-success" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong>Well done!</strong> You successfully read this important alert message. 
                            </div>
                            <div class="alert alert-info" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong>Heads up!</strong> This alert needs your attention, but it's not super important. 
                            </div>
                            <div class="alert alert-warning" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong>Warning!</strong> You successfully read this important alert message. 
                            </div>
                            <div class="alert alert-danger" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong>Oh snap!</strong> Change a few things up and try submitting again. 
                            </div>
                        </div>
                    </div>
                </section>

                <!-- Counters -->
                <section class="shortcode">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="numbers">
                                <span class="number" data-from="0" data-to="987" data-speed="5000" data-refresh-interval="50"></span>
                                <span class="number-info">Creative Ideas</span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="numbers">
                                <span class="number" data-from="0" data-to="218" data-speed="5000" data-refresh-interval="50"></span>
                                <span class="number-info">Projects Designed</span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="numbers">
                                <span class="number" data-from="0" data-to="1356" data-speed="5000" data-refresh-interval="50"></span>
                                <span class="number-info">Pizzas Eaten</span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="numbers">
                                <span class="number" data-from="0" data-to="1856" data-speed="5000" data-refresh-interval="50"></span>
                                <span class="number-info">Coffee Drunk</span>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- Pricing Tables -->
                <section class="shortcode">
                    <div class="container">
                        <div class="row">                
                            <div class="col-sm-6 col-md-3">
                                <ul class="pricing-table list-unstyled">
                                    <li class="title">
                                        Beginner
                                        <i class="icon icon-leaf"></i>
                                    </li>
                                    <li class="price">19.99<sup>$</sup></li>
                                    <li class="description">1 Database</li>
                                    <li class="description">5GB Storage</li>
                                    <li class="description">20 Users</li>
                                    <li class="cta-button"><a class="btn btn-danger rounded" href="#">Buy Now</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <ul class="pricing-table list-unstyled">
                                    <li class="title">
                                        Standard
                                        <i class="icon icon-attachment"></i>
                                    </li>
                                    <li class="price">39.99<sup>$</sup></li>
                                    <li class="description">1 Database</li>
                                    <li class="description">5GB Storage</li>
                                    <li class="description">20 Users</li>
                                    <li class="cta-button"><a class="btn btn-danger rounded" href="#">Buy Now</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <ul class="pricing-table recommended list-unstyled">
                                    <li class="title">
                                        Premium
                                        <i class="icon icon-rocket"></i>
                                    </li>
                                    <li class="price">69.99<sup>$</sup></li>
                                    <li class="description">1 Database</li>
                                    <li class="description">5GB Storage</li>
                                    <li class="description">20 Users</li>
                                    <li class="cta-button"><a class="btn btn-primary rounded" href="#">Buy Now</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <ul class="pricing-table list-unstyled">
                                    <li class="title">
                                        Custom
                                        <i class="icon icon-tools"></i>
                                    </li>
                                    <li class="price">169.99<sup>$</sup></li>
                                    <li class="description">111 Database</li>
                                    <li class="description">115GB Storage</li>
                                    <li class="description">120 Users</li>
                                    <li class="cta-button"><a class="btn btn-danger rounded" href="#">Buy Now</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- Progress Bars -->
                <section class="shortcode">
                    <div class="row">
                        <div class="col-md-5 col-md-offset-1">
                            <div class="progress-wrap">
                                <span class="progress-label">Storytelling</span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success rising-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                                        <span class="sr-only">95%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="progress-wrap">
                                <span class="progress-label">Copywriting</span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info progress-bar-striped rising-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                                        <span class="sr-only">65%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="progress-wrap">
                                <span class="progress-label">Photography</span>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-warning progress-bar-striped active rising-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                        <span class="sr-only">85%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="progress-wrap">
                                <span class="progress-label">Storytelling</span>
                                <div class="progress">
                                    <div class="progress-bar rising-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                        <span class="bar-value"></span>
                                        <span class="sr-only">90%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="progress-wrap">
                                <span class="progress-label">Copywriting</span>
                                <div class="progress">
                                    <div class="progress-bar rising-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                                        <span class="bar-value"></span>
                                        <span class="sr-only">65%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="progress-wrap">
                                <span class="progress-label">Photography</span>
                                <div class="progress">
                                    <div class="progress-bar rising-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                        <span class="bar-value"></span>
                                        <span class="sr-only">80%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                
                <!-- Buttons -->
                <section class="shortcode">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-1">
                            <button type="button" class="btn btn-default">Default</button>
                            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                            <button type="button" class="btn btn-primary">Primary</button>
                            <!-- Indicates a successful or positive action -->
                            <button type="button" class="btn btn-success">Success</button>
                            <!-- Contextual button for informational alert messages -->
                            <button type="button" class="btn btn-info">Info</button>
                            <!-- Indicates caution should be taken with this action -->
                            <button type="button" class="btn btn-warning">Warning</button>
                            <!-- Indicates a dangerous or potentially negative action -->
                            <button type="button" class="btn btn-danger">Danger</button>
                            <!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
                            <button type="button" class="btn btn-link">Link</button>
                            <br /><br /><br />
                            <button type="button" class="btn btn-default rounded">Default</button>
                            <button type="button" class="btn btn-primary rounded">Primary</button>
                            <button type="button" class="btn btn-success rounded">Success</button>
                            <button type="button" class="btn btn-info rounded">Info</button>
                            <button type="button" class="btn btn-warning rounded">Warning</button>
                            <button type="button" class="btn btn-danger rounded">Danger</button>
                            <br /><br /><br />
                            <span class="label label-default">Default Label</span>
                            <span class="label label-primary">Primary Label</span>
                            <span class="label label-success">Success Label</span>
                            <span class="label label-info">Info Label</span>
                            <span class="label label-warning">Warning Label</span>
                            <span class="label label-danger">Danger Label</span>
                        </div>
                        <hr class="visible-xs visible-sm" />
                        <div class="col-md-5">
                            <div class="btn-duo">
                                <button class="btn btn-info rounded" role="button">Long Text Here</button>
                                <button class="btn btn-default rounded" role="button">Short</button>
                            </div>
                            <h4>.btn-duo: 2 Buttons with equal width</h4>
                            <code>&lt;div class="btn-duo"&gt;</code><br />
                            <code>&nbsp;&nbsp;&lt;button class="btn btn-info rounded"&gt;&lt;/button&gt;</code><br />
                            <code>&nbsp;&nbsp;&lt;button class="btn btn-default rounded"&gt;&lt;/button&gt;</code><br />
                            <code>&lt;/div&gt;</code>
                            
                        </div>
                    </div>
                </section>
                
                <!-- Icons -->
                <section class="shortcode icon-samples">
                    <!-- Flaticon -->
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="title">Entypo</h3>
                            <p>411 carefully crafted premium pictograms. Visit <a href="http://www.entypo.com/" target="_blank">Entypo.</a></p>
                            <code>&lt;i class="icon icon-****"&gt;&lt;/i&gt;</code>
                            <br /><br /><br />
                        </div>
                        <div class="col-md-12">
                            <i class="icon icon-px"></i>
                            <i class="icon icon-px-with-circle"></i>
                            <i class="icon icon-app-store"></i>
                            <i class="icon icon-baidu"></i>
                            <i class="icon icon-basecamp"></i>
                            <i class="icon icon-behance"></i>
                            <i class="icon icon-creative-cloud"></i>
                            <i class="icon icon-dribbble"></i>
                            <i class="icon icon-dribbble-with-circle"></i>
                            <i class="icon icon-dropbox"></i>
                            <i class="icon icon-evernote"></i>
                            <i class="icon icon-facebook"></i>
                            <i class="icon icon-facebook-with-circle"></i>
                            <i class="icon icon-flattr"></i>
                            <i class="icon icon-flickr"></i>
                            <i class="icon icon-flickr-with-circle"></i>
                            <i class="icon icon-foursquare"></i>
                            <i class="icon icon-github"></i>
                            <i class="icon icon-github-with-circle"></i>
                            <i class="icon icon-google"></i>
                            <i class="icon icon-google-with-circle"></i>
                            <i class="icon icon-google-drive"></i>
                            <i class="icon icon-google-hangouts"></i>
                            <i class="icon icon-google-play"></i>
                            <i class="icon icon-grooveshark"></i>
                            <i class="icon icon-houzz"></i>
                            <i class="icon icon-icloud"></i>
                            <i class="icon icon-instagram"></i>
                            <i class="icon icon-instagram-with-circle"></i>
                            <i class="icon icon-lastfm"></i>
                            <i class="icon icon-lastfm-with-circle"></i>
                            <i class="icon icon-linkedin"></i>
                            <i class="icon icon-linkedin-with-circle"></i>
                            <i class="icon icon-mail-with-circle"></i>
                            <i class="icon icon-medium"></i>
                            <i class="icon icon-medium-with-circle"></i>
                            <i class="icon icon-mixi"></i>
                            <i class="icon icon-onedrive"></i>
                            <i class="icon icon-paypal"></i>
                            <i class="icon icon-picasa"></i>
                            <i class="icon icon-pinterest"></i>
                            <i class="icon icon-pinterest-with-circle"></i>
                            <i class="icon icon-qq"></i>
                            <i class="icon icon-qq-with-circle"></i>
                            <i class="icon icon-raft"></i>
                            <i class="icon icon-raft-with-circle"></i>
                            <i class="icon icon-rainbow"></i>
                            <i class="icon icon-rdio"></i>
                            <i class="icon icon-rdio-with-circle"></i>
                            <i class="icon icon-renren"></i>
                            <i class="icon icon-scribd"></i>
                            <i class="icon icon-sina-weibo"></i>
                            <i class="icon icon-skype"></i>
                            <i class="icon icon-skype-with-circle"></i>
                            <i class="icon icon-slideshare"></i>
                            <i class="icon icon-smashing"></i>
                            <i class="icon icon-soundcloud"></i>
                            <i class="icon icon-spotify"></i>
                            <i class="icon icon-spotify-with-circle"></i>
                            <i class="icon icon-stumbleupon"></i>
                            <i class="icon icon-stumbleupon-with-circle"></i>
                            <i class="icon icon-swarm"></i>
                            <i class="icon icon-tripadvisor"></i>
                            <i class="icon icon-tumblr"></i>
                            <i class="icon icon-tumblr-with-circle"></i>
                            <i class="icon icon-twitter"></i>
                            <i class="icon icon-twitter-with-circle"></i>
                            <i class="icon icon-vimeo"></i>
                            <i class="icon icon-vimeo-with-circle"></i>
                            <i class="icon icon-vine"></i>
                            <i class="icon icon-vine-with-circle"></i>
                            <i class="icon icon-vk"></i>
                            <i class="icon icon-vk-alternitive"></i>
                            <i class="icon icon-vk-with-circle"></i>
                            <i class="icon icon-windows-store"></i>
                            <i class="icon icon-xing"></i>
                            <i class="icon icon-xing-with-circle"></i>
                            <i class="icon icon-yelp"></i>
                            <i class="icon icon-youko"></i>
                            <i class="icon icon-youko-with-circle"></i>
                            <i class="icon icon-youtube"></i>
                            <i class="icon icon-youtube-with-circle"></i>
                            <i class="icon icon-address"></i>
                            <i class="icon icon-add-to-list"></i>
                            <i class="icon icon-add-user"></i>
				            <i class="icon icon-adjust"></i>
				            <i class="icon icon-air"></i>
				            <i class="icon icon-aircraft"></i>
				            <i class="icon icon-aircraft-landing"></i>
				            <i class="icon icon-aircraft-take-off"></i>
				            <i class="icon icon-align-bottom"></i>
				            <i class="icon icon-align-horizontal-middle"></i>
				            <i class="icon icon-align-left"></i>
				            <i class="icon icon-align-right"></i>
				            <i class="icon icon-align-top"></i>
				            <i class="icon icon-align-vertical-middle"></i>
				            <i class="icon icon-area-graph"></i>
				            <i class="icon icon-archive"></i>
				            <i class="icon icon-arrow-bold-down"></i>
				            <i class="icon icon-arrow-bold-left"></i>
				            <i class="icon icon-arrow-bold-right"></i>
				            <i class="icon icon-arrow-bold-up"></i>
				            <i class="icon icon-arrow-down"></i>
				            <i class="icon icon-arrow-left"></i>
				            <i class="icon icon-arrow-long-down"></i>
				            <i class="icon icon-arrow-long-left"></i>
				            <i class="icon icon-arrow-long-right"></i>
				            <i class="icon icon-arrow-long-up"></i>
				            <i class="icon icon-arrow-right"></i>
				            <i class="icon icon-arrow-up"></i>
				            <i class="icon icon-arrow-with-circle-down"></i>
				            <i class="icon icon-arrow-with-circle-left"></i>
				            <i class="icon icon-arrow-with-circle-right"></i>
				            <i class="icon icon-arrow-with-circle-up"></i>
				            <i class="icon icon-attachment"></i>
				            <i class="icon icon-awareness-ribbon"></i>
				            <i class="icon icon-back"></i>
				            <i class="icon icon-back-in-time"></i>
				            <i class="icon icon-bar-graph"></i>
				            <i class="icon icon-battery"></i>
				            <i class="icon icon-beamed-note"></i>
				            <i class="icon icon-bell"></i>
				            <i class="icon icon-blackboard"></i>
				            <i class="icon icon-block"></i>
				            <i class="icon icon-book"></i>
				            <i class="icon icon-bookmark"></i>
				            <i class="icon icon-bookmarks"></i>
				            <i class="icon icon-bowl"></i>
				            <i class="icon icon-box"></i>
				            <i class="icon icon-briefcase"></i>
				            <i class="icon icon-browser"></i>
				            <i class="icon icon-brush"></i>
				            <i class="icon icon-bucket"></i>
				            <i class="icon icon-bug"></i>
                            <i class="icon icon-cake"></i>
                            <i class="icon icon-calculator"></i>
				            <i class="icon icon-calendar"></i>
				            <i class="icon icon-camera"></i>
				            <i class="icon icon-ccw"></i>
				            <i class="icon icon-circle"></i>
				            <i class="icon icon-circle-with-cross"></i>
				            <i class="icon icon-circle-with-minus"></i>
				            <i class="icon icon-circle-with-plus"></i>
                            <i class="icon icon icon-circular-graph"></i>
				            <i class="icon icon-clapperboard"></i>
				            <i class="icon icon-classic-computer"></i>
				            <i class="icon icon-clipboard"></i>
				            <i class="icon icon-clock"></i>
				            <i class="icon icon-cloud"></i>
				            <i class="icon icon-code"></i>
				            <i class="icon icon-cog"></i>
				            <i class="icon icon-colours"></i>
				            <i class="icon icon-compass"></i>
				            <i class="icon icon-controller-fast-backward"></i>
				            <i class="icon icon-controller-fast-forward"></i>
				            <i class="icon icon-controller-jump-to-start"></i>
				            <i class="icon icon-controller-next"></i>
				            <i class="icon icon-controller-paus"></i>
				            <i class="icon icon-controller-play"></i>
				            <i class="icon icon-controller-record"></i>
				            <i class="icon icon-controller-stop"></i>
				            <i class="icon icon-controller-volume"></i>
				            <i class="icon icon-copy"></i>
				            <i class="icon icon-creative-commons"></i>
				            <i class="icon icon-creative-commons-attribution"></i>
				            <i class="icon icon-creative-commons-noderivs"></i>
				            <i class="icon icon-creative-commons-noncommercial-eu"></i>
				            <i class="icon icon-creative-commons-noncommercial-us"></i>
				            <i class="icon icon-creative-commons-public-domain"></i>
				            <i class="icon icon-creative-commons-remix"></i>
				            <i class="icon icon-creative-commons-share"></i>
				            <i class="icon icon-creative-commons-sharealike"></i>
				            <i class="icon icon-credit"></i>
				            <i class="icon icon-credit-card"></i>
				            <i class="icon icon-crop"></i>
				            <i class="icon icon-cross"></i>
				            <i class="icon icon-cup"></i>
				            <i class="icon icon-cw"></i>
				            <i class="icon icon-cycle"></i>
				            <i class="icon icon-database"></i>
				            <i class="icon icon-dial-pad"></i>
				            <i class="icon icon-direction"></i>
				            <i class="icon icon-document"></i>
				            <i class="icon icon-document-landscape"></i>
				            <i class="icon icon-documents"></i>
				            <i class="icon icon-dot-single"></i>
				            <i class="icon icon-dots-three-horizontal"></i>
				            <i class="icon icon-dots-three-vertical"></i>
				            <i class="icon icon-dots-two-horizontal"></i>
				            <i class="icon icon-dots-two-vertical"></i>
				            <i class="icon icon-download"></i>
				            <i class="icon icon-drink"></i>
				            <i class="icon icon-drive"></i>
				            <i class="icon icon-drop"></i>
				            <i class="icon icon-edit"></i>
				            <i class="icon icon-email"></i>
				            <i class="icon icon-emoji-flirt"></i>
				            <i class="icon icon-emoji-happy"></i>
				            <i class="icon icon-emoji-neutral"></i>
				            <i class="icon icon-emoji-sad"></i>
				            <i class="icon icon-erase"></i>
				            <i class="icon icon-eraser"></i>
				            <i class="icon icon-export"></i>
				            <i class="icon icon-eye"></i>
				            <i class="icon icon-eye-with-line"></i>
				            <i class="icon icon-feather"></i>
				            <i class="icon icon-fingerprint"></i>
				            <i class="icon icon-flag"></i>
				            <i class="icon icon-flash"></i>
				            <i class="icon icon-flashlight"></i>
				            <i class="icon icon-flat-brush"></i>
                            <i class="icon icon-flow-branch"></i>
                            <i class="icon icon-flow-cascade"></i>
                            <i class="icon icon-flower"></i>
				            <i class="icon icon-flow-line"></i>
				            <i class="icon icon-flow-parallel"></i>
				            <i class="icon icon-flow-tree"></i>
				            <i class="icon icon-folder"></i>
				            <i class="icon icon-folder-images"></i>
				            <i class="icon icon-folder-music"></i>
				            <i class="icon icon-folder-video"></i>
				            <i class="icon icon-forward"></i>
				            <i class="icon icon-funnel"></i>
				            <i class="icon icon-game-controller"></i>
				            <i class="icon icon-gauge"></i>
				            <i class="icon icon-globe"></i>
				            <i class="icon icon-graduation-cap"></i>
				            <i class="icon icon-grid"></i>
				            <i class="icon icon-hair-cross"></i>
				            <i class="icon icon-hand"></i>
				            <i class="icon icon-heart"></i>
				            <i class="icon icon-heart-outlined"></i>
				            <i class="icon icon-help"></i>
				            <i class="icon icon-help-with-circle"></i>
				            <i class="icon icon-home"></i>
				            <i class="icon icon-hour-glass"></i>
				            <i class="icon icon-chat"></i>
				            <i class="icon icon-check"></i>
				            <i class="icon icon-chevron-down"></i>
				            <i class="icon icon-chevron-left"></i>
				            <i class="icon icon-chevron-right"></i>
				            <i class="icon icon-chevron-small-down"></i>
				            <i class="icon icon-chevron-small-left"></i>
				            <i class="icon icon-chevron-small-right"></i>
				            <i class="icon icon-chevron-small-up"></i>
				            <i class="icon icon-chevron-thin-down"></i>
				            <i class="icon icon-chevron-thin-left"></i>
				            <i class="icon icon-chevron-thin-right"></i>
				            <i class="icon icon-chevron-thin-up"></i>
				            <i class="icon icon-chevron-up"></i>
				            <i class="icon icon-chevron-with-circle-down"></i>
				            <i class="icon icon-chevron-with-circle-left"></i>
				            <i class="icon icon-chevron-with-circle-right"></i>
				            <i class="icon icon-chevron-with-circle-up"></i>
				            <i class="icon icon-image"></i>
				            <i class="icon icon-image-inverted"></i>
				            <i class="icon icon-images"></i>
				            <i class="icon icon-inbox"></i>
				            <i class="icon icon-infinity"></i>
				            <i class="icon icon-info"></i>
				            <i class="icon icon-info-with-circle"></i>
				            <i class="icon icon-install"></i>
				            <i class="icon icon-key"></i>
				            <i class="icon icon-keyboard"></i>
				            <i class="icon icon-lab-flask"></i>
				            <i class="icon icon-landline"></i>
				            <i class="icon icon-language"></i>
				            <i class="icon icon-laptop"></i>
				            <i class="icon icon-layers"></i>
				            <i class="icon icon-leaf"></i>
				            <i class="icon icon-level-down"></i>
				            <i class="icon icon-level-up"></i>
				            <i class="icon icon-lifebuoy"></i>
				            <i class="icon icon-light-bulb"></i>
				            <i class="icon icon-light-down"></i>
				            <i class="icon icon-light-up"></i>
				            <i class="icon icon-line-graph"></i>
				            <i class="icon icon-link"></i>
                            <i class="icon icon-list"></i>
				            <i class="icon icon-location"></i>
				            <i class="icon icon-location-pin"></i>
				            <i class="icon icon-lock"></i>
				            <i class="icon icon-lock-open"></i>
                            <i class="icon icon-login"></i>
                            <i class="icon icon-log-out"></i>
				            <i class="icon icon-loop"></i>
				            <i class="icon icon-magnet"></i>
				            <i class="icon icon-magnifying-glass"></i>
				            <i class="icon icon-mail"></i>
				            <i class="icon icon-man"></i>
                            <i class="icon icon-map"></i>
                            <i class="icon icon-mask"></i>
                            <i class="icon icon-medal"></i>
                            <i class="icon icon-megaphone"></i>
                            <i class="icon icon-menu"></i>
                            <i class="icon icon-merge"></i>
                            <i class="icon icon-message"></i>
                            <i class="icon icon-mic"></i>
				            <i class="icon icon-minus"></i>
				            <i class="icon icon-mobile"></i>
				            <i class="icon icon-modern-mic"></i>
				            <i class="icon icon-moon"></i>
				            <i class="icon icon-mouse"></i>
				            <i class="icon icon-mouse-pointer"></i>
				            <i class="icon icon-music"></i>
				            <i class="icon icon-network"></i>
				            <i class="icon icon-new"></i>
				            <i class="icon icon-new-message"></i>
				            <i class="icon icon-news"></i>
				            <i class="icon icon-newsletter"></i>
				            <i class="icon icon-note"></i>
				            <i class="icon icon-notification"></i>
				            <i class="icon icon-notifications-off"></i>
				            <i class="icon icon-old-mobile"></i>
				            <i class="icon icon-old-phone"></i>
				            <i class="icon icon-open-book"></i>
				            <i class="icon icon-palette"></i>
				            <i class="icon icon-paper-plane"></i>
				            <i class="icon icon-pencil"></i>
				            <i class="icon icon-phone"></i>
				            <i class="icon icon-pie-chart"></i>
				            <i class="icon icon-pin"></i>
				            <i class="icon icon-plus"></i>
				            <i class="icon icon-popup"></i>
				            <i class="icon icon-power-plug"></i>
				            <i class="icon icon-price-ribbon"></i>
				            <i class="icon icon-price-tag">	</i>
				            <i class="icon icon-print"></i>
				            <i class="icon icon-progress-empty"></i>
				            <i class="icon icon-progress-full"></i>
				            <i class="icon icon-progress-one"></i>
				            <i class="icon icon-progress-two"></i>
				            <i class="icon icon-publish"></i>
				            <i class="icon icon-quote"></i>
				            <i class="icon icon-radio"></i>
				            <i class="icon icon-remove-user"></i>
				            <i class="icon icon-reply"></i>
				            <i class="icon icon-reply-all"></i>
				            <i class="icon icon-resize-100"></i>
				            <i class="icon icon-resize-full-screen"></i>
				            <i class="icon icon-retweet"></i>
				            <i class="icon icon-rocket"></i>
				            <i class="icon icon-round-brush"></i>
				            <i class="icon icon-rss"></i>
				            <i class="icon icon-ruler"></i>
				            <i class="icon icon-save"></i>
				            <i class="icon icon-scissors"></i>
				            <i class="icon icon-select-arrows"></i>
				            <i class="icon icon-share"></i>
				            <i class="icon icon-shareable"></i>
				            <i class="icon icon-share-alternative"></i>
                            <i class="icon icon-shield"></i>
                            <i class="icon icon-shop"></i>
                            <i class="icon icon-shopping-bag"></i>
                            <i class="icon icon-shopping-basket"></i>
                            <i class="icon icon-shopping-cart"></i>
                            <i class="icon icon-shuffle"></i>
                            <i class="icon icon-signal"></i>
                            <i class="icon icon-sound"></i>
                            <i class="icon icon-sound-mix"></i>
                            <i class="icon icon-sound-mute"></i>
                            <i class="icon icon-sports-club"></i>
                            <i class="icon icon-spreadsheet"></i>
                            <i class="icon icon-squared-cross"></i>
                            <i class="icon icon-squared-minus"></i>
                            <i class="icon icon-squared-plus"></i>
                            <i class="icon icon-star"></i>
                            <i class="icon icon-star-outlined"></i>
                            <i class="icon icon-stopwatch"></i>
                            <i class="icon icon-suitcase"></i>
                            <i class="icon icon-swap"></i>
                            <i class="icon icon-sweden"></i>
                            <i class="icon icon-switch"></i>
                            <i class="icon icon-tablet"></i>
                            <i class="icon icon-tablet-mobile-combo"></i>
                            <i class="icon icon-tag"></i>
                            <i class="icon icon-text"></i>
                            <i class="icon icon-text-document"></i>
                            <i class="icon icon-text-document-inverted"></i>
                            <i class="icon icon-thermometer"></i>
                            <i class="icon icon-thumbs-down"></i>
                            <i class="icon icon-thumbs-up"></i>
                            <i class="icon icon-thunder-cloud"></i>
                            <i class="icon icon-ticket"></i>
                            <i class="icon icon-time-slot"></i>
                            <i class="icon icon-tools"></i>
                            <i class="icon icon-traffic-cone"></i>
                            <i class="icon icon-trash"></i>
                            <i class="icon icon-tree"></i>
                            <i class="icon icon-triangle-down"></i>
                            <i class="icon icon-triangle-left"></i>
                            <i class="icon icon-triangle-right"></i>
                            <i class="icon icon-triangle-up"></i>
                            <i class="icon icon-trophy"></i>
                            <i class="icon icon-tv"></i>
                            <i class="icon icon-typing"></i>
                            <i class="icon icon-uninstall"></i>
                            <i class="icon icon-unread"></i>
                            <i class="icon icon-untag"></i>
                            <i class="icon icon-upload"></i>
                            <i class="icon icon-upload-to-cloud"></i>
                            <i class="icon icon-user"></i>
                            <i class="icon icon-users"></i>
                            <i class="icon icon-v-card"></i>
                            <i class="icon icon-video"></i>
                            <i class="icon icon-video-camera"></i>
                            <i class="icon icon-vinyl"></i>
                            <i class="icon icon-voicemail"></i>
                            <i class="icon icon-wallet"></i>
                            <i class="icon icon-warning"></i>
                            <i class="icon icon-water"></i>
                        </div>
                    </div>

                </section>

            </div>
            
        </main>

        <!-- Footer -->
        <footer class="footer" role="contentinfo">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="social-list">
                            <li><a href="#" class="icon icon-facebook"></a></li>
                            <li><a href="#" class="icon icon-twitter"></a></li>
                            <li><a href="#" class="icon icon-pinterest"></a></li>
                            <li><a href="#" class="icon icon-flickr"></a></li>
                            <li><a href="#" class="icon icon-dribbble"></a></li>
                            <li><a href="#" class="icon icon-behance"></a></li>
                        </ul>
                        <nav class="foter-navbar" role="navigation">
                            <ul class="footer-nav" role="menubar">
                                <li role="menuitem"><a href="#">About</a></li>
                                <li role="menuitem"><a href="#">Jobs</a></li>
                                <li role="menuitem"><a href="#">Press</a></li>
                                <li role="menuitem"><a href="#">Contact</a></li>
                                <li role="menuitem"><a href="#">Terms</a></li>
                                <li role="menuitem"><a href="#">Privacy</a></li>
                            </ul>
                        </nav>
                        <p class="copyright">&copy; <time datetime="2015">2015</time> Hansen Theme, All Rights Reserved, Made with <i class="icon icon-tools"></i> by <a href="http://filipgreksa.com/" target="_blank">Filip</a></p>
                    </div>
                </div>
            </div>
        </footer>

<?php $this->partial("layouts/hansen/footer") ?>