<ul class="navigation" role="menubar">
    <li role="menuitem"><a href="<?php p_base_url()?>/front/hansen">Home</a></li>
    <li role="menuitem"><a href="<?php p_base_url(); ?>/front/hansen/about">About</a></li>
    <li role="menuitem"><a href="<?php p_base_url(); ?>/front/hansen/contact">Contact</a></li>
    <li role="menuitem"><a href="<?php p_base_url(); ?>/front/hansen/forofor">Page 404</a></li>
    <li role="menuitem"><a href="<?php p_base_url(); ?>/front/hansen/comingsoon">Coming Soon</a></li>
    <li role="menuitem"><a href="<?php p_base_url(); ?>/front/hansen/shortcodes">Shortcodes</a></li>
    <li role="menuitem"><a href="<?php p_base_url(); ?>/front/hansen/indexslider">Index Sider</a></li>
    <li role="menuitem"><a href="<?php p_base_url(); ?>/front/hansen/indexvideo">Index Video</a></li>
    <li role="menuitem"><a href="<?php p_base_url(); ?>/front/hansen/shortcodes">Short COdes</a></li>
</ul>