<?php $this->partial("layouts/admin/header"); ?>
<script>
    var loadFile = function(event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
        filenameProfileImage();
    };
    function filenameProfileImage() {
        var filename = document.forms["formData"].elements["detailfile"];
        var name_of_file = document.forms["formData"].elements["text_url"];

        if (name_of_file.length == undefined) {
            name_of_file.value = filename.value;
        } else {
            for (var i = 0, len = filename.length; i < len; i++) {
                name_of_file[i].value = filename[i].value;
            }
        }
    }
    function gotoList(){
        location.href="<?php p_base_url();?>/admin/<?php echo $url;?>";
    }
    function loadForm(){
        var url = "<?php p_base_url();?>/admin/<?php echo $url;?>/get?id=<?php echo $id;?>";
        FormLoadByUrlJson(url,"formData");
        $.get(url, function (data) {
            var response = parseJson(data);
            $( "#text_url" ).val(response.path_small);
            $( "#password" ).val("");
        });
    }
    function showResponse(response, statusText, xhr, $form)  {
        response = parseJson(response);
        if(response.isSuccess){
            gotoList();
        }else{
            showModalError(response.message);
        }
    }
    function showRequest(formData, jqForm, options) {

        return true;
    }
    var validateForm = {
        rules: {
            username: {
                required: true
            },
            password: {
                required: true
            },
            nama: {
                required: true
            }
        },
        messages: {
            username: {
                required: "Please enter a Username"
            },
            password: {
                required: "Please enter a Password"
            },
            nama: {
                required: "Please enter a Nama"
            }
        }
    };
    var optionsForm = {
        dataType:  'json',
        beforeSubmit:  showRequest,
        success: showResponse
    };
    function submitForm(){
        $("#formData").validate(validateForm);
        $('#formData').ajaxForm(optionsForm);
        $('#formData').submit();
    }
    $( document ).ready(function() {
        $(":input").inputmask();
        loadForm();
    });
</script>
<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Form&nbsp;-&nbsp;<?php echo $title;?>
            </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i><?php echo $labelForm;?></a></li>
            <li class="active"><?php echo $title;?></li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="box box-primary">
                        <!-- form start -->
                        <form id="formData" role="form" method="post" action="<?php echo base_url()."/admin/".$url."/".$action;?>">
                            <div class="box-body">
                                <?php /*if ($this->session->isAdmin): */?>
                                <div style="padding: 5px 0 5px 0;">
                                    <button type="button" class="btn btn-primary" onclick="gotoList();">
                                        <i class="fa fa-step-backward"></i>
                                    </button>
                                </div>
                                <?php /*endif; */?>
                                <div class="form-group">
                                    <label>Foto Admin</label>
                                    <div class="media">
                                        <div class="col-sm-3 text-center">
                                            <?php $data = \PgAdmin::findFirstById($id);
                                            if( $data ){
                                                $datCustomer = \SqCustomer::findFirstByEmail($data->email);
                                                if( !empty($datCustomer)){ ?>
                                                    <a href="javascript:void(0)" style="padding:1px">
                                                        <img class="img-circle" name="imgPhotoComplaint"
                                                             src="<?php p_base_url($datCustomer->path_medium) ?>" alt="" width="100">
                                                    </a>
                                                <?php }?>
                                            <?php }else{ ?>
                                                <a href="javascript:void(0)" style="padding:1px">
                                                    <img id="output" class="img-circle"
                                                         src="<?php p_base_url('/img/unknown_member.png') ?>" alt="" height="125">
                                                </a>
                                            <?php } ?>
                                            <div class="panel-body">
                                                <div class="fileUpload btn btn-primary col-sm-12" style="padding: 5px;">
                                                    <a style="color: #ff0000">*</a>Upload.
                                                    <input type="file" name="detailfile" class="upload" onchange="loadFile(event);">
                                                </div>
                                                <div class="col-sm-3 hidden">
                                                    <input type="text" id="text_url" placeholder="Url Photo" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            <div class="form-group">
                                                <label>Member</label><span style="color: #d62728;font-size: 10px;">&nbsp;*Jika ingin menghubungkan ke Customer</span>
                                                <div class="dropdown">
                                                    <div>
                                                        <?php
                                                        echo $this->tag->select(array("id_customer", "id" => "id_customer",
                                                            \SqCustomer::find(array(
                                                                "order" => "update_date DESC"
                                                            )),
                                                            "useEmpty" => true,
                                                            "emptyText" => "-Pilih Member-",
                                                            "class" => "form-control",
                                                            "using" => array("id", "first_name")
                                                        ));?>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="username">Username</label><span style="color: #d62728;">&nbsp;*</span>
                                                <input type="hidden" name="id">
                                                <input type="text" data-role="text" id="username" name="username" class="form-control" placeholder="Enter Username">
                                            </div>
                                            <?php if(!$is_edit): ?>
                                            <div class="form-group">
                                                <label for="password">Password</label><span style="color: #d62728;">&nbsp;*</span>
                                                <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password">
                                            </div>
                                            <?php endif; ?>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="nama">Admin?</label><span style="color: #d62728;">&nbsp;*</span>
                                    <!--<input type="text" data-role="text" id="status" name="status" class="form-control" placeholder="Status">-->
                                    <div class="dropdown">
                                        <select id="is_admin" name="is_admin" class="form-control">
                                            <option value="0" selected>Bukan</option>
                                            <option value="1">Ya</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="nama">Nama Tampilan</label><span style="color: #d62728;">&nbsp;*</span>
                                    <input type="text" data-role="text" id="nama" name="nama" class="form-control" placeholder="Enter Nama">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label><span style="color: #d62728;">&nbsp;*</span>
                                    <input type="text" data-role="text" data-inputmask="'alias': 'email'" id="email"  name="email" class="form-control" placeholder="Enter Email">
                                </div>
                                <div class="form-group">
                                    <label for="nip">NIP</label>
                                    <input type="text" data-role="text" id="nip" name="nip" class="form-control" placeholder="Enter NIP">
                                </div>
                                <div class="form-group">
                                    <label for="id_division">Bagian/ Jabatan</label>
                                    <div class="dropdown">
                                        <div>
                                            <?php
                                            echo $this->tag->select(array("id_division", "id" => "id_division",
                                                \PgDivision::find(array(
                                                    "order" => "name DESC"
                                                )),
                                                "useEmpty" => true,
                                                "emptyText" => "-Pilih-",
                                                "class" => "form-control",
                                                "using" => array("id", "name")
                                            ));?>
                                        </div>
                                    </div>
                                    <!--<div class="dropdown">
                                        <div>
                                            <select id="id_division" name="id_division" class="form-control">
                                                <option value="">Pilih Bagian</option>
                                                <?php
/*                                                $listDivisi = \PgDivision::find();
                                                foreach($listDivisi as $divisi): */?>
                                                    <option value="<?php /*echo $divisi->id;*/?>"><?php /*echo $divisi->name;*/?></option>
                                                <?php /*endforeach;*/?>
                                            </select>
                                        </div>
                                    </div>-->
                                    <!--<input type="text" data-role="text" id="id_category"
                                           name="id_category" class="form-control" placeholder="Kategori">-->
                                </div>
                                <div class="form-group">
                                    <label for="keterangan">Keterangan</label>
                                    <input type="text" data-role="text" id="keterangan" name="keterangan" class="form-control" placeholder="Enter Keterangan">
                                </div>
                            </div><!-- /.box-body -->

                            <div class="box-footer">
                                <button type="button" class="btn btn-primary" onclick="submitForm()"><?php echo $labelSubmit;?></button>
                                <!--<button type="button" class="btn btn-primary" onclick="gotoList();">Back</button>-->
                            </div>
                        </form>
                    </div><!-- /.box -->
                    </div>
                </div>

        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
<script>
    $('#id_customer').change(function(){
        var getValue= $(this).val();
        var url = "<?php p_base_url();?>/admin/customer/getCustomer?id=" + getValue;
        $.getJSON(url, function (data) {
            $('#nama').val(data.data.first_name+" "+data.data.last_name);
            $('#email').val(data.data.email);
            $('#username').val(data.data.email);
            loadImageFromCustomer(data);
        });
    });
    function loadImageFromCustomer(data){
        var url = "<?php p_base_url()?>"+data.data.path_small
        $('#output').attr("src", url);

        var filename = $('.detailfile').val(url);
        var name_of_file = $('#text_url').val(url);

        if (name_of_file.length == undefined) {
            name_of_file.value = filename.value;
        } else {
            for (var i = 0, len = filename.length; i < len; i++) {
                name_of_file[i].value = filename[i].value;
            }
        }
    }
</script>
<?php $this->partial("layouts/admin/footer"); ?>