<?php $this->partial("layouts/admin/header"); ?>
<script>
var editor; // use a global for the submit and return data rendering in the examples

function confirmDelete(id){
    var message = "Do you want to delete this data?";
    showModalWarning(message,confirmDeleteAction,[id]);
}

function confirmDeleteAction(id){
    $.post("<?php p_base_url();?>/admin/<?php echo $url;?>/remove", {id: id}, function (data) {
        hideAllModal();
//        showModalSuccess("Delete data is successfully !");
        reloadGrid();
    }, "json");
}

function gotoNew(){
//    $('#mymodal').modal('show');
//    $('#mymodal .modal-title').html('Judul HTML');
//    $('#mymodal .modal-body').load('<?php //PartialLibrary::p_load('admin/partial/form_master_admin') ?>//',
//        {id: '<?php //echo null; ?>//'}, function (html) {
//            $('#mymodal .modal-body').html(html);
//        });
    location.href="<?php p_base_url();?>/admin/<?php echo $url;?>/new";
}

function doGenerateAcc(){
    location.href="<?php p_base_url();?>/admin/<?php echo $url;?>/generateAcc";
}

function reloadGrid(){
    var table = $('#grid').DataTable();
    table.ajax.reload(function (json) {
    });
}

$(document).ready(function () {
    $('#grid').dataTable({
        "processing": true,
        "serverSide": true,
        "ajax": "<?php p_base_url();?>/admin/<?php echo $url;?>/list",
        "columns": [
            {
                "data": "id", "render": function (data, type, row) {
                return "<a href='<?php p_base_url();?>/admin/<?php echo $url;?>/edit?id=" + data + "&isedit=true'>Edit</a> || <a href='#' onclick='confirmDelete(\"" + data + "\");'>Delete</a>";
            }
            },
            {
                "data": "path_small",
                "render": function (data, type, row) {
                    if (data != '') {
                        var urls = data;
                        return '<div class="userprofile">' +
                            '<div style="background-image:url(\'' +
                            '<?php echo base_url(); ?>' + urls + '\');" ' + 'class="mypic" id="mypic">' +
                            '<span class="glow">&nbsp;</span></div>' + '</div>';
                    } else {
                        return '';
                    }
                }
            },
            {
                "data": "username", "render": function (data, type, row) {
                return data;
            }
            },
            {
                "data": "nama", "render": function (data, type, row) {
                return data;
            }
            },
            {
                "data": "email", "render": function (data, type, row) {
                return data;
            }
            },

            //{ "data": "nama_bagian", "render": function ( data, type, row ) { return data;}  },
            {
                "data": "jabatan1", "render": function (data, type, row) {
                return data;
            }
            },
            {
                "data": "divisi", "render": function (data, type, row) {
                return data;
            }
            },
            {
                "data": "is_admin", "render": function (data, type, row) {
                return row.is_admin == 1 ? "<label style='color:green;'>Ya</label>" : "<label style='color:red;'>Bukan</label>";
            }
            },
            {
                "data": "id_customer", "render": function (data, type, row) {
                return row.id_customer == 1 ? "<label style='color:green;'>Ya</label>" : "<label style='color:red;'>Bukan</label>";
            }
            },
            {
                "data": "keterangan", "render": function (data, type, row) {
                return data;
            }
            }
        ]
    });
});
</script>
<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                <?php if($this->session->isAdmin): ?>
                    <button title="Data Baru" type="button" class="btn btn-primary" onclick="gotoNew()"><i class="fa fa-plus"></i></button>
                    <button title="Generate Account" type="button" class="btn btn-danger" onclick="doGenerateAcc()"><i class="fa fa-gears"></i></button>
                <?php endif; ?>
                <?php echo $title; ?>
            </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Master</a></li>
            <li class="active"><?php echo $title;?></li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
		<div class="row">
            <div class="col-sm-12">
              <div class="box">
                <div class="box-body">
                    <div style="padding: 5px;">
                    <table id="grid" class="table table-striped dt-responsive table-bordered" cellspacing="0" width="100%">
						<thead>
							<tr>
                                <th>Action.</th>
								<th>Photo</th>
								<th>Username</th>
								<th>Nama</th>
								<th>Email</th>
                                <th>Jabatan SQ</th>
                                <th>Divisi</th>
                                <th>Admin?</th>
                                <th>Member?</th>
                                <th>Keterangan</th>
                            </tr>
						</thead>
					</table>
                    </div>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->


        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

<?php $this->partial("layouts/admin/footer"); ?>