<?php $this->partial("layouts/admin/header"); ?>
<script>
var editor; // use a global for the submit and return data rendering in the examples

function confirmDelete(id){
    var message = "Do you want to delete this data?";
    showModalWarning(message,confirmDeleteAction,[id]);
}

function confirmDeleteAction(id){
    $.post("<?php p_base_url();?>/admin/<?php echo $url;?>/remove", {id: id}, function (data) {
        hideAllModal();
        showModalSuccess("Delete data is successfully !");
        reloadGrid();
    }, "json");
}

function gotoNew(){
    location.href="<?php p_base_url();?>/admin/<?php echo $url;?>/new";
}

function formSendSMS(){
    showModalSMS();
}

function reloadGrid(){
    var table = $('#grid').DataTable();

    table.ajax.reload( function ( json ) {

    } );
}

$(document).ready(function() {
		$('#grid').dataTable({
				"processing": true,
				"serverSide": true,
                 "ajax": "<?php p_base_url();?>/admin/<?php echo $url;?>/list",
                 "columns": [
                    { "data": "id", "orderable": false, "render": function ( data, type, row ) { return "<input type='checkbox' name='ids[]' value='"+data+"' />";}  },
					{ "data": "name", "render": function ( data, type, row ) { return data;} },
					{ "data": "notes", "render": function ( data, type, row ) { return data;}  },
					{ "data": "id", "render": function ( data, type, row ) { return "<a href='<?php p_base_url();?>/admin/<?php echo $url;?>/edit?id="+data+"'>Edit</a> || <a href='#' onclick='confirmDelete(\""+data+"\");'>Delete</a>";}  }
				  ]
        });
        $('#selectAll').click(function (e) {
            $(this).closest('#grid').find('input:checkbox').prop('checked', this.checked);
        });
} );
</script>
<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Master
            <small><?php echo $title;?></small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Master</a></li>
            <li class="active"><?php echo $title;?></li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
		<div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title">Master <?php echo $title;?></h3>
                    <p style="padding-top: 10px;">
                        <button type="button" class="btn btn-primary" onclick="gotoNew()">Create</button>
                        <button type="button" style="margin-left: 5px;" class="btn btn-primary" onclick="formSendSMS()">Send SMS to Selected Group</button>
                        <button type="button" style="margin-left: 5px;" class="btn btn-primary" onclick="formSendSMS()">Send SMS to All Group</button>
                    </p>
                </div><!-- /.box-header -->
                <div class="box-body">

					<table id="grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
						<thead>
							<tr>
                                <th>
                                    <input type="checkbox" id="selectAll" />
                                </th>
								<th>Nama</th>
								<th>Keterangan</th>
								<th>Action.</th>
							</tr>
						</thead>
					</table>
					
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
		  
		  
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

<?php $this->partial("layouts/admin/footer"); ?>