<?php $this->partial("layouts/admin/header"); ?>
<script>
    function gotoList(){
        location.href="<?php p_base_url();?>/admin/<?php echo $url;?>";
    }
    function loadForm(){
        var url = "<?php p_base_url();?>/admin/<?php echo $url;?>/get?id=<?php echo $id;?>";
        FormLoadByUrlJson(url,"formData");
    }
    function showResponse(response, statusText, xhr, $form)  {
        response = parseJson(response);
        if(response.isSuccess){
            gotoList();
        }else{
            showModalError(response.message);
        }
    }
    function showRequest(formData, jqForm, options) {

        return true;
    }
    var validateForm = {
        rules: {
            name: {
                required: true
            }
        },
        messages: {
            name: {
                required: "Please enter a Nama"
            }
        }
    };
    var optionsForm = {
        dataType:  'json',
        beforeSubmit:  showRequest,
        success: showResponse
    };
    function submitForm(){
        $("#formData").validate(validateForm);
        $('#formData').ajaxForm(optionsForm);
        $('#formData').submit();
    }
    $( document ).ready(function() {
        $(":input").inputmask();
        loadForm();
    });
</script>
<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                <small>Form&nbsp;-&nbsp;<?php echo $title;?></small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i><?php echo $labelForm;?></a></li>
                <li class="active"><?php echo $title;?></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="box box-primary">
                        <form id="formData" role="form" method="post" action="<?php echo base_url()."/admin/".$url."/".$action;?>">
                            <div class="box-body">
                                <div style="padding: 5px 0 5px 0;">
                                    <button type="button" class="btn btn-primary fa fa-mail-reply-all" onclick="gotoList();"></button>
                                </div>
                                <div class="form-group">
                                    <label for="name">Nama Sekolah</label>
                                    <input type="hidden" name="id">
                                    <input type="text" data-role="text" id="name" name="nm_sekolah" class="form-control" placeholder="Enter Name">
                                </div>
                                 <div class="form-group">
                                    <label for="notes">Alamat</label>
                                    <textarea type="text" data-role="text" id="notes" name="alamat" class="form-control" placeholder="Enter Notes"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Status Aktif</label><span style="color: #d62728;font-size: 8pt;">*)</span>
                                    <div class="dropdown">
                                        <select id="status" name="status" class="form-control">
                                            <option value="1" selected>Aktif</option>
                                            <option value="0">Non Aktif</option>
                                        </select>
                                    </div>
                                </div>
                            </div><!-- /.box-body -->

                            <div class="box-footer">
                                <button type="button" class="btn btn-primary" onclick="submitForm()"><?php echo $labelSubmit;?></button>
                            </div>
                        </form>
                    </div><!-- /.box -->
                    </div>
                </div>

        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

<?php $this->partial("layouts/admin/footer"); ?>