<?php $this->partial("layouts/admin/header"); ?>
<script>
var editor; // use a global for the submit and return data rendering in the examples

function confirmDelete(id){
    var message = "Do you want to delete this data?";
    showModalWarning(message,confirmDeleteAction,[id]);
}

function confirmDeleteAction(id){
    $.post("<?php p_base_url();?>/admin/<?php echo $url;?>/remove", {id: id}, function (data) {
        hideAllModal();
        reloadGrid();
    }, "json");
}

function gotoNew(){
    location.href="<?php p_base_url();?>/admin/<?php echo $url;?>/new";
}

function formSendSMS(){
    showModalSMS();
}

function reloadGrid(){
    var table = $('#grid').DataTable();
    table.ajax.reload( function ( json ) {
    } );
}

$(document).ready(function() {
		$('#grid').dataTable({
				"processing": true,
				"serverSide": true,
                 "ajax": "<?php p_base_url();?>/admin/<?php echo $url;?>/list",
                 "columns": [
                     { "data": "id", "orderable": false, "render": function ( data, type, row ) { return "<input type='checkbox' name='ids[]' value='"+data+"' />";}  },
                     { "data": "id", "render": function ( data, type, row ) { return "<a href='<?php p_base_url();?>/admin/<?php echo $url;?>/edit?id="+data+"'>Edit</a> || <a href='#' onclick='confirmDelete(\""+data+"\");'>Delete</a>";}  },
                     { "data": "nm_sekolah", "render": function ( data, type, row ) {
                            return '<label>'+data+'</label>';
                     }},
                     { "data": "status", "render": function ( data, type, row ) {
                         return data == 0 ? "Non Aktif": "Aktif";
                     } },
                     { "data": "alamat", "render": function ( data, type, row ) { return data;}  }
				  ]
        });
        $('#selectAll').click(function (e) {
            $(this).closest('#grid').find('input:checkbox').prop('checked', this.checked);
        });
} );
</script>
<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                <?php if($this->session->isAdmin): ?>
                    <button title="Data Baru" type="button" class="btn btn-primary" onclick="gotoNew()"><i class="fa fa-plus"></i></button>
                <?php endif; ?>
                <?php echo $title; ?>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>Master</a></li>
                <li class="active"><?php echo $title; ?></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
		<div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-body">
                    <div style="padding: 5px;">
                    <table id="grid" class="table table-striped dt-responsive table-bordered" cellspacing="0" width="100%">
						<thead>
							<tr>
                                <th>
                                    <input type="checkbox" id="selectAll" />
                                </th>
                                <th>Action.</th>
								<th>Nama Sekolah</th>
								<th>Status Aktif</th>
								<th>Alamat</th>
							</tr>
						</thead>
					</table>
                    </div>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->
		  
		  
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

<?php $this->partial("layouts/admin/footer"); ?>