.userprofile {
    padding: 0px 0px 0px 0px;
    text-align: center;
    list-style-type: none;
}

.mypic {
    border-radius: 50px;
    position: relative;
    display: block;
    margin: 10px auto;
    box-shadow: 0px 0px 0px 4px #4b4b4b, 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
    width: 60px;
    height: 60px;
    behavior: url(/resources/css/PIE.htc);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.glow {
    display: block;
    width: 109px;
    height: 107px;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -55px;
    box-shadow: inset 90px 110px 0px -90px rgba(255,255,255,.15);
    border-radius: 50%;
}

.username {color:#efefef}