<table class="table table-hover" style="width:100%">
    <tbody><tr>
        <th>Tanggal</th>
        <th>Kategori</th>
        <th>Nama Pelapor (Kelurahan)</th>
        <th>Deskripsi</th>
        <th>Aksi</th>
    </tr>
    <?php
    $url=file_get_contents('http://services.qluein.org/qluein_marker.php');
    $data=json_decode($url);

    foreach ($data as $row){

        if($row->type=='Criminal'|| $row->type=='Traffic Jam'|| $row->type=='Fire'){

        }else{


            echo '
                                                     <span style="display:none" id="qlue-time-'.$row->id.'">'.trim($row->profile->timestamp).'</span>    
                                                    <span style="display:none" id="qlue-lat-'.$row->id.'">'.trim($row->profile->location->lat).'</span>
                                                    <span style="display:none" id="qlue-lokasi-'.$row->id.'">'.trim($row->profile->detail->name_kel).'</span>
                                                    <span style="display:none" id="qlue-photo-'.$row->id.'">'.trim($row->profile->detail->image).'</span>
                                                    <span style="display:none" id="qlue-lng-'.$row->id.'">'.trim($row->profile->location->lng).'</span>
                                                <tr><td>'.$row->profile->timestamp.'</td>';
            echo '<td><span style="display:none;" id="qlue-id_fk-'.$row->id.'">'.$row->id.'</span>'.$row->type.'</td>';
            echo '<td><span id="qlue-name_informer-'.$row->id.'">'.$row->profile->username."</span><br/>(<span id='qlue-location-".$row->id."'>".$row->profile->detail->name_kel.'</span>)</td>';
            echo '<td><span id="qlue-description-'.$row->id.'">'.$row->profile->detail->desc.'</span></td>';
            echo '<td><div class="input-group-btn">
                                                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action <span class="fa fa-caret-down"></span></button>
                                                      <ul class="dropdown-menu">
                                                        <li><a href="#" onclick="openFormPengaduanQlue(\''.$row->id.'\')">Kirim Ke Pengaduan</a></li>
                                                        <li><a href="#" onclick="viewDetailQlue(\''.$row->id.'\')">Detail</a></li>
                                                      </ul>
                                                    </div></td></tr>';


        }
    }




    ?>
</table>