<table class="table table-hover table-bordered">
    <tbody><tr>
        <th>No</th>
        <th>Tanggal</th>
        <th>Kategori</th>
        <th style="width:30%">Deskripsi</th>
        <th>Jalur Pengaduan</th>
        <th>Status</th>
         <th>Aksi</th>
    </tr>
    <?php
        $idx = 1;
    $search = "";
    $conditions = "(description like :search: or
                name_informer like :search: or
                    notes_proceed like :search: or
                        description like :search:)
                            ORDER BY time_created DESC";
    $bind = array("search"=>"%".$search."%");
    if(!empty($this->session->id_division) && !$this->session->isAdmin){
        $conditions = "id_division=:id_division: and ".$conditions;
        $bind["id_division"] = $this->session->id_division;
    }
        $listData = \PgComplaint::find(array(
            "conditions"=>$conditions,
            "bind"=>$bind
        ));
        foreach($listData as $data):

    ?>
    <tr>
        <td><?php echo $idx;?></td>
        <td><?php echo date('d/m/Y H:i:s',$data->time_reported);?></td>
        <td><?php
            echo $data->category?$data->category->name:'';
            ?></td>
        <td><?php echo substr($data->description,0,50);?>..</td>
        <td>
            <img src="<?php p_assets_url($data->PgSource->img);?>" width="32">

        </td>
        
        <td><?php echo ComplaintStatus::getStatus($data->status_process);?></td>
        <td><div class="input-group-btn">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action <span class="fa fa-caret-down"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#" onclick="viewDetailComplaint('<?php echo $data->id;?>')">Detail</a></li>
                    <li><a href="#" onclick="openFormPengaduanEdit('<?php echo $data->id;?>')">Edit Data</a></li>
                    <li><a href="#" onclick="confirmRemovePengaduan('<?php echo $data->id;?>')">Hapus Data</a></li>
                </ul>
            </div></td>
    <?php
        $idx++;
        endforeach;?>
    </tbody></table>