    <div class="box-body">
        <div class="form-group">
            <label for="password">Time Reported</label>
            <div class="media">
                <a href="javascrip:void(0)" data-toggle="tooltip" title="<?php echo date("d/m/Y H:i",strtotime($data->created_at));?>"> <span class="meta-title2" style="color: #A3A3A3">  <?php echo date("d/m/Y H:i",strtotime($data->created_at));?></span></a>
            </div>
        </div>
        <div class="form-group">
            <label>User Photo</label>
            <div class="media">
                <img src="<?php echo $data->user->profile_image_url;?>" class="media-object-img img-rounded">
            </div>
        </div>
        <div class="form-group">
            <label>User Screen</label>
            <div class="media">
                <a href="https://twitter.com/<?php echo $data->user->screen_name;?>" target="_blank">
                    <span class="business-text-pin"><strong><?php echo $data->user->name;?></strong></span>
                    <span class="meta-title2" style="color: #A3A3A3">  @<?php echo $data->user->screen_name;?></span></a>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Isi Pesan</label>
            <div class="media">
                <?php echo $data->text;?>
            </div>
        </div>

    </div><!-- /.box-body -->