    <div class="box-body">
        <div class="form-group">
            <label for="nip">Deskripsi</label>
            <div class="media">
                <?php echo $complaint->description;?>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Pengirim</label>
            <div class="media">
                <?php echo $complaint->name_informer;?>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Tanggal Pengaduan</label>
            <div class="media">
                <?php echo $complaint->time_reported;?>
            </div>
        </div>
    </div><!-- /.box-body -->