    <div class="box-body">
        <div class="form-group">
            <label>Gambar</label>
            <div class="media">
                <a href="javascript:void(0)" class="pull-left" style="padding:1px">
                    <img alt="Gambar dari Social Network" src="<?php echo $complaint->photo_complaint_social;?>" width="150" height="200" id="fp_photo_social">
                </a>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Map</label>
            <div class="media">
                <div id="view_map_canvas" style="width:100%;height:300px;"></div>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Latitude</label>
            <div class="media">
                <?php echo $complaint->latitude;?>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Longitude</label>
            <div class="media">
                <?php echo $complaint->longitude;?>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Lokasi</label>
            <div class="media">
                <?php echo $complaint->location;?>
            </div>
        </div>
        <div class="form-group">
            <label for="nip">Deskripsi</label>
            <div class="media">
                <?php echo $complaint->description;?>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Nama Pelapor</label>
            <div class="media">
                <?php echo $complaint->name_informer;?>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Tanggal Pengaduan</label>
            <div class="media">
                <?php echo $complaint->time_reported;?>
            </div>
        </div>
    </div><!-- /.box-body -->

    <script>
        $(document).ready(function(){
            <?php if(!empty($complaint->latitude) && !empty($complaint->longitude)):?>
                showMap("view_map_canvas",<?php echo $complaint->latitude;?>,<?php echo $complaint->longitude;?>);
            <?php endif;?>
        });
    </script>