    <div class="box-body">
        <div class="form-group">
            <label>Gambar</label>
            <div class="media">
                <?php 
                if($complaint->photo_complaint!=''){?>
                <a href="javascript:void(0)" class="pull-left" style="padding:1px">
                    <img id="fp_imgPhotoComplaint" src="<?php echo base_url().$complaint->photo_complaint;?>" name="imgPhotoComplaint" width="200">
                </a>
                <?php } ?>
            </div>
        </div>
        <div class="form-group">
            
            <div class="media">
                <a href="javascript:void(0)" class="pull-left" style="padding:1px">
                    <img alt="Gambar dari Social Network" src="<?php echo $complaint->photo_complaint_social;?>" width="150" height="200" id="fp_photo_social">
                </a>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Map</label>
            <div class="media">
                <div id="view_map_canvas" style="width:100%;height:300px;"></div>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Latitude</label>
            <div class="media">
                <?php echo $complaint->latitude;?>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Longitude</label>
            <div class="media">
                <?php echo $complaint->longitude;?>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Lokasi</label>
            <div class="media">
                <?php echo $complaint->location;?>
            </div>
        </div>
        <div class="form-group">
            <label for="id_regency">Kabupaten/Kota</label>
            <div class="media">
                <?php echo $complaint->regency?$complaint->regency->nama:"";?>
            </div>
        </div>
        <div class="form-group">
            <label for="id_sub_district">Kecamatan</label>
            <div class="media">
                <?php echo $complaint->subDistrict?$complaint->subDistrict->nama:"";?>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Tag</label>
            <div class="media">
                <?php echo $complaint->tag;?>
            </div>
        </div>
        <div class="form-group">
            <label for="id_division">Bagian Terkait</label>
            <div class="media">
                <?php echo $complaint->division?$complaint->division->name:"";?>
            </div>
        </div>
        <div class="form-group">
            <label for="id_category">Kategori</label>
            <div class="media">
                <?php echo $complaint->division?$complaint->division->name:"";?>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Catatan Misi</label>
            <div class="media">
                <?php echo $complaint->notes_mission;?>
            </div>
        </div>
        <div class="form-group">
            <label for="nama">Status</label>
            <!--<input type="text" data-role="text" id="status" name="status" class="form-control" placeholder="Status">-->
            <div class="media">
                <?php echo ComplaintStatusPriority::getStatusPriority($complaint->status_priority);?>
            </div>
        </div>
        <div class="form-group">
            <label for="nip">Deskripsi</label>
            <div class="media">
                <?php echo $complaint->description;?>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Nama Pelapor</label>
            <div class="media">
                <?php echo $complaint->name_informer;?>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Tanggal Pengaduan</label>
            <div class="media">
                <?php echo date('d/m/Y H:i:s',$complaint->time_reported);?>
            </div>
        </div>
        <div class="form-group">
            <label for="nama">Status Respon Unit</label>
            <!--<input type="text" data-role="text" id="status" name="status" class="form-control" placeholder="Status">-->
            <div class="media">
                <?php echo ComplaintResponsUnit::getStatus($complaint->status_respons_unit);?>
            </div>
        </div>
        <div class="form-group">
            <label for="nip">Ket</label>
            <div class="media">
                <?php echo $complaint->ket;?>
            </div>
        </div>
    </div><!-- /.box-body -->

    <script>
        $(document).ready(function(){
            <?php if(!empty($complaint->latitude) && !empty($complaint->longitude)):?>
                showMap("view_map_canvas",<?php echo $complaint->latitude;?>,<?php echo $complaint->longitude;?>);
            <?php endif;?>
        });
    </script>