<?php $this->partial("layouts/quran/header"); ?>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Dashboard
            <small><?php echo ""; ?></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Master</a></li>
            <li class="active"><?php echo ""; ?></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <!--Pin Preview-->
        <div class="row">
<!--            --><?php //$this->partial("quran/partial/widget_pin", array("key1" => null, "key2" => null)); ?>
        </div>

        <!--Chart and Calendar-->
        <div class="row hidden">
<!--            --><?php //$this->partial("quran/partial/widget_chart", array("key1" => null, "key2" => null)); ?>
<!--            --><?php //$this->partial("quran/partial/widget_calendar", array("key1" => null, "key2" => null)); ?>
        </div>

        <!--Todolist-->
        <div class="row hidden">
<!--            --><?php //$this->partial("quran/partial/widget_todolist", array("key1" => null, "key2" => null)); ?>
        </div>
    </section>

</div><!-- /.content-wrapper -->

<script>
    $(document).ready(function () {

    });
    function doModal() {
        $('#row3_qlue').modal();
    }

    function openFormPengaduanManual() {
        $('#modalFormPengaduan').modal('show');
        $('#modalFormPengaduan .modal-title').html('Tambah Pengaduan Manual');
        $("#formPengaduan").attr('action', '<?php echo base_url();?>/admin/dashboard/save');
        $("#fp_imgPhotoComplaint").hide();
        $("#fp_map_canvas").hide();
        $("#fp_photo_social").hide();
        $("#source-hide").hide();
        $("#source-dropdown").show();

        var source = '';
        var time_repoted = moment().format("DD/MM/YYYY HH:mm");
        var row = {source: source, time_repoted: time_repoted};
        showModalForm(row);
    }

    function openFormPengaduanEdit(id) {
//            console.log(data);
        $("#fp_map_canvas").html('');
        $('#modalFormPengaduan').modal('show');
        $('#modalFormPengaduan .modal-title').html('Edit Pengaduan');
        $("#formPengaduan").attr('action', '<?php echo base_url();?>/admin/dashboard/update');
        $.get("<?php p_base_url();?>/admin/dashboard/get", {id: id}, function (row) {
            row = parseJson(row);
            $("#fp_map_canvas").html('');
            if (row.latitude != '' && row.longitude != '')
//                showMap("fp_map_canvas", row.latitude, row.longitude);
                showModalForm(row);
        });
    }
    function viewDetailComplaint(id) {
        $("#modalViewBody").html('Loading...');
        $("#modalViewBody").load('<?php echo base_url();?>/admin/dashboard/view?id=' + id);
        $('#modalView').modal('show');
    }
    function viewDetailTwitter(id) {
        $("#modalViewBody").html('Loading...');
        $("#modalViewBody").load('<?php echo base_url();?>/admin/dashboard/twitter?id=' + id);
        $('#modalView').modal('show');
    }
    function reloadTable() {
        //$("#tableData").load('<?php echo base_url();?>/admin/dashboard/tableData');
        var table = $('#grid').DataTable();

        table.ajax.reload(function (json) {

        });
    }
    function showResponsePengaduan(response, statusText, xhr, $form) {
        response = parseJson(response);
        if (response.isSuccess) {
            reloadTable();
            showModalSuccess('berhasil ditambahkan ke pengaduan');
            closeFormPengaduan();
        } else {
            showModalError(response.message);
        }
    }
    function showRequestPengaduan(formData, jqForm, options) {

        return true;
    }
    var validateFormPengaduan = {
        rules: {
//            username: {required: true},
//            password: {required: true},
//            nama: {required: true}
        },
        messages: {
//            username: {required: "Please enter a Username"},
//            password: {required: "Please enter a Password"},
//            nama: {required: "Please enter a Nama"}
        }
    };
    var optionsFormPengaduan = {
        dataType: 'json',
        beforeSubmit: showRequestPengaduan,
        success: showResponsePengaduan
    };
    function submitFormPengaduan() {
        $("#formPengaduan").validate(validateFormPengaduan);
        $('#formPengaduan').ajaxForm(optionsFormPengaduan);
        $('#formPengaduan').submit();
    }
    function closeFormPengaduan() {
        $('#modalFormPengaduan').modal('hide');
        $('#formPengaduan')[0].reset();
    }
    function removePengaduan(id) {
        $.post("<?php p_base_url();?>/admin/dashboard/remove", {id: id}, function (result) {
            result = parseJson(result);
            if (result.isSuccess) {
                hideAllModal();
                showModalSuccess("Hapus data berhasil!");
                reloadTable();
            } else {
                hideAllModal();
                showModalError(result.message);
            }
        }, "json");
    }
    function confirmRemovePengaduan(id) {
        var message = "Apakah anda ingin menghapus data pengaduan ini?";
        showModalWarning(message, removePengaduan, [id]);
    }
</script>
<?php $this->partial("layouts/quran/footer"); ?>