<?php $this->partial("layouts/admin/header"); ?>
<style>

</style>
    <script>
        var editor; // use a global for the submit and return data rendering in the examples

        function confirmDelete(id){
            var message = "Do you want to delete this data?";
            showModalWarning(message,confirmDeleteAction,[id]);
        }

        function confirmDeleteAction(id){
            $.post("<?php p_base_url();?>/admin/<?php echo $url;?>/remove", {id: id}, function (data) {
                hideAllModal();
                reloadGrid();
            }, "json");
        }

        function gotoNew(){
            location.href="<?php p_base_url();?>/admin/<?php echo $url;?>/new";
        }
        function importExcel(){
            $('#mymodal').modal('show');
            $('#mymodal .modal-title').html('Detil Binaan');
            $('#mymodal .modal-body').load('<?php PartialLibrary::p_load('admin/partial/form_input_excel') ?>',
                {id: null}, function (html) {
                    $('#mymodal .modal-body').html(html);
                });
        }

        function gotoNewBinaanUser(){
            location.href="<?php p_base_url();?>/admin/<?php echo $url;?>/newBinaanUser";
        }

        function reloadGrid() {
            var table = $('#grid').DataTable();
                table.ajax.reload(function (json) {
                });
        }
        $(document).ready(function () {
            $('#img').corner();
            $('#grid').dataTable({
                "processing": true,
                "serverSide": true,
                "ajax": "<?php p_base_url();?>/admin/<?php echo $url;?>/list",
                "columns": [
                    { "data": "id", "render": function ( data, type, row ) {
                        return "<a href='<?php p_base_url();?>/admin/<?php echo $url;?>/edit?id="+data+"'>"+
                            "<?php if($this->session->isAdmin): ?><span style='font-size:24px' class='fa fa-pencil'></span>" +
                            "</a>&nbsp;" +
                            "&nbsp;<a href='#' onclick='confirmDelete(\""+data+"\");'>" +
                            "<span class='fa fa-times' style='font-size:24px'></span></a><?php endif; ?>"+
                            "</a>";
                    }
                    },
                    { "data": "path_small",
                        "render": function ( data, type, row ) {
                            if(data != ''){
                                var urls = data;
                                return '<a style="cursor:pointer;" onclick="doOpenDetil(\''+row.id+'\')"><div class="userprofile">'+
                                    '<div style="background-image:url(\''+'<?php echo base_url(); ?>'+urls +'\');" '+
                                    'class="mypic" id="mypic">'+
                                    '<span class="glow">&nbsp;</span></div>'+'</div>';
                            }else{
                                return '';
                            }
                        }
                    },
//                    { "data": "created_date", "render":function ( data, type, row ) { return data;}  },
                    { "data": "update_date", "render":function ( data, type, row ) { return data;}  },
                    { "data": "first_name", "render": function ( data, type, row ) { return data;}  },
                    { "data": "alamat", "render": function ( data, type, row ) { return data;}  },
                    { "data": "ttl", "render": function ( data, type, row ) { return data;}  },
                    { "data": "mobile", "render": function ( data, type, row ) { return data;} },
                    { "data": "status", "render": function ( data, type, row ) { return data;} }
//                    { "data": "path_file", "render": function ( data, type, row ) { return data;} },
//                    { "data": "notes_mission", "render": function ( data, type, row ) { return data;}  },
//                    { "data": "label_status_process", "render": function ( data, type, row ) { return data;}  },
//                    { "data": "label_status_respons_unit", "render": function ( data, type, row ) { return data;}  },
//                    { "data": "description", "render": function ( data, type, row ) { return data;}  },

//                    { "data": "source", "render": function ( data, type, row ) { return data;} },
                ]
            });//end grdi
        });
    </script>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                <?php if($this->session->isAdmin): ?>
                    <button title="Data Baru" type="button" class="btn btn-primary" onclick="gotoNew()"><i class="fa fa-plus"></i></button>
                    <button title="Data Baru" type="button" class="btn btn-primary" onclick="importExcel()"><i class="fa fa-twitter"></i></button>
                <?php else: ?>
                    <button title="Data Baru" type="button" class="btn btn-info" onclick="gotoNewBinaanUser()"><i class="fa fa-plus"></i></button>
                <?php endif; ?>
                <?php echo $title; ?>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>Master</a></li>
                <li class="active"><?php echo $title; ?></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div style="padding: 5px;">
                            <table id="grid" class="table table-striped dt-responsive table-bordered" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th>Action.</th>
                                    <th>Poto</th>
                                    <th>Tgl. Update</th>
                                    <th>Nama Peserta</th>
                                    <th>Alamat</th>
                                    <th>TTL</th>
                                    <th>Mobile</th>
                                    <th>Tingkatan</th>
                                </tr>
                                </thead>
                            </table>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div><!-- /.content-wrapper -->
    <script>
        function doOpenDetil($idCustomer){
            var aidi = $idCustomer;
            $('#mymodal').modal('show');
            $('#mymodal .modal-title').html('Detil Binaan');
            $('#mymodal .modal-body').load('<?php PartialLibrary::p_load('admin/partial/form_detail_customer') ?>',
                {id: aidi}, function (html) {
                    $('#mymodal .modal-body').html(html);
                });
        }
    </script>
<?php $this->partial("layouts/admin/footer"); ?>