<footer class="main-footer">
    <div class="pull-right hidden-xs">
    </div>
    <strong>Copyright &copy; 2016 <a href="http://www.satuqolbu.com/">Satuqolbu SLC</a>.</strong> All rights reserved.
</footer>


</div><!-- ./wrapper -->

<div id="mymodal" class="modal fade" style="overflow: scroll;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close huge" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

<div id="modalView" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="modalViewTitle">View Detail</h4>
            </div>
            <div class="modal-body" id="modalViewBody">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div id="modalError" class="modal fade modal-danger">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title">Error !</h4>
            </div>
            <div class="modal-body">
                <p><span id="errorMessage"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div id="modalWarning" class="modal fade modal-danger">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title">Warning !</h4>
            </div>
            <div class="modal-body">
                <p><span id="warningMessage"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Cancel</button>
                <button type="button" id="warningBtn" class="btn btn-outline">Yes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div id="modalSuccess" class="modal fade modal-success">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title">Success !</h4>
            </div>
            <div class="modal-body">
                <p><span id="successMessage"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div id="modalSMS" class="modal fade modal-success">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title">Send SMS</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>SMS Message</label>
                    <textarea name="smsMessage" class="form-control" rows="3"
                              placeholder="Enter Message ..."></textarea>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                <button type="button" id="btnSendSMS" class="btn btn-outline">Send</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<script type="text/javascript">
    var CALLBACK;
    var ARGS;
    var ROW = new Object();

    $(function (){
        //Date range as a button
        $("#fp_time_reported").inputmask("datetime");
        $('.daterange-btn').daterangepicker(
            {
                ranges: {
                    'Categori 1': [moment()]
                }
            }
        );
        //iCheck for checkbox and radio inputs
        $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
            checkboxClass: 'icheckbox_minimal-blue',
            radioClass: 'iradio_minimal-blue'
        });
        //Red color scheme for iCheck
        $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
            checkboxClass: 'icheckbox_minimal-red',
            radioClass: 'iradio_minimal-red'
        });
        //Flat red color scheme for iCheck
        $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
            checkboxClass: 'icheckbox_flat-green',
            radioClass: 'iradio_flat-green'
        });
    })

    function onchangeLocation(api,cmp,destination,value){
        var url = "<?php p_base_url();?>/api/" +api+ $(cmp).val();
        $.getJSON(url, function (data) {
            var showData = "";
            showData += "<option value=\"\">--Please Select--</option>";
            $.each(data, function (i, val) {
                showData += "<option value=\"" + val.id + "\">" + val.nama + "</option>";
            });
            $(destination).html(showData);
            if(typeof value != "undefined") {
                $(destination).val(value);
                console.log('NOT NULL VALUE:'+value);
            }else{
                console.log('NULL VALUE');
            }
        });
    }
    function onchangeRegency(cmp,destination){
        onchangeLocation('get_sub_district?id_regency=',cmp,destination,ROW.id_sub_district);
    }
    function onchangeProvince(cmp,destination){
        onchangeLocation('get_regency?id_province=',cmp,destination,ROW.id_regency);
    }

    function fn1() {
        alert("FN 1");
    }
    function fn2() {
        alert("FN 2");
    }
    function eat(food1, food2) {
        alert("I like to eat " + food1 + " and " + food2);
    }
    function callFunction() {
        if (typeof ARGS == "undefined" || ARGS == null)
            CALLBACK();
        else
            CALLBACK.apply(this, ARGS);
    }
    function generalFunction(callback, args) {
        if (typeof args == "undefined" || args == null)
            callback();
        else
            callback.apply(this, args);
    }
    function showModalError2() {
        CALLBACK = eat;
        ARGS = ["pickles", "peanut butter"];
        $('#modalError').modal('show');
    }

    //alerts "I like to eat pickles and peanut butter"
    //genericFunction(eat, ["pickles", "peanut butter"]);

    function deleteAction() {
        callFunction();
    }

    function showModalError(message) {
        $("#errorMessage").text(message);
        $('#modalError').modal('show');
    }

    function showModalWarning(message, func, args) {
        $("#warningMessage").text(message);
        $("#warningBtn").unbind("click");
        var callback = function () {
            generalFunction(func, args)
        };
        $("#warningBtn").bind("click", callback);
        $('#modalWarning').modal('show');
    }

    function showModalForm(row) {
        ROW = row;
        $("#fp_photo_social").attr('src',row.photo_complaint_social);
        $("#fp_imgPhotoComplaint").attr('src','<?php p_base_url();?>'+row.photo_complaint);
        $('#formPengaduan')[0].reset();
        FormLoadByData(row,"formPengaduan");
        $('#modalFormPengaduan').modal('show');
        setTimeout(function(){
            onchangeRegency("#fp_id_regency", "#fp_id_sub_district");
        },250);
    }

    function showModalSuccess(message) {
        $("#successMessage").text(message);
        $('#modalSuccess').modal('show');
    }

    function showModalSMS() {
        $('#modalSMS').modal('show');
    }

    function hideAllModal() {
        $('#modalError').modal('hide');
        $('#modalWarning').modal('hide');
        $('#modalSuccess').modal('hide');
        $('#mymodal').modal('hide');
        $('#kdgmodal').modal('hide');
    }

    $(document).ajaxStart(function () {
        $("#loading").show();
    });
    $(document).ajaxStop(function () {
        $("#loading").hide();
    });
    $("#loading").show();

    $(window).load(function() {
        $( "#loading-page" ).hide();
    });
    $(document).ready(function () {
        $( "#loading" ).hide();
        /*
         var callback = eat;
         var args = ["pickles", "peanut butter"];
         $("#btn3").unbind( "click");
         var test = function() {
         generalFunction(callback,args)
         };
         $("#btn3").bind( "click", test);
         callback = eat;
         args = ["BOWOW=", "DSFSDFSD"];
         */
    });
</script>
<script src="<?php p_assets_url(); ?>/plugins/iCheck/icheck.min.js" type="text/javascript"></script>
<!-- jQuery UI 1.11.2 -->
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script src="<?php p_assets_url(); ?>/bootstrap/js/bootstrap.min.js" type="text/javascript"></script><!-- Bootstrap 3.3.2 JS -->
<script src="<?php p_assets_url(); ?>/plugins/sparkline/jquery.sparkline.min.js" type="text/javascript"></script><!-- Sparkline -->
<script src="<?php p_assets_url(); ?>/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js" type="text/javascript"></script><!-- jvectormap -->
<script src="<?php p_assets_url(); ?>/plugins/jvectormap/jquery-jvectormap-world-mill-en.js" type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/plugins/knob/jquery.knob.js" type="text/javascript"></script><!-- jQuery Knob Chart -->

<!-- InputMask -->
<?php if (false): ?>
    <script src="<?php p_assets_url(); ?>/plugins/input-mask/jquery.inputmask.js" type="text/javascript"></script>
    <script src="<?php p_assets_url(); ?>/plugins/input-mask/jquery.inputmask.date.extensions.js" type="text/javascript"></script>
    <script src="<?php p_assets_url(); ?>/plugins/input-mask/jquery.inputmask.extensions.js" type="text/javascript"></script>
<?php endif; ?>

<script src="<?php p_assets_url(); ?>/js/inputmask.js" type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script><!-- date-range-picker -->
<script src="<?php p_assets_url(); ?>/plugins/colorpicker/bootstrap-colorpicker.min.js" type="text/javascript"></script><!-- bootstrap color picker -->
<script src="<?php p_assets_url(); ?>/plugins/timepicker/bootstrap-timepicker.min.js" type="text/javascript"></script><!-- bootstrap time picker -->
<script src="<?php p_assets_url(); ?>/plugins/datepicker/bootstrap-datepicker.js" type="text/javascript"></script><!-- datepicker -->
<script src="<?php p_assets_url(); ?>/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js" type="text/javascript"></script><!-- Bootstrap WYSIHTML5 -->

<script src="<?php p_assets_url(); ?>/plugins/datatables/jquery.dataTables.min.js" type="text/javascript"></script><!-- DATA TABES SCRIPT -->
<script src="<?php p_assets_url(); ?>/plugins/datatables/dataTables.bootstrap.min.js" type="text/javascript"></script>

<script src="<?php p_assets_url(); ?>/plugins/slimScroll/jquery.slimscroll.min.js" type="text/javascript"></script><!-- Slimscroll -->
<script src='<?php p_assets_url(); ?>/plugins/fastclick/fastclick.min.js'></script><!-- FastClick -->
<!--<script src="<?php /*p_assets_url(); */?>/dist/js/app.min.js" type="text/javascript"></script>--><!-- AdminLTE App -->
<script src="<?php p_assets_url(); ?>/dist/js/app.js" type="text/javascript"></script><!-- AdminLTE App -->
<script src="<?php p_assets_url(); ?>/js/jquery.corner.js"></script>
<script src="<?php p_assets_url(); ?>/js/jquery.roundimage.js"></script>
<script src="<?php p_assets_url(); ?>/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<link href="<?php p_assets_url(); ?>/css/circle-pic.css" rel="stylesheet" type="text/css"/>
<link href="<?php p_assets_url(); ?>/css/jquery.datetimepicker.css" rel="stylesheet" type="text/css"/>
<script src="<?php p_assets_url(); ?>/js/jquery.scrollto.min.js" type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/js/jquery.localscroll.min.js" type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/js/jquery.prettyPhoto.js" type="text/javascript"></script>
<!--<script src="--><?php //p_assets_url(); ?><!--/js/scripts.js" type="text/javascript"></script>-->

</body>
</html>