<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Satuqolbu | Home</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
   <META HTTP-EQUIV="CACHE-CONTROL" max-age=86400>
    <link rel="shortcut icon" href="<?php p_assets_url(); ?>/img/favicon.ico" type="image/x-icon">

    <link href="<?php p_assets_url(); ?>/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/><!-- Bootstrap 3.3.4 -->

    <link href="<?php p_assets_url(); ?>/css/font-awesome.css" rel="stylesheet" type="text/css"/><!-- FontAwesome 4.3.0 -->
    <link href="<?php p_assets_url(); ?>/css/ionicons.min.css" rel="stylesheet" type="text/css"/><!-- Ionicons 2.0.0 -->
    <link href="<?php p_assets_url(); ?>/css/animate.css" rel="stylesheet" type="text/css"/>
    <link href="<?php p_assets_url(); ?>/css/prettyPhoto.css" rel="stylesheet" type="text/css"/>
<!--    <link href="--><?php //p_assets_url(); ?><!--/css/style.css" rel="stylesheet" type="text/css"/>-->

    <link href="<?php p_assets_url(); ?>/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css"/><!-- bootstrap wysihtml5 - text editor -->
    <link href="<?php p_assets_url(); ?>/css/circle-pic.css" rel="stylesheet" type="text/css"/>
    <link href="<?php p_assets_url(); ?>/css/jquery.datetimepicker.css" rel="stylesheet" type="text/css"/>

    <link href="<?php p_assets_url(); ?>/dist/css/AdminLTE.min.css" rel="stylesheet" type="text/css"/><!-- Theme style -->
    <link href="<?php p_assets_url(); ?>/dist/css/myhlq.css" rel="stylesheet" type="text/css"/><!-- Theme style -->
    <link href="<?php p_assets_url(); ?>/dist/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css"/><!-- AdminLTE Skins. Choose a skin from the css/skins folder instead of downloading all of them to reduce the load. -->

    <!--<link rel="stylesheet" type="text/css" href="<?php /*p_assets_url(); */?>/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css"/>--><!-- DATA TABLES -->
    <link rel="stylesheet" type="text/css" href="<?php p_assets_url(); ?>/plugins/datatables/dataTables.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="<?php p_assets_url(); ?>/plugins/datatables/extensions/Responsive/css/dataTables.responsive.css">

    <link href="<?php p_assets_url(); ?>/plugins/iCheck/flat/blue.css" rel="stylesheet" type="text/css"/><!-- iCheck -->
    <link href="<?php p_assets_url(); ?>/plugins/iCheck/all.css" rel="stylesheet" type="text/css" />
    <link href="<?php p_assets_url(); ?>/plugins/morris/morris.css" rel="stylesheet" type="text/css"/><!-- Morris chart -->
    <link href="<?php p_assets_url(); ?>/plugins/jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css"/><!-- jvectormap -->
    <link href="<?php p_assets_url(); ?>/plugins/datepicker/datepicker3.css" rel="stylesheet" type="text/css"/><!-- Date Picker -->
    <link href="<?php p_assets_url(); ?>/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css"/><!-- Daterange picker -->
    <link href="<?php p_assets_url(); ?>/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css"/><!-- bootstrap wysihtml5 - text editor -->

    <script src="<?php p_assets_url(); ?>/plugins/jQuery/jQuery-2.1.4.min.js"></script><!-- jQuery 2.1.4 -->
    <script type="text/javascript" language="javascript" src="<?php p_assets_url(); ?>/plugins/datatables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="<?php p_assets_url(); ?>/plugins/datatables/dataTables.responsive.min.js"></script>
    <script type="text/javascript" language="javascript" src="<?php p_assets_url(); ?>/plugins/datatables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="<?php p_assets_url(); ?>/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="<?php p_assets_url(); ?>/plugins/daterangepicker/moment.min.js" type="text/javascript"></script>
    <script src="<?php p_assets_url(); ?>/js/jquery.form.min.js"></script>
    <script src="<?php p_assets_url(); ?>/js/jquery.validate.js"></script>
    <script src="<?php p_assets_url(); ?>/js/jquery.table2excel.js"></script>
    <script src="<?php p_assets_url(); ?>/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>

    <script>
        function parseJson(data) {
            if (typeof data == "string")
                data = jQuery.parseJSON(data);

            return data;
        }
        function FormLoadByUrlJson(url, formid) {
            $.get(url, function (data) {
                FormLoadByData(data,formid);
            }, 'json');
        }
        function FormLoadByData(data, formid) {
                $.each(data, function (key, value) {
                    //window.console.log(key+' '+ value);
                    if ($('#' + formid + ' [name="' + key + '"]').attr('data-role') == "datepicker") {
                        $('#' + formid + ' [name="' + key + '"]').val(value);//window.console.log('1');
                    }
                    else if ($('#' + formid + ' [name="' + key + '"]').attr('data-role') == "combobox") {
                        $('#' + formid + ' [name="' + key + '"]').val(value);//window.console.log('2');
                    }
                    else if ($('#' + formid + ' [name="' + key + '"]').attr('data-role') == "numeric") {
                        $('#' + formid + ' [name="' + key + '"]').val(value);//window.console.log('3');
                    }
                    else if ($('#' + formid + ' [name="' + key + '"]').attr('data-role') == "checkbox") {
                        if (value == "1" || value == 1)//window.console.log('3');
                            $('#' + formid + ' [name="' + key + '"]').prop('checked', true);
                        else
                            $('#' + formid + ' [name="' + key + '"]').removeAttr('checked');
                    }
                    else {
                        $('#' + formid + ' [name="' + key + '"]').val(value);//window.console.log('4');
                    }
                });
        }
    </script>
</head>
<body class="skin-green-light sidebar-toggle sidebar-mini">
<div class="wrapper">
    <div id="loading-page">
        <img id="loading-image" height="30" width="30" src="<?php p_base_url()?>/img/loader.gif" alt="Loading..." />
    </div>
    <header class="main-header">
        <!-- LOGO TOP LEFT
        =============================================================-->
        <a href="<?php echo base_url("/admin/dashboard"); ?>" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><img src="<?php p_assets_url(); ?>/img/logo_pu.png" width="15px"></span>
            <div style="font-family: times;margin-top: -5px;">
                <span><img src="<?php p_assets_url(); ?>/img/logo_pu.png" width="25px"></span>
                <span><b>Al Qur'an</b></span><!-- logo for regular state and mobile devices -->
                <span style="position: absolute; font-size: 10px;margin: 16px 0 0 -108px;">Program Kegiatan</span>
            </div>
        </a>
       
        <nav class="navbar navbar-static-top" role="navigation">
            <a href="javascript:void(0)" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle Navigation</span>
            </a>
            <a style="color:#fff;font-family: 'Times New Roman';
                text-transform:full-size-kana;font-size:2.3em;">Program Al Qur'an</a>
            <?php $this->partial("layouts/quran/header_menu_bar", array("notification1" => null)); ?>
        </nav>
    </header>

    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <?php $this->partial("layouts/quran/menu_navigasi", array("notification1" => null)); ?>
        <!-- /.sidebar -->
    </aside>

    <?php function timeAgo($dateStr) {
    $timestamp = strtotime($dateStr);
    $day = 60 * 60 * 24;
    $today = time(); // current unix time
    $since = $today - $timestamp;
    if (($since / $day) < 1) {
        $timeUnits = array(
            array(60 * 60, 'h'),
            array(60, 'm'),
            array(1, 's')
        );
        for ($i = 0, $n = count($timeUnits); $i < $n; $i++) {
            $seconds = $timeUnits[$i][0];
            $unit = $timeUnits[$i][1];
            if (($count = floor($since / $seconds)) != 0) {
                break;
            }
        }
        return "$count{$unit}";
    } else {
        return date('j M', strtotime($dateStr));
    }
} ?>