<section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
        <div class="pull-left image">
            <?php
            $data = \PgAdmin::findFirstById($this->session->id_admin);
            $dataCustomer = \SqCustomer::findFirstByEmail($data->email);
            if(!empty($dataCustomer->path_small)):?>
                <img src="<?php echo base_url($dataCustomer->path_small); ?>" class="img-responsive img-rounded" alt="User Image" style="width: 35px;;"/>
            <?php else: ?>
                <img src="<?php echo base_url('/img/unknown_member.png'); ?>" class="img-circle" alt="User Image"/>
            <?php endif ?>
        </div>
        <div class="pull-left info" style="margin-left: -15px;">
            <p><?php echo $this->session->name_admin; ?></p>
            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            <a href="<?php echo base_url("/login/outAdmin"); ?>"><i class="fa fa-sign-out"></i>&nbsp;Sign out</a>
        </div>
    </div>
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
        <li class="header">Navigasi Menu</li>
        <!--CONTENT MENU NAVIGASI================================================================================-->
        <li class="treeview">
            <a href="#">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span> <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li class="active" style="display: none;">
                    <a href="#"><i class="fa fa-play"></i> Dashboard v1</a></li>
                <li>
                    <a href="<?php echo base_url(); ?>/admin/dashboard"><i class="fa fa-play"></i>Main Dashboard</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-play-circle"></i> <span>Tahsin MI PKP</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="<?php echo base_url(); ?>/quran/btq_kelompok"><i class="fa fa-play"></i>Klompok</a></li>
                <li><a href="<?php echo base_url(); ?>/quran/btq_pembimbing"><i class="fa fa-play"></i>Pembimbing</a></li>
                <li><a href="<?php echo base_url(); ?>/quran/peserta_btq"><i class="fa fa-play"></i>Peserta</a></li>
                <li><a href="<?php echo base_url(); ?>/quran/btq_jurnal"><i class="fa fa-play"></i>Jurnal Kegiatan</a></li>
            </ul>
        </li>
        
        <!--CONTENT MENU NAVIGASI================================================================================-->
    </ul>
</section>