<div class="navbar-custom-menu">
    <ul class="nav navbar-nav">
        <!-- Messages: style can be found in dropdown.less-->
        <li class="dropdown messages-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                <i class="fa fa-envelope-o"></i>
                <span class="label label-danger">4</span>
            </a>
            <ul class="dropdown-menu">
                <li class="header">You have 4 messages</li>
                <li>
                    <div class="slimScrollDiv"
                         style="position: relative; overflow: hidden; width: auto; height: 200px;">
                        <ul class="menu" style="overflow: hidden; width: 100%; height: 200px;">
                            <ul class="menu" style="overflow: hidden; width: 100%; height: 200px;">
                                <?php for($i = 0; $i < 4; $i++): ?>
                                <li><!-- start message -->
                                    <a href="#">
                                        <div class="pull-left">
                                            <img src="../dist/img/user2-160x160.jpg" class="img-circle"
                                                 alt="User Image">
                                        </div>
                                        <h4>
                                            Support Team
                                            <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                        </h4>
                                        <p>Why not buy a new awesome theme?</p>
                                    </a>
                                </li>
                                <?php endfor; ?>
                            </ul>
                            <div class="slimScrollBar"
                                 style="width: 3px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 131.148px; background: rgb(0, 0, 0);"></div>
                            <div class="slimScrollRail"
                                 style="width: 3px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div>
                    </div>
                </li>
                <li class="footer"><a href="#">See All Messages</a></li>
            </ul>
        </li>
        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
            <?php
            $data = \PgAdmin::findFirstById($this->session->id_admin);
            $dataCustomer = \SqCustomer::findFirstByEmail($data->email);
            $custImg = "";
            $custJabatan = "";
            if( !empty($dataCustomer )){
                $custImg = $dataCustomer->path_small;
                $custJabatan = $dataCustomer->jabatan1;
            }
            ?>
            <!--Tumbnail Icon logo User di Pojok Nana Atas-->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="<?php echo base_url($custImg); ?>" class="user-image" alt="User Image">
                <span class="hidden-xs"><?php echo $this->session->name_admin; ?></span><span title="Tipe User"
                                                                                              class="hidden-xs">, <strong>(<?php echo empty($dataCustomer) ? "ADMIN" :
                            \TypeCustomer::getStringStatus($custJabatan); ?>)</strong></span>
                <span title="Tipe Admin"
                      class="hidden-xs">as <strong>[<?php echo !empty($this->session->isAdmin) ? "ADMIN" :
                            "USER"; ?>]</strong></span>
            </a>
            <!--=================================================-->

            <!--=================================================-->
            <ul class="dropdown-menu">
                <li class="user-header"><!-- User image -->
                    <div class="image">
                        <?php
                        if (!empty($custImg)):?>
                            <img src="<?php echo base_url($custImg); ?>" class="img-circle"
                                 alt="User Image" width="55"/>
                        <?php else: ?>
                            <img src="<?php echo base_url('/img/unknown_member.png'); ?>" class="img-circle"
                                 alt="User Image" width="55"/>
                        <?php endif ?>
                    </div>
                    <p style="color: #eeeeee;">Selamat datang, <?php echo $this->session->name_admin; ?>
                        <small>Member sejak <?php echo date('d-M H:i', strtotime($data->created_date)); ?></small>
                        <!--<small><?php /*echo $this->session->objCustomer->id; */?></small>-->
                    </p>
                </li>

                <li class="user-footer"><!-- NAV MENU - Menu Footer-->
                    <div class="pull-left">
                        <a href="<?php echo base_url("/admin/profile"); ?>" class="btn btn-primary btn-flat fa fa-info">
                            &nbsp;Profile</a>
                    </div>
                    <div class="pull-right">
                        <a href="<?php echo base_url("/login/outAdmin"); ?>"
                           class="btn btn-warning btn-flat fa fa-sign-out">&nbsp;Sign out</a>
                    </div>
                </li>
            </ul>
            <!--=================================================-->
        </li>
        <!-- Control Sidebar Toggle Button -->
    </ul>
</div>