<section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
        <div class="pull-left image">
            <?php $data = \PgAdmin::findFirstById($this->session->id_admin);
            $dataCustomer = \SqCustomer::findFirstByEmail($data->email);
            if(!empty($dataCustomer->path_small)):?>
                    <img src="<?php echo base_url($dataCustomer->path_small); ?>" class="img-responsive img-rounded" alt="User Image" style="width: 35px;;"/>
            <?php else: ?>
                    <img src="<?php echo base_url('/img/unknown_member.png'); ?>" class="img-circle" alt="User Image"/>
            <?php endif ?>
        </div>
        <div class="pull-left info" style="margin-left: -15px;">
            <p><?php echo $this->session->name_admin; ?></p>
            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            <a href="<?php echo base_url("/login/outAdmin"); ?>"><i class="fa fa-sign-out"></i>&nbsp;Sign out</a>
        </div>
    </div>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
        <li class="header">Navigasi Menu</li>
        <!--CONTENT MENU NAVIGASI================================================================================-->
        <!--<li class="treeview">
            <a href="<?php /*echo base_url(); */?>/admin/map">
                <i class="fa fa-map-marker"></i> <span>Map Pengaduan</span> <i class="fa fa-angle-left pull-right"></i>
            </a>
        </li>-->
        <li class="treeview">
            <a href="#">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span> <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li class="active" style="display: none;">
                    <a href="#"><i class="fa fa-play"></i> Dashboard v1</a></li>
                <li>
                    <a href="<?php echo base_url(); ?>/admin/dashboard"><i class="fa fa-angle-double-right"></i>Main Dashboard</a></li>
            </ul>
        </li>
<!--        <li class="treeview" style="display: none;">-->
<!--            <a href="#">-->
<!--                <i class="fa fa-pie-chart"></i>-->
<!--                <span>Charts</span>-->
<!--                <i class="fa fa-angle-left pull-right"></i>-->
<!--            </a>-->
<!--            <ul class="treeview-menu">-->
<!--                <li><a href="pages/charts/chartjs.html"><i class="fa fa-play"></i> ChartJS</a></li>-->
<!--                <li><a href="pages/charts/morris.html"><i class="fa fa-play"></i> Morris</a></li>-->
<!--                <li><a href="pages/charts/flot.html"><i class="fa fa-play"></i> Flot</a></li>-->
<!--                <li><a href="pages/charts/inline.html"><i class="fa fa-play"></i> Inline charts</a></li>-->
<!--            </ul>-->
<!--        </li>-->
<!--        <li class="treeview" style="display: none;">-->
<!--            <a href="#">-->
<!--                <i class="fa fa-laptop"></i>-->
<!--                <span>Reporting</span>-->
<!--                <i class="fa fa-angle-left pull-right"></i>-->
<!--            </a>-->
<!--            <ul class="treeview-menu">-->
<!--                <li><a href="pages/UI/general.html"><i class="fa fa-play"></i> General</a></li>-->
<!--                <li><a href="pages/UI/icons.html"><i class="fa fa-play"></i> Icons</a></li>-->
<!--                <li><a href="pages/UI/buttons.html"><i class="fa fa-play"></i> Buttons</a></li>-->
<!--                <li><a href="pages/UI/sliders.html"><i class="fa fa-play"></i> Sliders</a></li>-->
<!--                <li><a href="pages/UI/timeline.html"><i class="fa fa-play"></i> Timeline</a></li>-->
<!--                <li><a href="pages/UI/modals.html"><i class="fa fa-play"></i> Modals</a></li>-->
<!--            </ul>-->
<!--        </li>-->
<!--        <li class="treeview" style="display: none;">-->
<!--            <a href="#">-->
<!--                <i class="fa fa-edit"></i> <span>Input</span>-->
<!--                <i class="fa fa-angle-left pull-right"></i>-->
<!--            </a>-->
<!--            <ul class="treeview-menu">-->
<!--                <li><a href="pages/forms/general.html"><i class="fa fa-play"></i> Twitter</a></li>-->
<!--                <li><a href="pages/forms/advanced.html"><i class="fa fa-play"></i> SMS</a></li>-->
<!--            </ul>-->
<!--        </li>-->
<!--        <li class="treeview">-->
<!--            <a href="#">-->
<!--                <i class="fa fa-inbox"></i> <span>Pengaduan</span>-->
<!--                <i class="fa fa-angle-left pull-right"></i>-->
<!--            </a>-->
<!--            <ul class="treeview-menu">-->
<!--                <li><a href="--><?php //echo base_url(); ?><!--/admin/manual"><i class="fa fa-play"></i>Input Pengaduan</a></li>-->
<!--            </ul>-->
<!--        </li>-->
<!--        -->
        <?php if(!$this->session->isAdmin):?>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-group"></i> <span>Kelompok</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="<?php echo base_url(); ?>/admin/tim"><i class="fa fa-angle-double-right"></i>Daftar Kelompok</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-h-square"></i> <span>Halaqohku</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="<?php echo base_url(); ?>/admin/binaan"><i class="fa fa-angle-double-right"></i>My Binaan</a></li>
                    <li><a href="<?php echo base_url(); ?>/admin/jurnal"><i class="fa fa-angle-double-right"></i>My Jurnal Halaqoh</a></li>
                </ul>
            </li>
        <?php endif;?>
            <!--<li class="treeview">
                <a href="#">
                    <i class="fa fa-h-square"></i> <span>Test</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="<?php /*echo p_base_url(); */?>/admin/test/test"><i class="fa fa-play"></i>Test</a></li>
                </ul>
            </li>-->
        <?php /*endif;*/?>
        <?php if($this->session->isAdmin):?>
            <li class="treeview hidden">
                <a href="#">
                    <i class="fa fa-play-circle"></i> <span>BTQ PKP</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="<?php echo base_url(); ?>/admin/btq_peserta"><i class="fa fa-play"></i>Peserta</a></li>
                    <li><a href="<?php echo base_url(); ?>/admin/btq_pembimbing"><i class="fa fa-play"></i>Pembimbing</a></li>
                    <li><a href="<?php echo base_url(); ?>/admin/btq_kelompok"><i class="fa fa-play"></i>Klompok</a></li>
                    <li><a href="<?php echo base_url(); ?>/admin/btq_jurnal"><i class="fa fa-play"></i>Jurnal Kegiatan</a></li>
                </ul>
            </li>
            <li class="treeview hidden">
                <a href="#">
                    <i class="fa fa-h-square"></i> <span>SQ - Kantung Murobi</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="<?php echo base_url(); ?>/admin/kmr"><i class="fa fa-play"></i>Kantung MR</a></li>
                    <!--                <li><a href="--><?php //echo base_url(); ?><!--/admin/jurnal"><i class="fa fa-play"></i>Jurnal Halaqoh</a></li>-->
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-h-square"></i> <span>SQ - Halaqoh</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="<?php echo base_url(); ?>/admin/binaan"><i class="fa fa-play"></i>Binaan</a></li>
                    <li><a href="<?php echo base_url(); ?>/admin/jurnal"><i class="fa fa-play"></i>Jurnal Halaqoh</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-adn"></i> <span>SQ - Keanggotaan</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="<?php echo base_url(); ?>/admin/customer"><i class="fa fa-play"></i>Member</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-pencil"></i> <span>SQ - Master</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="<?php echo base_url(); ?>/admin/sq_role"><i class="fa fa-play"></i>Role</a></li>
                    <li><a href="<?php echo base_url(); ?>/admin/master_admin"><i class="fa fa-play"></i>Akun</a></li>
                    <li><a href="<?php echo base_url(); ?>/admin/master_division"><i class="fa fa-play"></i>Divisi</a></li>
                    <li><a href="<?php echo base_url(); ?>/admin/master_sekolah"><i class="fa fa-play"></i>Sekolah</a></li>
                    <li><a href="<?php echo base_url(); ?>/admin/master_kegiatan"><i class="fa fa-play"></i>Kegiatan</a></li>
                </ul>
            </li>
        <?php endif;?>
         <li class="treeview hidden">
            <a href="#">
                <i class="fa fa-book"></i> <span>Laporan</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <!--<li><a href="#"><i class="fa fa-play"></i>Laporan Harian</a></li>
                <li><a href="#"><i class="fa fa-play"></i>Laporan Mingguan</a></li>-->
                <li><a href="<?php echo base_url('/admin/laporan'); ?>"><i class="fa fa-play"></i>Laporan Rekap</a></li>
                <li><a href="<?php echo base_url('/admin/laporan/laporanRespon'); ?>"><i class="fa fa-play"></i>Laporan Respon</a></li>
<!--                <li><a href="--><?php //echo base_url('/admin/laporan/laporanRekapRespon'); ?><!--"><i class="fa fa-play"></i>Laporan Rekap Respon</a></li>-->
            </ul>
        </li>
        
        <!--CONTENT MENU NAVIGASI================================================================================-->
    </ul>
</section>