<?php $this->partial("layouts/admin/header"); ?>
<script>
    $(document).ready(function() {
        //var TODAY = '<?php echo \DateTimeLibrary::add_days_by_date(0,date("Y-m-d"),'d/m/Y');?>';
        $('#tglLahir').datepicker({
            language:'EN',
            format: 'dd/mm/yyyy',
            pickSeconds: false,
            pick12HourFormat: false
        });
        $('#tglLahir').attr("required", "required");

        $('.img-round').roundImage();
        $(":input").inputmask();
        loadForm();
        $('input[name="jns_kelamin"]').change(function() {
            if($(this).val()==1){
                $('#output').attr("src", "<?php p_base_url()?>/img/unknown_member.png");
            } else{
                $('#output').attr("src", "<?php p_base_url()?>/img/unknown_member_akhwat.png");
            }
        });
    });

    $(function () {
        $("#tglLahir").inputmask("date");
    });

    var loadFile = function(event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
        filenameProfileImage();
    };
    function filenameProfileImage() {
        var filename = document.forms["formData"].elements["detailfile"];
        var name_of_file = document.forms["formData"].elements["text_url"];

        if (name_of_file.length == undefined) {
            name_of_file.value = filename.value;
        } else {
            for (var i = 0, len = filename.length; i < len; i++) {
                name_of_file[i].value = filename[i].value;
            }
        }
    }
    var doSetJnsKelamin = function(event, type) {
        var output = document.getElementById('output');
        var tipe = type;
        if( tipe == 1){
            output.src = "<?php base_url('img/unknown_member.png');?>";
        }else{
            output.src = URL.createObjectURL("<?php base_url('/img/email.png');?>");
        }
    }
    $(function() {
         $("#source-hide").prop('disabled', true);
             $("#source-hide").hide();
             $("#source-dropdown").prop('disabled', true);
             $("#source-dropdown").hide();
             $("#source-dropdown").html('');
    });

    function gotoList(){
        location.href="<?php p_base_url();?>/admin/<?php echo $url;?>";
    }
    function loadForm(){
        var url = "<?php p_base_url();?>/admin/<?php echo $url;?>/get?id=<?php echo $id;?>";
        $.get(url, function (data) {
            var idSubDistrict = data.id_sub_district;
            var url = "<?php p_base_url();?>/admin/manual/get_sub_district?id_regency=" + data.id_regency;
            $.getJSON(url, function (data) {
                var showData;
                showData += "<option value='0'>Please select</option>";
                $.each(data, function (i, val) {
                    showData += "<option value=\"" + val.id + "\">" + val.nama + "</option>";
                });
                $('#sub_district').html(showData);
                $('#sub_district').val(idSubDistrict);
            });
            $( "#text_url" ).val(data.path_medium);
        }, 'json');
        FormLoadByUrlJson(url,"formData");
    }
    function showResponse(response, statusText, xhr, $form)  {
        response = parseJson(response);
        if(response.isSuccess){
            gotoList();
        }else{
            showModalError(response.message);
        }
    }
    function showRequest(formData, jqForm, options) {

        return true;
    }
    var optionsForm = {
        beforeSerialize: function($form, options) {
            var txtLocation = $('#tglLahir').val();
            if( txtLocation == '' ){
                //$('#tglLahir').attr("required", "required");
                return false;
            }
        },
        dataType:  'json',
        success: showResponse
    };
    var validateForm = {
        rules: {
            first_name: {required: true},
            jns_kelamin: {required: true},
            status_penugasan: {required: true},
            tempat_lahir: {required: true},
            mobile: {required: true}
        },
        messages: {
            first_name: {required: "Afwan, data ini diperlukan. Mohon diisi"},
            jns_kelamin: {required: "Afwan, data ini diperlukan. Mohon diisi"},
            status_penugasan: {required: "Afwan, data ini diperlukan. Mohon diisi"},
            tempat_lahir: {required: "Afwan, data ini diperlukan. Mohon diisi"},
            mobile: {required: "Afwan, data ini diperlukan. Mohon diisi"}
        }
    };
    function submitFormBinaan1() {
        $("#formData").validate(validateForm);
        $('#formData').ajaxForm(optionsForm);
        $('#formData').submit();
    }
</script>
<?php

$data = \SqBinaan::findFirstById($id); ?>
<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Form&nbsp;-&nbsp;<?php echo $title;?>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i><?php echo $labelForm;?></a></li>
            <li class="active"><?php echo $title;?></li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="box box-primary">
                        <!-- form start -->
                        <form id="formData" role="form" method="post" action="<?php echo base_url()."/admin/".$url."/".$action;?>">
                            <input type="hidden" name="id">
                            <div class="box-body">
                                <div style="padding: 5px 5px 5px 0;">
                                    <button type="button" class="btn btn-primary" onclick="gotoList();">
                                        <i class="fa fa-step-backward"></i>
                                    </button>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-12">
                                        <?php $dataKakak = \SqCustomer::findFirstById($data->id_mr);?>
                                        <!--<div class="pull-left">
                                            <img class="img-circle" style="width: 50px; padding: 10px;"
                                                 src="<?php /*p_base_url($dataKakak->path_small) */?>" alt="">
                                        </div>-->
                                        <div class="form-control input-lg">Mentor:
                                            <?php echo empty($dataKakak) ? "": $dataKakak->first_name." ".$dataKakak->last_name; ?>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 text-center">
                                        <?php if( !empty($data->path_small)) : ?>
                                            <a href="javascript:void(0)" class="thumbnail">
                                                <img class="img-rounded" name="imgPhotoComplaint" style="width: 150px;"
                                                     src="<?php p_base_url($data->path_medium) ?>" alt="">
                                            </a>
                                        <?php else: ?>
                                            <a href="javascript:void(0)" class="thumbnail">
                                                <img id="output" class="img-rounded" style="width: 150px;"
                                                     src="<?php p_base_url('/img/unknown_person.png') ?>" alt="">
                                            </a>
                                        <?php endif; ?>
                                        <div class="col-sm-12 text-center" style="margin-top: -15px;">
                                            <div class="fileUpload btn btn-primary" style="padding: 5px;">
                                                <span class="fa fa-upload">&nbsp;UPLOAD</span>
                                                <input type="file" name="detailfile" class="upload" onchange="loadFile(event);">
                                            </div>
                                            <div class="hidden">
                                                <input class="form-control" type="text" id="text_url" name="path_medium" style="height:32px" placeholder="Url Photo" readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6" >
                                    <label>Nama Depan</label><span class="required">*</span>
                                    <input type="text" data-role="text" name="first_name" class="form-control" placeholder="Nama Depan">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>Nama Belakang</label>
                                    <input type="text" data-role="text" name="last_name" class="form-control" placeholder="Nama Belakang">
                                </div>
                                <div class="form-group col-sm-12">
                                    <label>Jenis Kelamin</label><span class="required">*</span>
                                    <div class="dropdown">
                                        <select id="jns_kelamin" name="jns_kelamin" class="form-control">
                                            <option value="1">IKHWAN</option>
                                            <option value="0">AKHWAT</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6" >
                                    <label>Tempat Lahir</label><span class="required">*</span>
                                    <input type="text" data-role="text" name="tempat_lahir" class="form-control" placeholder="Tempat Lahir">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>Tgl. Lahir</label><span class="required">*</span>
                                    <input id="tglLahir" name="tgl_lahir" type="text" class="form-control date" placeholder="Tanggal Lahir">
                                </div>
                                <div class="form-group col-sm-6" >
                                    <label>No Kontak</label><span class="required">*</span>
                                    <input name="mobile" type="text" class="form-control" placeholder="Mobile">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>Email</label>
                                    <input name="email" type="email" class="form-control" placeholder="Email">
                                </div>
                                <div class="form-group col-sm-12">
                                    <label>Alamat Rumah</label>
                                    <textarea name="alamat" type="text" class="form-control" placeholder="Alamat"></textarea>
                                </div>
                                <div class="form-group col-sm-12">
                                    <label>Pekerjaan</label>
                                    <input name="pekerjaan" type="text"
                                           class="form-control" placeholder="Pekerjaan">
                                </div>
                                <div class="form-group col-sm-12">
                                    <label>Status Menikah</label>
                                    <div class="dropdown">
                                        <select id="sts_nikah" name="sts_nikah" class="form-control">
                                            <option value="0">BELUM</option>
                                            <option value="1">MENIKAH</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12" >
                                    <label>Tingkat Binaan</label>
                                    <div class="dropdown">
                                        <select id="status_penugasan" name="status_penugasan" class="form-control">
                                            <option value="77"><?php echo TypeCustomer::getStringStatus(77);?></option>
                                            <option value="6"><?php echo TypeCustomer::getStringStatus(6);?></option>
                                            <option value="7"><?php echo TypeCustomer::getStringStatus(7);?></option>
                                            <option value="8"><?php echo TypeCustomer::getStringStatus(8);?></option>
                                            <option value="9"><?php echo TypeCustomer::getStringStatus(9);?></option>
                                            <option value="10"><?php echo TypeCustomer::getStringStatus(10);?></option>
                                            <option value="11"><?php echo TypeCustomer::getStringStatus(11);?></option>
                                            <option value="116"><?php echo TypeCustomer::getStringStatus(116);?></option>
                                            <option value="115"><?php echo TypeCustomer::getStringStatus(115);?></option>
                                            <option value="114"><?php echo TypeCustomer::getStringStatus(114);?></option>
                                            <option value="113"><?php echo TypeCustomer::getStringStatus(113);?></option>
                                            <option value="112"><?php echo TypeCustomer::getStringStatus(112);?></option>
                                            <option value="111"><?php echo TypeCustomer::getStringStatus(111);?></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6" >
                                    <label>Asal Sekolah</label><span class="required">*</span>
                                    <div class="dropdown">
                                        <div>
                                            <?php
                                            echo $this->tag->select(array("id_sekolah", "id" => "id_sekolah",
                                                \SqMstSekolah::find(),
                                                "useEmpty" => true,
                                                "emptyText" => "-Pilih Sekolah-",
                                                "class" => "form-control",
                                                "using" => array("id", "nm_sekolah")
                                            ));?>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6" >
                                    <label>Kelas</label>
                                    <input type="text" data-role="text" name="ket" class="form-control" placeholder="IA, IB,...">
                                </div>
                                <!--=====================================================-->
                            </div><!-- /.box-body -->

                            <div class="box-footer">
                                <button type="button" class="btn btn-primary" onclick="submitFormBinaan1()"><?php echo $labelSubmit;?></button>
                            </div>
                        </form>
                    </div><!-- /.box -->
                    </div>
                </div>

        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
<script>
    //======================= combo kec =====================
    $('#regency').change(function(){
        $('#sub_district').html('');
        var getValue= $(this).val();
        if(getValue == '0'){
            $('#sub_district').html('');
        }else {
            var url = "<?php p_base_url();?>/admin/manual/get_sub_district?id_regency=" + getValue;
            $.getJSON(url, function (data) {
                console.log(data);
                var showData;
                showData += "<option value='0'>Please select</option>";
                $.each(data, function (i, val) {
                    showData += "<option value=\"" + val.id + "\">" + val.nama + "</option>";
                });
                $('#sub_district').html(showData);
            });
        }
    });
</script>
<?php $this->partial("layouts/admin/footer"); ?>