<?php $this->partial("layouts/admin/header"); ?>
    <script>
        var editor; // use a global for the submit and return data rendering in the examples

        function confirmDelete(id){
            var message = "Do you want to delete this data?";
            showModalWarning(message,confirmDeleteAction,[id]);
        }

        function confirmDeleteAction(id){
            $.post("<?php p_base_url();?>/admin/<?php echo $url;?>/remove", {id: id}, function (data) {
                hideAllModal();
                reloadGrid();
            }, "json");
        }

        function gotoNew(){
            location.href="<?php p_base_url();?>/admin/<?php echo $url;?>/new";
        }

        function reloadGrid() {
            var table = $('#grid').DataTable();
                table.ajax.reload(function (json) {
                });
        }
        $(document).ready(function () {
            $('#img').corner();
            $('#grid').dataTable({
                "processing": true,
                "serverSide": true,
                "ajax": "<?php p_base_url();?>/admin/<?php echo $url;?>/list",
                "columns": [
                    { "data": "id", "render": function ( data, type, row ) {
                        return "<a href='<?php p_base_url();?>/admin/<?php echo $url;?>/edit?id="+data+"'>"+
                            "<?php if(!$this->session->isAdmin): ?><span style='font-size:24px' class='fa fa-pencil'></span>" +
                            "</a>&nbsp;" +
                            "&nbsp;<a href='#' onclick='confirmDelete(\""+data+"\");'>" +
                            "<span class='fa fa-times' style='font-size:24px'></span></a><?php endif; ?>"+
                            "</a>";
                    }},
                    { "data": "path_small",
                        "render": function ( data, type, row ) {
                            if(data != ''){
                                var urls = data;
                                return '<a style="cursor:pointer;" onclick="doOpenDetil(\''+row.id+'\')">' +
                                    '<div class="userprofile">'+
                                        '<img class="img-circle" width="50"' +
                                            'src="<?php echo base_url(); ?>/'+urls+'">' +
                                    '</div>';
                            }else{
                                return '';
                            }
                        }
                    },
//                    { "data": "created_date", "render":function ( data, type, row ) { return data;}  },
                    //{ "data": "update_date", "render":function ( data, type, row ) { return data;}  },
                    { "data": "first_name", "render": function ( data, type, row ) { return data;}  },
                    { "data": "jns_kelamin", "render": function ( data, type, row ) { return data;}  },
                    //{ "data": "mr", "render": function ( data, type, row ) { return data;}  },
//                    { "data": "alamat", "render": function ( data, type, row ) { return data;}  },
//                    { "data": "ttl", "render": function ( data, type, row ) { return data;}  },
//                    { "data": "mobile", "render": function ( data, type, row ) { return data;} },
//                    { "data": "email", "render": function ( data, type, row ) { return data;} },
                    { "data": "kelas", "render": function ( data, type, row ) { return data;} }
//                    { "data": "path_file", "render": function ( data, type, row ) { return data;} },
//                    { "data": "notes_mission", "render": function ( data, type, row ) { return data;}  },
//                    { "data": "label_status_process", "render": function ( data, type, row ) { return data;}  },
//                    { "data": "label_status_respons_unit", "render": function ( data, type, row ) { return data;}  },
//                    { "data": "description", "render": function ( data, type, row ) { return data;}  },

//                    { "data": "source", "render": function ( data, type, row ) { return data;} },
                ]
            });//end grdi
        });
    </script>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                <?php echo $title; ?>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>Master</a></li>
                <li class="active"><?php echo $title; ?></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div style="padding: 5px 5px 0 0;">
                                <button title="Data Baru" type="button"
                                        class="btn btn-primary hidden" onclick="gotoNew()"><i class="fa fa-plus"></i></button>
                                <button title="Data Baru" type="button"
                                        class="btn btn-primary hidden" onclick="doOpenFormBinaanUser()"><i class="fa fa-plus"></i></button>
                                <a class="button glyphicon glyphicon-plus"
                                   tooltips="Usaha/ Bisnis" onclick="doOpenFormBinaanUser()"
                                   title="Usaha/ Bisnis" href="javascript::void"></a>
                            </div>
                            <div style="padding: 5px;">
                            <table id="grid" class="table table-striped dt-responsive table-bordered" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th>Action.</th>
                                    <th>Foto</th>
<!--                                    <th>Tgl. Input</th>-->
                                    <!--<th>Tgl. Update</th>-->
                                    <th>Nama Binaan</th>
                                    <th>L/P</th>
                                    <!--<th>Pembimbing</th>-->
<!--                                    <th>TTL</th>-->
<!--                                    <th>Mobile</th>-->
<!--                                    <th>Email</th>-->
                                    <th>Tingkat</th>
                                </tr>
                                </thead>
                            </table>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div><!-- /.content-wrapper -->
    <script>
        function doOpenDetil($idCustomer){
            var aidi = $idCustomer;
            $('#mymodal').modal('show');
            $('#mymodal .modal-title').html('Detil Binaan');
            $('#mymodal .modal-body').load('<?php PartialLibrary::p_load('admin/partial/form_detail_binaan') ?>',
                {id: aidi}, function (html) {
                    $('#mymodal .modal-body').html(html);
                });
        }

        function doOpenFormBinaanUser(){
            $('#mymodal .modal-title').html('Form Input Data Binaan');
            $('#mymodal .modal-body').load('<?php PartialLibrary::p_load('admin/partial/form_new_binaan_user') ?>',
                {id: null}, function (html) {
                    $('#mymodal .modal-body').html(html);
                });
            setTimeout($('#mymodal').modal('show'));
        }
    </script>
<?php $this->partial("layouts/admin/footer"); ?>