<?php $this->partial("layouts/quran/header"); ?>
<script>
    $(document).ready(function() {
        $('#tglLahir').datepicker({
            language:'EN',
            format: 'dd/mm/yyyy',
            pickSeconds: false,
            pick12HourFormat: false
        });

        $('.img-round').roundImage();
        $(":input").inputmask();
        loadForm();
    });

    $(function () {
        $("#tglLahir").inputmask("date");
    });

    var loadFile = function(event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
        filenameProfileImage();
    };
    function filenameProfileImage() {
        var filename = document.forms["formData"].elements["detailfile"];
        var name_of_file = document.forms["formData"].elements["text_url"];

        if (name_of_file.length == undefined) {
            name_of_file.value = filename.value;
        } else {
            for (var i = 0, len = filename.length; i < len; i++) {
                name_of_file[i].value = filename[i].value;
            }
        }
    }
    var doSetJnsKelamin = function(event, type) {
        var output = document.getElementById('output');
        var tipe = type;
        if( tipe == 1){
            output.src = "<?php base_url('img/unknown_member.png');?>";
        }else{
            output.src = URL.createObjectURL("<?php base_url('/img/email.png');?>");
        }
    }
    $(function() {
         $("#source-hide").prop('disabled', true);
             $("#source-hide").hide();
             $("#source-dropdown").prop('disabled', true);
             $("#source-dropdown").hide();
             $("#source-dropdown").html('');
    });

    function gotoList(){
        location.href="<?php p_base_url();?>/quran/<?php echo $url;?>";
    }
    function loadForm(){
        var url = "<?php p_base_url();?>/quran/<?php echo $url;?>/get?id=<?php echo $id;?>";
        $.get(url, function (data) {
            var idSubDistrict = data.id_sub_district;
            var url = "<?php p_base_url();?>/quran/manual/get_sub_district?id_regency=" + data.id_regency;
            $.getJSON(url, function (data) {
                var showData;
                showData += "<option value='0'>Please select</option>";
                $.each(data, function (i, val) {
                    showData += "<option value=\"" + val.id + "\">" + val.nama + "</option>";
                });
                $('#sub_district').html(showData);
                $('#sub_district').val(idSubDistrict);
            });
            $( "#text_url" ).val(data.path_medium);
        }, 'json');
        FormLoadByUrlJson(url,"formData");
    }
    function showResponse(response, statusText, xhr, $form)  {
        response = parseJson(response);
        if(response.isSuccess){
            gotoList();
        }else{
            showModalError(response.message);
        }
    }
    function showRequest(formData, jqForm, options) {

        return true;
    }
    var validateForm = {
        rules: {
            /*username: {
                required: true
            },
            password: {
                required: true
            },
            nama: {
                required: true
            }*/
        },
        messages: {
            /*username: {
                required: "Please enter a Username"
            },
            password: {
                required: "Please enter a Password"
            },
            nama: {
                required: "Please enter a Nama"
            }*/
        }
    };
    var optionsForm = {
        beforeSerialize: function($form, options) {
//            var txtLocation = $('#location').val();
//            $.ajax({
//                type: 'GET',
//                url: '<?php //p_base_url("");?>///quran/manual/isLocationExist?txt_location='+txtLocation,
//                success: function (data) {
//                }
//            });
        },
        dataType:  'json',
        success: showResponse
    };
    function submitFormBinaan2(){
        //$("#formData").validate(validateForm);
        $('#formData').ajaxForm(optionsForm);
        $('#formData').submit();
    }
</script>
<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Form&nbsp;-&nbsp;<?php echo $title; ?>
            </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i><?php echo $labelForm;?></a></li>
            <li class="active"><?php echo $title;?></li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <form id="formData" role="form" method="post" action="<?php echo base_url()."/quran/".$url."/".$action;?>">
                            <input type="hidden" name="id">
                            <div class="box-body">
                                <div style="padding: 5px 0 5px 0;">
                                    <a class="btn btn-large btn-primary" href="<?php echo base_url("/quran/peserta_btq"); ?>"><i
                                            class="fa fa-step-backward"></i></a>
                                </div>
                                <div class="form-group">
                                    <div class="media">
                                        <div class="col-sm-3 text-center">
                                            <?php $data = \SqCustomer::findFirstById($id);
                                            if( !empty($data->path_small)) : ?>
                                                <a href="javascript:void(0)"  style="padding:1px">
                                                    <img class="img-circle" name="imgPhotoComplaint"
                                                         src="<?php p_base_url($data->path_medium) ?>" alt="" width="150">
                                                </a>
                                            <?php else: ?>
                                                <a href="javascript:void(0)" style="padding:1px">
                                                    <img id="output" class="img-circle"
                                                         src="<?php p_base_url('/img/unknown_member.png') ?>" alt="" height="150">
                                                </a>
                                            <?php endif; ?>
                                            <div class="panel-body" >
                                                <div class="fileUpload btn btn-primary col-sm-12" style="padding: 5px;">
                                                    <a style="color: #ff0000">*</a>Upload Pict.
                                                    <input type="file" name="detailfile" class="upload">
                                                </div>
                                                <div class="hidden">
                                                    <input class="form-control" type="text" id="text_url" name="path_medium" style="height:32px" placeholder="Url Photo" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="media-body">
<!--                                            <div class="form-group">-->
<!--                                                <label>MR</label><span style="color: #d62728;font-size: 8pt;">*)</span>-->
<!--                                                <div class="dropdown">-->
<!--                                                    <div>-->
<!--                                                        --><?php
//                                                            echo $this->tag->select(array("id_mr", "id" => "id_mr",
//                                                                \SqCustomer::find(array(
//                                                                    "is_membina=1",
//                                                                    "order"=>"update_date DESC"
//                                                                )),
//                                                                "useEmpty" => false,
//                                                                "emptyText" => "-Pilih Pembimbing-",
//                                                                "class" => "form-control",
//                                                                "using" => array("id", "first_name")
//                                                            ));?>
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
                                            <div class="form-group col-sm-12">
                                                <label>Tingkat</label><span style="color: #d62728;font-size: 8pt;">&nbsp;*)</span>
                                                <div class="dropdown">
                                                    <select id="status_penugasan" name="status_penugasan" class="form-control">
                                                        <!--<option value="111"><?php /*echo TypeCustomer::getStringStatus(111);*/?></option>
                                                        <option value="112"><?php /*echo TypeCustomer::getStringStatus(112);*/?></option>
                                                        <option value="113"><?php /*echo TypeCustomer::getStringStatus(113);*/?></option>-->
                                                        <option value="114"><?php echo TypeCustomer::getStringStatus(114);?></option>
                                                        <!--<option value="115"><?php /*echo TypeCustomer::getStringStatus(115);*/?></option>
                                                        <option value="116"><?php /*echo TypeCustomer::getStringStatus(116);*/?></option>-->
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-6" >
                                                <label>Asal Sekolah</label><span style="color: #d62728;font-size: 8pt;">&nbsp;*)</span>
                                                <div class="dropdown">
                                                    <div>
                                                        <?php
                                                        echo $this->tag->select(array("id_sekolah", "id" => "id_sekolah",
                                                            \SqMstSekolah::find(
                                                                array(
                                                                    "conditions" => "status=1",
                                                                    "order" => "update_date DESC"
                                                                )
                                                            ),
                                                            "useEmpty" => false,
                                                            "emptyText" => "-Pilih Sekolah-",
                                                            "class" => "form-control",
                                                            "using" => array("id", "nm_sekolah")
                                                        ));?>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label>Jenis Kelamin</label><span style="color: #d62728;font-size: 8pt;">&nbsp;*)</span>
                                                <div class="dropdown">
                                                    <select id="jns_kelamin" name="jns_kelamin" class="form-control">
                                                        <option value="1">IKHWAN</option>
                                                        <option value="0">AKHWAT</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-6" >
                                                <label>Nama Depan</label><span style="color: #d62728;font-size: 8pt;">&nbsp;*)</span>
                                                <input type="text" data-role="text" name="first_name" class="form-control" placeholder="Nama Depan">
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label>Nama Belakang</label>
                                                <input type="text" data-role="text" name="last_name" class="form-control" placeholder="Nama Belakang">
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <label>Gol. Darah</label>&nbsp;<span style="color: #d62728;font-size: 8pt;">&nbsp;*)</span>
                                                <div class="dropdown">
                                                    <select id="gol_darah" name="gol_darah" class="form-control">
                                                        <option value="1"><?php echo GolDarah::getString(1);?></option>
                                                        <option value="2"><?php echo GolDarah::getString(2);?></option>
                                                        <option value="3"><?php echo GolDarah::getString(3);?></option>
                                                        <option value="4"><?php echo GolDarah::getString(4);?></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div><!--end div media-body-->
                                    </div><!--end div media-->
                                    <!--=====================================================-->
                                    <div class="form-group col-sm-6" >
                                        <label>Tlp Orang Tua</label><span style="color: #d62728;font-size: 8pt;">&nbsp;&nbsp;*)</span>
                                        <input name="mobile" type="text" class="form-control" placeholder="Mobile">
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>Email</label><span style="color: #d62728;font-size: 8pt;">&nbsp;*)</span>
                                        <input name="email" type="email"
                                               class="form-control" placeholder="Email">
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label>Alamat Rumah</label><span style="color: #d62728;font-size: 8pt;">&nbsp;*)</span>
                                                <textarea name="alamat" type="text" class="form-control" placeholder="Alamat"></textarea>
                                    </div>
                                    <div class="form-group col-sm-6" >
                                        <label>Tempat Lahir</label>
                                        <input type="text" data-role="text" name="tempat_lahir" class="form-control" placeholder="Tempat Lahir">
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>Tgl. Lahir</label>
                                        <input id="tglLahir" data-role="text" name="tgl_lahir" type="text" class="form-control" placeholder="Tanggal Lahir">
<!--                                        <input id="datepicker" name="tgl_kegiatan" type="datetime" class="form-control" placeholder="Tanggal Kegiatan">-->
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label>Keterangan</label><span style="color: #d62728;font-size: 8pt;">&nbsp;*)</span>
                                        <textarea name="ket" type="text" class="form-control" placeholder="Keterangan, Karakter, Kebiasaan, Lain-Lain"></textarea>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label>Kemampuan Khusus</label><span style="color: #d62728;font-size: 8pt;">&nbsp;*)</span>
                                        <textarea name="skill_khusus" type="text" class="form-control" placeholder="Kemampuan Khusus"></textarea>
                                    </div>
                                    <!--<div class="form-group col-sm-12">
                                        <label>Status Penugasan</label><span style="color: #d62728;font-size: 8pt;">&nbsp;*)</span>
                                        <div class="dropdown">
                                            <select id="status_penugasan" name="status_penugasan" class="form-control">
                                                <option value="111"><?php /*echo TypeCustomer::getStringStatus(111);*/?></option>
                                                <option value="114"><?php /*echo TypeCustomer::getStringStatus(114);*/?></option>
                                            </select>
                                        </div>
                                    </div>-->
                                </div>
                            </div><!-- /.box-body -->

                            <div class="box-footer">
                                <button type="button" class="btn btn-primary" onclick="submitFormBinaan2()"><?php echo $labelSubmit;?></button>
                            </div>
                        </form>
                    </div><!-- /.box -->
                    </div>
                </div>

        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
<script>
    //======================= combo kec =====================
    $('#regency').change(function(){
        $('#sub_district').html('');
        var getValue= $(this).val();
        if(getValue == '0'){
            $('#sub_district').html('');
        }else {
            var url = "<?php p_base_url();?>/quran/manual/get_sub_district?id_regency=" + getValue;
            $.getJSON(url, function (data) {
                console.log(data);
                var showData;
                showData += "<option value='0'>Please select</option>";
                $.each(data, function (i, val) {
                    showData += "<option value=\"" + val.id + "\">" + val.nama + "</option>";
                });
                $('#sub_district').html(showData);
            });
        }
    });
</script>
<?php $this->partial("layouts/quran/footer"); ?>