<?php $this->partial("layouts/quran/header"); ?>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Dashboard
            <small><?php echo $title; ?></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Master</a></li>
            <li class="active"><?php echo $title; ?></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <!--Pin Preview-->
        <div class="row">
<!--            --><?php //$this->partial("quran/partial/widget_pin", array("key1" => null, "key2" => null)); ?>
        </div>

        <!--Chart and Calendar-->
        <div class="row hidden">
<!--            --><?php //$this->partial("quran/partial/widget_chart", array("key1" => null, "key2" => null)); ?>

            <!--=========================================-->
<!--            --><?php //$this->partial("quran/partial/widget_calendar", array("key1" => null, "key2" => null)); ?>
        </div>

        <!--Todolist-->
        <div class="row hidden">
<!--            --><?php //$this->partial("quran/partial/widget_todolist", array("key1" => null, "key2" => null)); ?>
        </div>
    </section>

</div><!-- /.content-wrapper -->

<script>
    $(document).ready(function () {

    });
    function doModal() {
        $('#row3_qlue').modal();
    }
    function getTwitter() {
        $('#twitter-home-timeline').html('Load data..');
        var url = "<?php p_base_url();?>/quran/twitter/getMentionTimeLine";
        $.getJSON(url, function (data) {
            $('#twitter-home-timeline').html('');
            var datLeng = data.length;
            if (datLeng) {
                $.each(data, function (i, val) {
                    addListComment(val, i);
                });
            }
        });
    }
    function getQlue() {
        $("#tableQlue").html('Load data..');
        $("#tableQlue").load("<?php p_base_url();?>/quran/dashboard/listQlue");
    }
    function addListQlue(data, x) {
        var showData = '<div class="list-group-item" style="margin-bottom: 2px; border:0px" id="contentComment' + data.id + '">' +

            '<div class="media">' +
            '<div class="pull-left box-pull-left text-center" >' +
            '<img src="' + data.user.profile_image_url + '" class="media-object-img img-rounded">' +
            '</div>' +
            '<div class="media-body">' +
            '<div class="media-body">' +
            '<a href="https://twitter.com/' + data.user.screen_name + '" target="_blank"> <span class="business-text-pin"><strong id="twitter-name_informer-' + data.id + '">' + data.user.name + '</strong></span> ' +
            '<span class="meta-title2" style="color: #A3A3A3">  @' + data.user.screen_name + '</span></a> ' +
            '<a href="javascrip:void(0)" data-toggle="tooltip" title="' + moment(data.created_at).format('DD MMM YYYY HH:mm') + '"> <span class="meta-title2" style="color: #A3A3A3">  ' + moment(data.created_at).fromNow() + '</span></a>' +
            '</div>' +
            '<div>' + '<span style="display:none;" id="twitter-id-' + data.id + '">' + data.id + '</span><span style="display:none;" id="twitter-time_reported-' + data.id + '">' + moment(data.created_at).format('DD/MM/YYYY HH:mm') + '</span>' +
            '<span rows="3" class="col-sm-10" style="text-align: justify;text-justify: inter-word;padding-left: 0px;padding-right: 0px; " id="twitter-description-' + data.id + '">' +
            data.text +
            '</span>' +
            '<div class="pull-right">' +
            '<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action <span class="fa fa-caret-down"></span></button>' +
            '<ul class="dropdown-menu"  style="margin-top: -10px">' +
            '<li><a href="javascript:void(0)" onclick="openFormPengaduanTwitter(\'' + data.id + '\')">Kirim Ke Pengaduan</a></li>' +
            '<li><a href="javascript:void(0)" onclick="viewDetailTwitter(\'' + data.id + '\')">Detail</a></li>' +
            '</ul>' +
            '</div>' +
            '</div>' +

            '</div>' +
            '</div>' +
            '</div>';
        $('#twitter-home-timeline').append(showData);
    }
    function addListComment(data, x) {
        var showData = '<div class="list-group-item" style="margin-bottom: 2px; border:0px" id="contentComment' + data.id + '">' +
            '<div class="media">' +
            '<div class="pull-left box-pull-left text-center" >' +
            '<img src="' + data.user.profile_image_url + '" class="media-object-img img-rounded">' +
            '</div>' +
            '<div class="media-body">' +
            '<div class="media-body">' +
//                                '<div class="business-text-date"> '+data.created_at+'</div>'+
            '<a href="https://twitter.com/' + data.user.screen_name + '" target="_blank"> <span class="business-text-pin"><strong id="twitter-name_informer-' + data.id + '">' + data.user.name + '</strong></span> ' +
            '<span class="meta-title2" style="color: #A3A3A3">  @' + data.user.screen_name + '</span></a> ' +
            '<a href="javascrip:void(0)" data-toggle="tooltip" title="' + moment(data.created_at).format('DD MMM YYYY HH:mm') + '"> <span class="meta-title2" style="color: #A3A3A3">  ' + moment(data.created_at).fromNow() + '</span></a>' +
//                '<span class="pull-right"><a class="fa fa-list"></a> </span>'+
            '</div>' +
            '<div>' + '<span style="display:none;" id="twitter-id-' + data.id + '">' + data.id + '</span><span style="display:none;" id="twitter-time_reported-' + data.id + '">' + moment(data.created_at).format('DD/MM/YYYY HH:mm') + '</span>' +
            '<span rows="3" class="col-sm-10" style="text-align: justify;text-justify: inter-word;padding-left: 0px;padding-right: 0px; " id="twitter-description-' + data.id + '">' +
            data.text +
            '</span>' +
            '<div class="pull-right">' +
            '<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Action <span class="fa fa-caret-down"></span></button>' +
            '<ul class="dropdown-menu"  style="margin-top: -10px">' +
            '<li><a href="javascript:void(0)" onclick="openFormPengaduanTwitter(\'' + data.id + '\')">Kirim Ke Pengaduan</a></li>' +
            '<li><a href="javascript:void(0)" onclick="viewDetailTwitter(\'' + data.id + '\')">Detail</a></li>' +
            '</ul>' +
            '</div>' +
            '</div>' +

            '</div>' +
            '</div>' +
            '</div>';
        $('#twitter-home-timeline').append(showData);
    }

    function openFormPengaduanManual() {
        $('#modalFormPengaduan').modal('show');
        $('#modalFormPengaduan .modal-title').html('Tambah Pengaduan Manual');
        $("#formPengaduan").attr('action', '<?php echo base_url();?>/quran/dashboard/save');
        $("#fp_imgPhotoComplaint").hide();
        $("#fp_map_canvas").hide();
        $("#fp_photo_social").hide();
        $("#source-hide").hide();
        $("#source-dropdown").show();

        var source = '';
        var time_repoted = moment().format("DD/MM/YYYY HH:mm");
        var row = {source: source, time_repoted: time_repoted};
        showModalForm(row);
    }

    function openFormPengaduanEdit(id) {
//            console.log(data);
        $("#fp_map_canvas").html('');
        $('#modalFormPengaduan').modal('show');
        $('#modalFormPengaduan .modal-title').html('Edit Pengaduan');
        $("#formPengaduan").attr('action', '<?php echo base_url();?>/quran/dashboard/update');
        $.get("<?php p_base_url();?>/quran/dashboard/get", {id: id}, function (row) {
            row = parseJson(row);
            $("#fp_map_canvas").html('');
            if (row.latitude != '' && row.longitude != '')
//                showMap("fp_map_canvas", row.latitude, row.longitude);
                showModalForm(row);
        });
    }
    function viewDetailComplaint(id) {
        $("#modalViewBody").html('Loading...');
        $("#modalViewBody").load('<?php echo base_url();?>/quran/dashboard/view?id=' + id);
        $('#modalView').modal('show');
    }
    function viewDetailTwitter(id) {
        $("#modalViewBody").html('Loading...');
        $("#modalViewBody").load('<?php echo base_url();?>/quran/dashboard/twitter?id=' + id);
        $('#modalView').modal('show');
    }
    function reloadTable() {
        //$("#tableData").load('<?php echo base_url();?>/quran/dashboard/tableData');
        var table = $('#grid').DataTable();

        table.ajax.reload(function (json) {

        });
    }
    function showResponsePengaduan(response, statusText, xhr, $form) {
        response = parseJson(response);
        if (response.isSuccess) {
            reloadTable();
            showModalSuccess('berhasil ditambahkan ke pengaduan');
            closeFormPengaduan();
        } else {
            showModalError(response.message);
        }
    }
    function showRequestPengaduan(formData, jqForm, options) {

        return true;
    }
    var validateFormPengaduan = {
        rules: {
//            username: {required: true},
//            password: {required: true},
//            nama: {required: true}
        },
        messages: {
//            username: {required: "Please enter a Username"},
//            password: {required: "Please enter a Password"},
//            nama: {required: "Please enter a Nama"}
        }
    };
    var optionsFormPengaduan = {
        dataType: 'json',
        beforeSubmit: showRequestPengaduan,
        success: showResponsePengaduan
    };
    function submitFormPengaduan() {
        $("#formPengaduan").validate(validateFormPengaduan);
        $('#formPengaduan').ajaxForm(optionsFormPengaduan);
        $('#formPengaduan').submit();
    }
    function closeFormPengaduan() {
        $('#modalFormPengaduan').modal('hide');
        $('#formPengaduan')[0].reset();
    }
    function removePengaduan(id) {
        $.post("<?php p_base_url();?>/quran/dashboard/remove", {id: id}, function (result) {
            result = parseJson(result);
            if (result.isSuccess) {
                hideAllModal();
                showModalSuccess("Hapus data berhasil!");
                reloadTable();
            } else {
                hideAllModal();
                showModalError(result.message);
            }
        }, "json");
    }
    function confirmRemovePengaduan(id) {
        var message = "Apakah anda ingin menghapus data pengaduan ini?";
        showModalWarning(message, removePengaduan, [id]);
    }
</script>
<?php $this->partial("layouts/quran/footer"); ?>


