
<!-- Scripts
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="<?php p_base_url() ?>/hansen/js/vendor/jquery-1.11.3.min.js"><\/script>')</script>
<script src="<?php p_base_url() ?>/hansen/js/bootstrap.min.js"></script>

<script src="<?php p_base_url() ?>/hansen/js/vendor/jquery.appear.js"></script>
<script src="<?php p_base_url() ?>/hansen/js/vendor/slick.min.js"></script>
<script src="<?php p_base_url() ?>/hansen/js/vendor/jquery.countTo.js"></script>
<script src="<?php p_base_url() ?>/hansen/js/vendor/jquery.parallax.min.js"></script>
<script src="<?php p_base_url() ?>/hansen/js/vendor/jquery.magnific-popup.min.js"></script>

<script src="<?php p_base_url() ?>/hansen/js/main.js"></script>

<!-- Scripts used in Shortcodes -->
<script>
    $(document).ready(function () {
        $('.example-slider').slick({
            slide: 'ul>li',
            autoplay: true,
            autoplaySpeed: 5000,
            dots: true
        });
    });
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

</body>
</html>