<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>Hansen</title>
    <meta name="description" content="HTML5 Landing Page Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Filip Greksa">

    <!-- FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Dosis:300,400,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="<?php p_base_url() ?>/hansen/css/entypo.css">

    <!-- CSS -->
    <link rel="stylesheet" href="<?php p_base_url() ?>/hansen/css/bootstrap.min.css">
    <link rel="stylesheet" href="<?php p_base_url() ?>/hansen/css/slick.css">
    <link rel="stylesheet" href="<?php p_base_url() ?>/hansen/css/magnific-popup.css">
    <link rel="stylesheet" href="<?php p_base_url() ?>/hansen/css/main.css">

    <!-- Favicon -->
    <link rel="apple-touch-icon" href="<?php p_base_url() ?>/hansen/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="<?php p_base_url() ?>/hansen/img/favicon.png">

    <!-- Shortcodes -->
    <style>
        .shortcode {
            position: relative;
            padding: 8em 0 10em;
        }
        .shortcode-title {
            display: block;
            margin: 2em 0;
            padding: 0.5em 1em;
            color: #fff;
            background: #bec6c4;
            text-align: center;
        }
        .grid-tables .row {
            margin-bottom: 1em;
        }
        .grid-tables p {
            background: #FFF;
            padding: 0.625em;
        }
        .example-slider {
            list-style: none;
            padding: 0;
            margin: 0;
            cursor: grab;
        }
        .icon-samples {
            text-align: center;
            font-family: inherit;
        }
        .icon-samples .icon {
            font-size: 1.5em;
            padding: 1em;
            line-height: 2;
        }
        .lato {
            font-family: Lato;
        }
    </style>

    <script src="<?php p_base_url() ?>/hansen/js/vendor/modernizr.js"></script>

</head>
<body>
