<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>Coming Soon | Hansen</title>
    <meta name="description" content="HTML5 Landing Page Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Filip Greksa">

    <!-- FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Dosis:300,400,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="<?php p_base_url() ?>/hansen/css/entypo.css">

    <!-- CSS -->
    <link rel="stylesheet" href="<?php p_base_url() ?>/hansen/css/bootstrap.min.css">
    <link rel="stylesheet" href="<?php p_base_url() ?>/hansen/css/slick.css">
    <link rel="stylesheet" href="<?php p_base_url() ?>/hansen/css/magnific-popup.css">
    <link rel="stylesheet" href="<?php p_base_url() ?>/hansen/css/main.css">

    <!-- Favicon -->
    <link rel="apple-touch-icon" href="<?php p_base_url() ?>/hansen/img/apple-touch-icon.png">
    <link rel="icon" type="<?php p_base_url() ?>/hansen/image/png" href="<?php p_base_url() ?>/hansen/img/favicon.png">

    <script src="<?php p_base_url() ?>/hansen/js/vendor/modernizr.js"></script>

</head>
<body class="coming-soon">
