<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <!-- form start -->
                <form id="formData" role="form" method="post" action="">
                    <div class="box-body">
                        <div class="form-group">
                            <div class="media">
                                <div class="media-body">
                                    <div class="form-group">
                                        <div class="media">
                                            <div class="col-sm-4 text-center">
                                                <?php $aidi = $_POST['id'];
                                                $data = \SqCustomer::findFirstById($aidi);
                                                if (!empty($data->path_small)) : ?>
                                                    <a href="javascript:void(0)" style="padding:1px">
                                                        <img class="img-circle" name="imgPhotoComplaint"
                                                             src="<?php p_base_url($data->path_medium) ?>" alt=""
                                                             width="150">
                                                    </a>
                                                <?php else: ?>
                                                    <a href="javascript:void(0)" style="padding:1px">
                                                        <img id="output" class="img-circle"
                                                             src="<?php p_base_url('/img/unknown_member.png') ?>" alt=""
                                                             height="150">
                                                    </a>
                                                <?php endif; ?>
                                            </div>
                                            <div class="media-body">
                                                <div class="form-group col-sm-12" >
                                                    <label for="password">Nama Lengkap</label>
                                                    <input type="text" data-role="text" name="first_name"
                                                           class="form-control" placeholder="Nama Depan"
                                                           value="<?php echo $data->first_name; ?>" disabled>
                                                </div>
                                                <div class="form-group col-sm-4" >
                                                    <label for="password">Tempat Lahir</label>
                                                    <input type="text" data-role="text" name="tempat_lahir"
                                                           class="form-control" placeholder="Tempat Lahir"
                                                           value="<?php echo $data->tempat_lahir; ?>" disabled>
                                                </div>
                                                <div class="form-group col-sm-8">
                                                    <label for="password">Tgl. Lahir</label>
                                                    <input id="tglLahir" name="tgl_lahir" type="text"
                                                           class="form-control" placeholder="Tanggal Lahir"
                                                           value="<?php echo $data->tgl_lahir; ?>" disabled>
                                                </div>
                                                <div class="form-group col-sm-6" >
                                                    <label>Mobile/ Tlp</label>
                                                    <input name="mobile" type="text"
                                                           class="form-control" placeholder="Mobile"
                                                           value="<?php echo $data->mobile; ?>" disabled>
                                                </div>
                                                <div class="form-group col-sm-6">
                                                    <label>Email</label>
                                                    <input name="email" type="text"
                                                           class="form-control" placeholder="email"
                                                           value="<?php echo $data->email; ?>" disabled>
                                                </div>
                                            </div><!--end div media-body-->
                                            <div class="form-group">
                                                <label>Pendidikan</label>
                                                <input name="id_sekolah" type="text"
                                                       class="form-control" placeholder="Pendidikan"
                                                       value="<?php echo empty($data->getMentor()->pendidikan) ? "" : $data->getMentor()->pendidikan . " " . $data->getMentor()->jurusan; ?>"
                                                       disabled>
                                            </div>
                                            <div class="form-group">
                                                <label>Skill Khusus</label>
                                                <textarea name="skill_khusus" type="text"
                                                          class="form-control" placeholder="Skill Khusus"
                                                          disabled><?php echo trim($data->skill_khusus); ?></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label>Alamat</label>
                                                <textarea name="alamat" type="text"
                                                          class="form-control" placeholder="Alamat"
                                                          disabled><?php echo trim($data->alamat); ?></textarea>
                                            </div>
                                        </div><!--end div media-->
                                    </div>
                                </div>
                            </div>
                        </div>
                </form>
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>