<!DOCTYPE html>
<html lang="en">
<head>
    <!--=HEAD HEAD HEAD=====================================-->
    <meta http-equiv="Cache-Control" content="max-age=3600"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google. ">
    <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template,">
    <title>Satuqolbu</title>

    <!-- Favicons-->
    <!-- Favicons Asli material   <link rel="icon" href="-->
    <?php //p_assets_url(); ?><!--/material/images/favicon/favicon-32x32.png" sizes="32x32">-->
    <link rel="icon" href="<?php p_assets_url(); ?>/img/favicon.ico" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="<?php p_assets_url(); ?>/material/images/favicon/apple-touch-icon-152x152.png">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="<?php p_assets_url(); ?>/material/images/favicon/mstile-144x144.png">
    <!-- For Windows Phone -->

    <!-- CORE CSS-->
    <link href="<?php p_assets_url(); ?>/material/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="<?php p_assets_url(); ?>/material/css/style.css" type="text/css" rel="stylesheet" media="screen,projection">

    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="<?php p_assets_url(); ?>/material/js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="<?php p_assets_url(); ?>/material/js/plugins/jvectormap/jquery-jvectormap.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="<?php p_assets_url(); ?>/material/js/plugins/chartist-js/chartist.min.css" type="text/css" rel="stylesheet" media="screen,projection">

    <!--======================================-->
</head>
<body class="theme-clean">
<!--=BODY BODY BODY=====================================-->
<!-- Start Page Loading -->
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<!-- End Page Loading -->

<!-- //////////////////////////////////////////////////////////////////////////// -->

<!-- START HEADER -->
<header id="header" class="page-topbar">
    <!-- start header nav-->
    <div class="navbar-fixed">
        <nav class="cyan">
            <div class="nav-wrapper">
                <ul class="left">
                    <li>
                        <h1 class="logo-wrapper">
                            <a href="<?php p_base_url('/index')?>" class="brand-logo darken-1">
                                <!--<img src="<?php /*p_assets_url(); */?>/material/images/materialize-logo.png" alt="materialize logo">-->
                                <img src="<?php p_assets_url(); ?>/img/logo.gif" alt="satuqolbu logo" style="padding-top: 8px;">
                            </a>
                            <span class="logo-text">Satuqolbu</span>
                        </h1>
                    </li>
                </ul>
                <div class="header-search-wrapper hide-on-med-and-down">
                    <i class="mdi-action-search"></i>
                    <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize"/>
                </div>
                <ul class="right hide-on-med-and-down">
                    <li><a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen"><i class="mdi-action-settings-overscan"></i></a></li>
                    <li><a href="javascript:void(0);" class="waves-effect waves-block waves-light"><i class="mdi-navigation-apps"></i></a></li>
                    <li><a href="javascript:void(0);" class="waves-effect waves-block waves-light"><i class="mdi-social-notifications"></i></a></li>
                    <li><a href="#" data-activates="chat-out" class="waves-effect waves-block waves-light chat-collapse"><i class="mdi-communication-chat"></i></a></li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- end header nav-->
</header>
<!-- END HEADER -->

<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START MAIN -->
<div id="main">
    <!-- START WRAPPER -->
    <div class="wrapper">
        <aside id="left-sidebar-nav" class="hidden">
            <?php $this->partial("layouts/material/header_sidebar") ?>
        </aside>
        <!-- START CONTENT -->
        <section id="content">
            <!--breadcrumbs start-->
            <div id="breadcrumbs-wrapper" class="grey lighten-3">
                <div class="container">
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <h5 class="breadcrumbs-title">Forms</h5>
                            <ol class="breadcrumb">
                                <li><a href="<?php p_base_url('/index') ?>">Dashboard</a>
                                </li>
                                <li><a href="#">Forms</a>
                                </li>
                                <li class="active">Forms Layouts</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!--breadcrumbs end-->

            <!--start container-->
            <div class="container">

                <!--</section>
            </div>
        </div>-->

                <!--</body>-->
                <!--</html>-->