<script>
    function showModalInfo(message) {
        $('#mymodal').modal('hide');
        $("#successMessage").text(message);
        $('#modalSuccess').modal('show');
    }
</script>
<div id="mymodal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close huge" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title"></h3>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
<div id="modalSuccess" class="modal fade modal-warning">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Info</h4>
            </div>
            <div class="modal-body">
                <p><span id="successMessage"></span></p>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap 3.3.2 JS -->
<script src="<?php p_assets_url(); ?>/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<link href="<?php p_assets_url(); ?>/dist/css/myhlq.css" rel="stylesheet" type="text/css"/><!-- Theme style -->
<!-- iCheck -->
<script src="<?php p_assets_url(); ?>/plugins/iCheck/icheck.min.js" type="text/javascript"></script>
<script>
    $(function () {
        $('.mailbox-messages input[type="checkbox"]').iCheck({
            checkboxClass: 'icheckbox_flat-blue',
            radioClass: 'iradio_flat-blue'
        });

        //Enable check and uncheck all functionality
        $(".checkbox-toggle").click(function () {
            var clicks = $(this).data('clicks');
            if (clicks) {
                //Uncheck all checkboxes
                $(".mailbox-messages input[type='checkbox']").iCheck("uncheck");
                $(".fa", this).removeClass("fa-check-square-o").addClass('fa-square-o');
            } else {
                //Check all checkboxes
                $(".mailbox-messages input[type='checkbox']").iCheck("check");
                $(".fa", this).removeClass("fa-square-o").addClass('fa-check-square-o');
            }
            $(this).data("clicks", !clicks);
        });
        /*
         $('input').iCheck({
         checkboxClass: 'icheckbox_square-blue',
         radioClass: 'iradio_square-blue',
         increaseArea: '20%' // optional
         });
         */
    });
</script>
<!-- Bootstrap core JavaScript
	================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="--><?php //p_assets_url(); ?><!--/js/jquery-1.10.2.min.js" type="text/javascript"></script>-->
<script src="<?php p_assets_url(); ?>/js/bootstrap.js" type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/js/waypoints.min.js" type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/js/jquery.scrollto.min.js" type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/js/jquery.localscroll.min.js" type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/js/jquery.prettyPhoto.js" type="text/javascript"></script>
<script src="<?php p_assets_url(); ?>/js/scripts.js" type="text/javascript"></script>
</body>
</html> 