<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>SatuqolbuSLC | LogIn</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!--<link rel="shortcut icon" href="<?php /*p_assets_url(); */?>/icon/favicon.ico" type="image/x-icon">-->
    <link rel="shortcut icon" href="<?php p_assets_url(); ?>/img/favicon.ico" type="image/x-icon">

    <link href="<?php p_assets_url(); ?>/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="<?php p_assets_url(); ?>/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="<?php p_assets_url(); ?>/css/font-awesome.css" rel="stylesheet" type="text/css"/><!-- Bootstrap 3.3.4 -->
    <link href="<?php p_assets_url(); ?>/css/animate.css" rel="stylesheet" type="text/css"/>
    <link href="<?php p_assets_url(); ?>/css/prettyPhoto.css" rel="stylesheet" type="text/css"/>
    <link href="<?php p_assets_url(); ?>/css/style.css" rel="stylesheet" type="text/css"/>

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,400italic,700italic' rel='stylesheet' type='text/css'>

    <link href="<?php p_assets_url(); ?>/dist/css/AdminLTE.min.css" rel="stylesheet" type="text/css"/><!-- Font Awesome Icons -->
    <link href="<?php p_assets_url(); ?>/dist/css/myhlq.css" rel="stylesheet" type="text/css"/><!-- Theme style -->
    <link href="<?php p_assets_url(); ?>/plugins/iCheck/square/blue.css" rel="stylesheet" type="text/css"/><!-- Theme style -->
    <!-- iCheck -->
    <!-- jQuery 2.1.4 -->
    <script src="<?php p_assets_url(); ?>/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <script src="<?php p_assets_url(); ?>/js/jquery.form.min.js"></script>
    <script src="<?php p_assets_url(); ?>/js/jquery.validate.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <!--<script src="<?php p_assets_url(); ?>/js/html5shiv.min.js"></script>-->
    <!--<script src="<?php p_assets_url(); ?>/js/respond.min.js"></script>-->
    <!--<script src="<?php p_assets_url(); ?>/js/ie8-responsive-file-warning.js"></script>-->
    <!--<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>-->
    <!--<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>-->
    <script>
        $('.mailbox-messages input[type="checkbox"]').iCheck({
            checkboxClass: 'icheckbox_flat-blue',
            radioClass: 'iradio_flat-blue'
        });

        //Enable check and uncheck all functionality
        $(".checkbox-toggle").click(function () {
            var clicks = $(this).data('clicks');
            if (clicks) {
                //Uncheck all checkboxes
                $(".mailbox-messages input[type='checkbox']").iCheck("uncheck");
                $(".fa", this).removeClass("fa-check-square-o").addClass('fa-square-o');
            } else {
                //Check all checkboxes
                $(".mailbox-messages input[type='checkbox']").iCheck("check");
                $(".fa", this).removeClass("fa-square-o").addClass('fa-check-square-o');
            }
            $(this).data("clicks", !clicks);
        });
        function parseJson(data) {
            if (typeof data == "string")
                data = jQuery.parseJSON(data);

            return data;
        }
        function FormLoadByUrlJson(url, formid) {
            $.get(url, function (data) {

                $.each(data, function (key, value) {
                    //window.console.log(key+' '+ value);
                    if ($('#' + formid + ' [name="' + key + '"]').attr('data-role') == "datepicker") {
                        //window.console.log('1');
                        $('#' + formid + ' [name="' + key + '"]').val(value);
                    }
                    else if ($('#' + formid + ' [name="' + key + '"]').attr('data-role') == "combobox") {
                        //window.console.log('2');
                        $('#' + formid + ' [name="' + key + '"]').val(value);
                    }
                    else if ($('#' + formid + ' [name="' + key + '"]').attr('data-role') == "numeric") {
                        //window.console.log('3');
                        $('#' + formid + ' [name="' + key + '"]').val(value);
                    }
                    else {
                        //window.console.log('4');
                        $('#' + formid + ' [name="' + key + '"]').val(value);
                    }
                });
            }, 'json');
        }
    </script>
</head>
<body class="login-page">