<?php $this->partial("layouts/admin/header"); ?>
<script>
    function gotoList(){
        location.href="<?php p_base_url();?>/admin/<?php echo $url;?>";
    }
    function getDayOfWeek(cmp){
        var value = $(cmp).val();
        var test = moment(value,"DD/MM/YYYY").format('e');
        $("#namaHari").val( DAYS_OF_WEEKS[moment(value,"DD/MM/YYYY").format('e')]);
    }
    function loadForm(){
        var url = "<?php p_base_url();?>/admin/<?php echo $url;?>/get?id=<?php echo $id;?>";
        FormLoadByUrlJson(url,"formData");
        setTimeout(function(){
            getDayOfWeek('#tgl');
        },1000);
    }
    function showResponse(response, statusText, xhr, $form)  {
        response = parseJson(response);
        if(response.isSuccess){
            gotoList();
        }else{
            showModalError(response.message);
        }
    }
    function showRequest(formData, jqForm, options) {

        return true;
    }
    var validateForm = {
        rules: {
            name: {
                required: true
            },
            phone: {
                required: true
            },
            email: {
                required: true
            }
        },
        messages: {
            name: "Name is required",
            phone: "Phone is required",
            email: "Email is required"
        }
    };
    var optionsForm = {
        dataType:  'json',
        beforeSubmit:  showRequest,
        success: showResponse
    };
    function submitForm(){
        $("#formData").validate(validateForm);
        $('#formData').ajaxForm(optionsForm);
        $('#formData').submit();
    }
    $( document ).ready(function() {
        $(":input").inputmask();
        $('.datepicker').datepicker({
            format: "dd/mm/yyyy"
        });
        loadForm();
    });
</script>
<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
              <?php echo $labelForm;?>
            <small><?php echo $title;?></small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i><?php echo $labelForm;?></a></li>
            <li class="active"><?php echo $title;?></li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="box box-primary">
                        <div class="box-header">
                            <h3 class="box-title">Form <?php echo $title;?></h3>
                        </div><!-- /.box-header -->
                        <!-- form start -->
                        <form id="formData" role="form" method="post" action="<?php echo base_url()."/admin/".$url."/".$action;?>">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input type="hidden" name="id">
                                    <input type="text" data-role="text" id="name" name="name" class="form-control" placeholder="Enter Name">
                                </div>
                                <div class="form-group">
                                    <label for="phone">Phone</label>
                                    <input type="text" data-role="text" id="phone" name="phone" class="form-control" placeholder="Enter Phone">
                                </div>
                                <div class="form-group">
                                    <label for="content">Email</label>
                                    <input type="text" data-role="text" id="email" name="email" class="form-control" placeholder="Enter Email">
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label for="group">Group</label>
                                        </div>
                                    </div>
                                    <?php
                                        $listGroup = \PgGroupContact::find();
                                        $total = count($listGroup);
                                        $idx = 0;
                                        foreach($listGroup as $gr):
                                            if($idx%4==0):
                                    ?>
                                            <div class="row">
                                            <?php endif;?>
                                                <div class="col-md-3">
                                                    <label>
                                                        <input type="checkbox" data-role="checkbox" name="group_<?php echo $gr->id;?>" value="<?php echo $gr->id;?>"> <?php echo $gr->name;?>
                                                    </label>
                                                </div>
                                            <?php if($idx==$total-1 || $idx+1%4==0): ?>
                                            </div>
                                            <?php endif;?>
                                    <?php
                                            $idx++;
                                        endforeach;
                                    ?>

                                </div>
                            </div><!-- /.box-body -->

                            <div class="box-footer">
                                <button type="button" class="btn btn-primary" onclick="submitForm()"><?php echo $labelSubmit;?></button>
                                <button type="button" class="btn btn-primary" onclick="gotoList();">Back</button>
                            </div>
                        </form>
                    </div><!-- /.box -->
                    </div>
                </div>

        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->

<?php $this->partial("layouts/admin/footer"); ?>