<?php $this->partial("layouts/admin/header"); ?>

<script>
    $(document).ready(function() {
        $('.input-daterange').datepicker({
            todayBtn: "linked",
            format: 'dd/mm/yyyy'
        });

        search();
    });
    function search(){
        var fromTgl = $('#fromTgl').val(), toTgl= $('#toTgl').val();
        $('#tglTbl').html(fromTgl+" - "+toTgl);
//        $('#grid').dataTable({
//            "processing": true,
//            "serverSide": true,
//            "ajax": "<?php //p_base_url();?>///admin/<?php //echo $url;?>///list?fromTgl="+fromTgl+"&toTgl="+toTgl,
//            "columns": [
//                { "data": "No", "render": function ( data, type, row ) { return 0;} },
//                { "data": "category", "render": function ( data, type, row ) { return data;} },
//                { "data": "jakpus", "render": function ( data, type, row ) { return data;}  },
//                { "data": "jaktim", "render": function ( data, type, row ) { return data;}  },
//                { "data": "jaksel", "render": function ( data, type, row ) { return data;}  },
//                { "data": "jakbar", "render": function ( data, type, row ) { return data;}  },
//                { "data": "jakut", "render": function ( data, type, row ) { return data;}  },
//                { "data": "id", "render": function ( data, type, row ) { return row.jakpus+row.jaktim+row.jaksel+row.jakbar+row.jakut;}  }
//            ]
//        });
        var url = "<?php p_base_url();?>/admin/<?php echo $url;?>/list?fromTgl="+fromTgl+"&toTgl="+toTgl;
        $.getJSON(url,function(result){
            var isi = "", totjakpus= 0,totjaktim= 0,totjaksel= 0,totjakbar= 0,totjakut= 0,allTot=0 ;
            $.each(result.data , function( key, value ) {
                var
                    jakpus= parseInt(value.jakpus),
                    jaktim= parseInt(value.jaktim),
                    jaksel= parseInt(value.jaksel),
                    jakbar= parseInt(value.jakbar),
                    jakut= parseInt(value.jakut),
                    tot = jakpus+jaktim+jaksel+jakbar+jakut;
                totjakpus+=jakpus; totjaktim+=jaktim; totjaksel+=jaksel; totjakbar+=jakbar; totjakut+=jakut; allTot+=tot;
                isi += "<tr>";
                isi += "<td style='text-align:center;'>"+ (parseInt(key)+1) +"</td>";
                isi += "<td style='text-align:center;'>"+ value.category +"</td>";
                isi += "<td style='text-align:center;'>"+ jakpus +"</td>";
                isi += "<td style='text-align:center;'>"+ jaktim +"</td>";
                isi += "<td style='text-align:center;'>"+ jaksel +"</td>";
                isi += "<td style='text-align:center;'>"+ jakbar +"</td>";
                isi += "<td style='text-align:center;'>"+ jakut +"</td>";
                isi += "<td style='text-align:center;'>"+ tot +"</td>";
//                isi += "<td style='text-align:center;'>"+ (parseInt(value.jakut)+ parseInt(value.jaktim)+ parseInt(value.jaksel)+ parseInt(value.jakbar)+ parseInt(value.jakut)) +"</td>";
                isi += "</tr>";
            });

            $(".table tbody").html(isi);

            var foot = "<tr>"+
                "<td style='text-align:center;'></td>"+
                "<td style='text-align:center;'><strong>TOTAL</strong></td>"+
                "<td style='text-align:center;'>"+totjakpus+"</td>"+
                "<td style='text-align:center;'>"+totjaktim+"</td>"+
                "<td style='text-align:center;'>"+totjaksel+"</td>"+
                "<td style='text-align:center;'>"+totjakbar+"</td>"+
                "<td style='text-align:center;'>"+totjakut+"</td>"+
                "<td style='text-align:center;'>"+allTot+"</td>"+

            "</tr>";
            $(".table tfoot").html(foot);
        });

    }
    function excel(){
        var tgl = new Date();
        tgl = tgl.getDate()+"-"+tgl.getMonth()+"-"+tgl.getFullYear()+" "+tgl.getHours()+"_"+tgl.getMinutes();
        $(".box-body").table2excel({
            exclude: ".box-body",
            name: ".xlxs",
            filename: "Laporan_rekap_"+tgl
        });
    }
</script>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1><?php echo $title;?>
            <!--Master
            <small><?php /*echo $title;*/?></small>-->
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i><?php echo $title;?></a></li>
            <!--<li class="active"><?php /*echo $title;*/?></li>-->
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <!--<h3 class="box-title"><?php /*echo $title;*/?></h3>-->
                        <h3 class="box-title">REKAP LAPORAN PENGADUAN MASYARAKAT MELALUI TWITTER, LAPOR UKP, TELEPON, & DASHBOARD ROP</h3>
                        <p style="padding-top: 10px;" class="input-daterange">
                            <span>Dari Tanggal</span> <input type="text" id="fromTgl" value="<?php echo date('d/m/Y'); ?>"> <span>Sampai Tanggal</span> <input id="toTgl" type="text" value="<?php echo date('d/m/Y'); ?>">
                            <button type="button" class="btn btn-primary" onclick="search()">Cari</button>
                            <button type="button" class="btn btn-primary pull-right" onclick="excel()">Excel</button>
                        </p>
                    </div><!-- /.box-header -->
                    <div class="box-body">

                        <table id="grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th colspan="8" style='text-align:center;'><h4>REKAP LAPORAN PENGADUAN MASYARAKAT MELALUI TWITTER, LAPOR UKP, TELEPON, & DASHBOARD ROP</h4></th>
                                </tr>
                                <tr>
                                    <th id="tglTbl" colspan="8" style='text-align:center;'></th>
                                </tr>
                                <tr>
                                    <th class="" rowspan="3" style='text-align:center;vertical-align:middle'>No</th>
                                    <th class="" rowspan="3" style='text-align:center;vertical-align:middle'>Kategori Pengaduan Masyarakat</th>
                                    <th class="" colspan="6" style='text-align:center;'>Jumlah Pengaduan</th>
                                </tr>
                                <tr>
                                    <th class="" style='text-align:center;'>Jakarta Pusat</th>
                                    <th class="" style='text-align:center;'>Jakarta Timur</th>
                                    <th class="" style='text-align:center;'>Jakarta Selatan</th>
                                    <th class="" style='text-align:center;'>Jakarta Barat</th>
                                    <th class="" style='text-align:center;'>Jakarta Utara</th>
                                    <th class="" style='text-align:center;'>TOTAL</th>
                                </tr>
                                <tr>
                                    <th class="" style='text-align:center;'></th>
                                    <th class="" style='text-align:center;'></th>
                                    <th class="" style='text-align:center;'></th>
                                    <th class="" style='text-align:center;'></th>
                                    <th class="" style='text-align:center;'></th>
                                    <th class="" style='text-align:center;'></th>
                                </tr>

                            </thead>
                            <tbody>
                                <tr>
                                    <td class="" style='text-align:center;'></td>
                                    <td class="" style='text-align:center;'></td>
                                    <td class="" style='text-align:center;'></td>
                                    <td class="" style='text-align:center;'></td>
                                    <td class="" style='text-align:center;'></td>
                                    <td class="" style='text-align:center;'></td>
                                    <td class="" style='text-align:center;'></td>
                                    <td class="" style='text-align:center;'></td>
                                    <td class="" style='text-align:center;'></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td class="" style='text-align:center;'></td>
                                    <td class="" style='text-align:center;'></td>
                                    <td class="" style='text-align:center;'></td>
                                    <td class="" style='text-align:center;'></td>
                                    <td class="" style='text-align:center;'></td>
                                    <td class="" style='text-align:center;'></td>
                                    <td class="" style='text-align:center;'></td>
                                    <td class="" style='text-align:center;'></td>
                                    <td class="" style='text-align:center;'></td>
                                </tr>
                            </tfoot>
                        </table>

                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->


</div>


<?php $this->partial("layouts/admin/footer"); ?>
