<?php $this->partial("layouts/admin/header"); ?>

<script>
    $(document).ready(function() {
        $('.input-daterange').datepicker({
            todayBtn: "linked",
            format: 'dd/mm/yyyy'
        });
        search();
    });
    function search(){
        var fromTgl = $('#fromTgl').val(), toTgl= $('#toTgl').val();
        $('#tglTbl').html(fromTgl+" - "+toTgl);
//        $('#grid').dataTable({
//            "processing": true,
//            "serverSide": true,
//            "ajax": "<?php //p_base_url();?>///admin/<?php //echo $url;?>///list?fromTgl="+fromTgl+"&toTgl="+toTgl,
//            "columns": [
//                { "data": "No", "render": function ( data, type, row ) { return 0;} },
//                { "data": "category", "render": function ( data, type, row ) { return data;} },
//                { "data": "jakpus", "render": function ( data, type, row ) { return data;}  },
//                { "data": "jaktim", "render": function ( data, type, row ) { return data;}  },
//                { "data": "jaksel", "render": function ( data, type, row ) { return data;}  },
//                { "data": "jakbar", "render": function ( data, type, row ) { return data;}  },
//                { "data": "jakut", "render": function ( data, type, row ) { return data;}  },
//                { "data": "id", "render": function ( data, type, row ) { return row.jakpus+row.jaktim+row.jaksel+row.jakbar+row.jakut;}  }
//            ]
//        });
        var url = "<?php p_base_url();?>/admin/<?php echo $url;?>/listLaporanRespon?fromTgl="+fromTgl+"&toTgl="+toTgl;
        $.getJSON(url,function(result){
            result = parseJson(result);
//            $('.box-body').load('<?php //PartialLibrary::p_load("admin/laporan/partial/laporan_respon_partial") ?>//',{result:result.data});
            var isi="";
            $.each(result.data , function( key, value ) {
                isi += "<tr>";
                isi += "<td style='text-align:center;'>"+ (parseInt(key)+1) +"</td>";
                isi += "<td style='text-align:center;'>"+ value.name_category +"</td>";
                isi += "<td style='text-align:center;'>"+ value.source +"</td>";
                isi += "<td style='text-align:center;'>"+ value.name_wil +"</td>";
                var d = moment(value.time_reported);
                isi += "<td style='text-align:center;'>"+ d.format("DD/MM/YYYY hh:mm:ss") +"</td>";
                isi += "<td style='text-align:center;'>"+ value.name_informer +"</td>";
                isi += "<td style='text-align:center;'>"+ value.description +"</td>";
                isi += "<td style='text-align:center;'>"; if(value.status_process == <?php echo ComplaintStatus::$DITERIMA; ?>){isi+=" &#10004; ";} isi+="</td>";
                isi += "<td style='text-align:center;'>"; if(value.status_process == <?php echo ComplaintStatus::$DIPROSES; ?>){isi+=" &#10004; ";}isi+="</td>";
                isi += "<td style='text-align:center;'>"; if(value.status_process == <?php echo ComplaintStatus::$TIDAK_DIPROSES; ?>){isi+=" &#10004; ";}isi+="</td>";
                isi += "<td style='text-align:center;'>"; if(value.status_process == <?php echo ComplaintStatus::$SELESAI ?>){isi+=" &#10004; ";}isi+="</td>";
                if(value.status_respons_unit){
                    isi += "<td style='text-align:center;'></td>";
                    isi += "<td style='text-align:center;'>&#10004;</td>";
                }else{
                    isi += "<td style='text-align:center;'>&#10004;</td>";
                    isi += "<td style='text-align:center;'></td>";
                }
                if(value.ket) {
                    isi += "<td style='text-align:center;'>" + value.ket + "</td>";
                }else{
                    isi += "<td style='text-align:center;'></td>";
                }
                if(value.photo_complaint) {
                    isi += "<td style='text-align:center;'><img src='" + value.photo_complaint + "' width=75></td>";
                }else{
                    isi += "<td style='text-align:center;'> </td>";
                }
//                isi += "<td style='text-align:center;'>"+ (parseInt(value.jakut)+ parseInt(value.jaktim)+ parseInt(value.jaksel)+ parseInt(value.jakbar)+ parseInt(value.jakut)) +"</td>";
                isi += "</tr>";
            });

            $(".table tbody").html(isi);

//            var foot = "<tr>"+
//                "<td style='text-align:center;'></td>"+
//                "<td style='text-align:center;'><strong>TOTAL</strong></td>"+
//                "<td style='text-align:center;'>"+totjakpus+"</td>"+
//                "<td style='text-align:center;'>"+totjaktim+"</td>"+
//                "<td style='text-align:center;'>"+totjaksel+"</td>"+
//                "<td style='text-align:center;'>"+totjakbar+"</td>"+
//                "<td style='text-align:center;'>"+totjakut+"</td>"+
//                "<td style='text-align:center;'>"+allTot+"</td>"+
//
//                "</tr>";
//            $(".table tfoot").html(foot);
        });

    }
    function excel(){
        var tgl = new Date();
        tgl = tgl.getDate()+"-"+tgl.getMonth()+"-"+tgl.getFullYear()+" "+tgl.getHours()+"_"+tgl.getMinutes();
        $(".box-body").table2excel({
            exclude: ".box-body",
            name: ".xlxs",
            filename: "Laporan_respon_"+tgl
        });
    }
</script>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1><?php echo $title;?>
            <!--Master
            <small><?php /*echo $title;*/?></small>-->
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i><?php echo $title;?></a></li>
            <!--<li class="active"><?php /*echo $title;*/?></li>-->
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <!--<h3 class="box-title"><?php /*echo $title;*/?></h3>-->
                        <h3 class="box-title">RESPON OPINI PUBLIK</h3>
                        <p style="padding-top: 10px;" class="input-daterange">
                            <span>Dari Tanggal</span> <input type="text" id="fromTgl" value="<?php echo date('d/m/Y'); ?>"> <span>Sampai Tanggal</span> <input id="toTgl" type="text" value="<?php echo date('d/m/Y'); ?>">
                            <button type="button" class="btn btn-primary" onclick="search()">Cari</button>
                            <button type="button" class="btn btn-primary pull-right" onclick="excel()">Excel</button>
                        </p>
                    </div><!-- /.box-header -->
                    <div class="box-body">

                        <table id="grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th colspan="15" style='text-align:center;'><h4>LAPORAN RESPON OPINI PUBLIK<h4></h4></th>
                                </tr>
                                <tr>
                                    <th id="tglTbl" colspan="15" style='text-align:center;'></th>
                                </tr>
                                <tr>
                                    <th rowspan="2" style='text-align:center;vertical-align:middle'>No</th>
                                    <th rowspan="2" style='text-align:center;vertical-align:middle'>Kategori</th>
                                    <th rowspan="2" style='text-align:center;vertical-align:middle'>Jalur Pengaduan</th>
                                    <th rowspan="2" style='text-align:center;vertical-align:middle'>Wil</th>
                                    <th rowspan="2" style='text-align:center;vertical-align:middle'>TGL Pengaduan Masuk</th>
                                    <th rowspan="2" style='text-align:center;vertical-align:middle'>Pelapor</th>
                                    <th rowspan="2" style='text-align:center;vertical-align:middle'>Pertanyaan Asli</th>
                                    <th colspan="4" style='text-align:center;'>Tindak Lanjut</th>
                                    <th colspan="2" style='text-align:center;'>Respon Unit Terkait</th>
                                    <th rowspan="2" style='text-align:center;vertical-align:middle'>Ket</th>
                                    <th rowspan="2" style='text-align:center;vertical-align:middle'>Ket. Tambahan/Foto</th>
                                </tr>
                                <tr>
                                    <th style='text-align:center;'><?php echo ComplaintStatus::getStatus(ComplaintStatus::$DITERIMA); ?></th>
                                    <th style='text-align:center;'><?php echo ComplaintStatus::getStatus(ComplaintStatus::$DIPROSES); ?></th>
                                    <th style='text-align:center;'><?php echo ComplaintStatus::getStatus(ComplaintStatus::$TIDAK_DIPROSES); ?></th>
                                    <th style='text-align:center;'><?php echo ComplaintStatus::getStatus(ComplaintStatus::$SELESAI); ?></th>
                                    <th style='text-align:center;'>Sudah</th>
                                    <th style='text-align:center;'>Belum</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>

                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->


</div>


<?php $this->partial("layouts/admin/footer"); ?>
