<?php $this->partial("layouts/admin/header"); ?>

<script>
    $(document).ready(function() {
        $('.input-daterange').datepicker({
            todayBtn: "linked",
            format: 'dd/mm/yyyy'
        });
        search();
    });
    function search(){
        var fromTgl = $('#fromTgl').val(), toTgl= $('#toTgl').val();
        $('#tglTbl').html(fromTgl+" - "+toTgl);
//        $('#grid').dataTable({
//            "processing": true,
//            "serverSide": true,
//            "ajax": "<?php //p_base_url();?>///admin/<?php //echo $url;?>///list?fromTgl="+fromTgl+"&toTgl="+toTgl,
//            "columns": [
//                { "data": "No", "render": function ( data, type, row ) { return 0;} },
//                { "data": "category", "render": function ( data, type, row ) { return data;} },
//                { "data": "jakpus", "render": function ( data, type, row ) { return data;}  },
//                { "data": "jaktim", "render": function ( data, type, row ) { return data;}  },
//                { "data": "jaksel", "render": function ( data, type, row ) { return data;}  },
//                { "data": "jakbar", "render": function ( data, type, row ) { return data;}  },
//                { "data": "jakut", "render": function ( data, type, row ) { return data;}  },
//                { "data": "id", "render": function ( data, type, row ) { return row.jakpus+row.jaktim+row.jaksel+row.jakbar+row.jakut;}  }
//            ]
//        });
        var url = "<?php p_base_url();?>/admin/<?php echo $url;?>/listLaporanRekapRespon?fromTgl="+fromTgl+"&toTgl="+toTgl;
        $.getJSON(url,function(result){
            var isi = "", jmlA= 0,jmlB= 0,jmlC= 0,jmlD= 0;
            $.each(result.data , function( key, value ) {
                var
                    jakpusA= parseInt(value.jakpusA),
                    jakpusB= parseInt(value.jakpusB),
                    jakpusC= parseInt(value.jakpusC),
                    jakpusD= parseInt(value.jakpusD),

                    jaktimA= parseInt(value.jaktimA),
                    jaktimB= parseInt(value.jaktimB),
                    jaktimC= parseInt(value.jaktimC),
                    jaktimD= parseInt(value.jaktimD),

                    jakselA= parseInt(value.jakselA),
                    jakselB= parseInt(value.jakselB),
                    jakselC= parseInt(value.jakselC),
                    jakselD= parseInt(value.jakselD),

                    jakbarA= parseInt(value.jakbarA),
                    jakbarB= parseInt(value.jakbarB),
                    jakbarC= parseInt(value.jakbarC),
                    jakbarD= parseInt(value.jakbarD),

                    jakutA= parseInt(value.jakutA),
                    jakutB= parseInt(value.jakutB),
                    jakutC= parseInt(value.jakutC),
                    jakutD= parseInt(value.jakutD),

                    totA = jakpusA+jaktimA+jakselA+jakbarA+jakutA,
                    totB = jakpusB+jaktimB+jakselB+jakbarB+jakutB,
                    totC = jakpusC+jaktimC+jakselC+jakbarC+jakutC,
                    totD = jakpusD+jaktimD+jakselD+jakbarD+jakutD;
                jmlA += totA;
                jmlB += totB;
                jmlC += totC;
                jmlD += totD;

                isi += "<tr>";
                isi += "<td style='text-align:center;'>"+ (parseInt(key)+1) +"</td>";
                isi += "<td style='text-align:center;'>"+ value.category +"</td>";
                isi += "<td style='text-align:center;'>"+ jakpusA +"</td>";
                isi += "<td style='text-align:center;'>"+ jakpusB +"</td>";
                isi += "<td style='text-align:center;'>"+ jakpusC +"</td>";
                isi += "<td style='text-align:center;'>"+ jakpusD +"</td>";
//                isi += "<td style='text-align:center;'>"+ jakut +"</td>";
                isi += "<td style='text-align:center;'>"+ jaktimA +"</td>";
                isi += "<td style='text-align:center;'>"+ jaktimB +"</td>";
                isi += "<td style='text-align:center;'>"+ jaktimC +"</td>";
                isi += "<td style='text-align:center;'>"+ jaktimD +"</td>";

                isi += "<td style='text-align:center;'>"+ jakselA +"</td>";
                isi += "<td style='text-align:center;'>"+ jakselB +"</td>";
                isi += "<td style='text-align:center;'>"+ jakselC +"</td>";
                isi += "<td style='text-align:center;'>"+ jakselD +"</td>";

                isi += "<td style='text-align:center;'>"+ jakbarA +"</td>";
                isi += "<td style='text-align:center;'>"+ jakbarB +"</td>";
                isi += "<td style='text-align:center;'>"+ jakbarC +"</td>";
                isi += "<td style='text-align:center;'>"+ jakbarD +"</td>";

                isi += "<td style='text-align:center;'>"+ jakutA +"</td>";
                isi += "<td style='text-align:center;'>"+ jakutB +"</td>";
                isi += "<td style='text-align:center;'>"+ jakutC +"</td>";
                isi += "<td style='text-align:center;'>"+ jakutD +"</td>";

                isi += "<td style='text-align:center;'>"+ totA +"</td>";
                isi += "<td style='text-align:center;'>"+ totB +"</td>";
                isi += "<td style='text-align:center;'>"+ totC +"</td>";
                isi += "<td style='text-align:center;'>"+ totD +"</td>";
//                isi += "<td style='text-align:center;'>"+ (parseInt(value.jakut)+ parseInt(value.jaktim)+ parseInt(value.jaksel)+ parseInt(value.jakbar)+ parseInt(value.jakut)) +"</td>";
                isi += "</tr>";
            });

            $(".table tbody").html(isi);

            var foot = "<tr>"+
                "<td style='text-align:center;'></td>"+
                "<td style='text-align:center;'><strong>TOTAL</strong></td>"+
                "<td style='text-align:center;' colspan='20'></td>"+
                "<td style='text-align:center;'>"+ jmlA +"</td>"+
                "<td style='text-align:center;'>"+ jmlB +"</td>"+
                "<td style='text-align:center;'>"+ jmlC +"</td>"+
                "<td style='text-align:center;'>"+ jmlD +"</td>"+
//                "<td style='text-align:center;'>"+allTot+"</td>"+

            "</tr>";
            foot += "<tr><td></td></tr>"+
                    "<tr><td colspan='26'>A = DITERIMA, B = DIPROSES, C = TIDAK BISA DITINDAKLANJUTI, D = SELESI</td></tr>";
            $(".table tfoot").html(foot);
        });

    }
    function excel(){
        $(".box-body").table2excel({
            exclude: ".box-body",
            name: ".xlxs",
            filename: "myFileName"
        });
    }
</script>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1><?php echo $title;?>
            <!--Master
            <small><?php /*echo $title;*/?></small>-->
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i><?php echo $title;?></a></li>
            <!--<li class="active"><?php /*echo $title;*/?></li>-->
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <!--<h3 class="box-title"><?php /*echo $title;*/?></h3>-->
                        <h3 class="box-title">REKAP LAPORAN PENGADUAN MASYARAKAT MELALUI TWITTER, LAPOR UKP, TELEPON, & DASHBOARD ROP</h3>
                        <p style="padding-top: 10px;" class="input-daterange">
                            <span>Dari Tanggal</span> <input type="text" id="fromTgl" value="<?php echo date('d/m/Y'); ?>"> <span>Sampai Tanggal</span> <input id="toTgl" type="text" value="<?php echo date('d/m/Y'); ?>">
                            <button type="button" class="btn btn-primary" onclick="search()">Cari</button>
                            <button type="button" class="btn btn-primary pull-right" onclick="excel()">Excel</button>
                        </p>
                    </div><!-- /.box-header -->
                    <div class="box-body">

                        <table id="grid" class="table  table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th colspan="26" style='text-align:center;'><h4>REKAP LAPORAN PENGADUAN MASYARAKAT MELALUI TWITTER, LAPOR UKP, TELEPON, & DASHBOARD ROP</h4></th>
                                </tr>
                                <tr>
                                    <th id="tglTbl" colspan="26" style='text-align:center;'></th>
                                </tr>
                                <tr>
                                    <th class="" rowspan="3" style='text-align:center;vertical-align:middle'>No</th>
                                    <th class="" rowspan="3" style='text-align:center;vertical-align:middle'>Kategori Pengaduan Masyarakat</th>
                                    <th class="" colspan="24" style='text-align:center;'>Jumlah Pengaduan</th>
                                </tr>
                                <tr>
                                    <th class="" colspan="4" style='text-align:center;'>Jakarta Pusat</th>
                                    <th class="" colspan="4" style='text-align:center;'>Jakarta Timur</th>
                                    <th class="" colspan="4" style='text-align:center;'>Jakarta Selatan</th>
                                    <th class="" colspan="4" style='text-align:center;'>Jakarta Barat</th>
                                    <th class="" colspan="4" style='text-align:center;'>Jakarta Utara</th>
                                    <th class="" colspan="4" style='text-align:center;'>TOTAL</th>
                                </tr>
                                <tr>
                                    <th class="" style='text-align:center;'>A</th>
                                    <th class="" style='text-align:center;'>B</th>
                                    <th class="" style='text-align:center;'>C</th>
                                    <th class="" style='text-align:center;'>D</th>

                                    <th class="" style='text-align:center;'>A</th>
                                    <th class="" style='text-align:center;'>B</th>
                                    <th class="" style='text-align:center;'>C</th>
                                    <th class="" style='text-align:center;'>D</th>

                                    <th class="" style='text-align:center;'>A</th>
                                    <th class="" style='text-align:center;'>B</th>
                                    <th class="" style='text-align:center;'>C</th>
                                    <th class="" style='text-align:center;'>D</th>

                                    <th class="" style='text-align:center;'>A</th>
                                    <th class="" style='text-align:center;'>B</th>
                                    <th class="" style='text-align:center;'>C</th>
                                    <th class="" style='text-align:center;'>D</th>

                                    <th class="" style='text-align:center;'>A</th>
                                    <th class="" style='text-align:center;'>B</th>
                                    <th class="" style='text-align:center;'>C</th>
                                    <th class="" style='text-align:center;'>D</th>

                                    <th class="" style='text-align:center;'>A</th>
                                    <th class="" style='text-align:center;'>B</th>
                                    <th class="" style='text-align:center;'>C</th>
                                    <th class="" style='text-align:center;'>D</th>



                                </tr>

                            </thead>
                            <tbody>
                                <tr>
                                    <td class="" style='text-align:center;'></td>
                                    <td class="" style='text-align:center;'></td>
                                    <td class="" style='text-align:center;'></td>
                                    <td class="" style='text-align:center;'></td>
                                    <td class="" style='text-align:center;'></td>
                                    <td class="" style='text-align:center;'></td>
                                    <td class="" style='text-align:center;'></td>
                                    <td class="" style='text-align:center;'></td>
                                    <td class="" style='text-align:center;'></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td class="" style='text-align:center;'></td>
                                    <td class="" style='text-align:center;'></td>
                                    <td class="" style='text-align:center;'></td>
                                    <td class="" style='text-align:center;'></td>
                                    <td class="" style='text-align:center;'></td>
                                    <td class="" style='text-align:center;'></td>
                                    <td class="" style='text-align:center;'></td>
                                    <td class="" style='text-align:center;'></td>
                                    <td class="" style='text-align:center;'></td>
                                </tr>
                            </tfoot>
                        </table>

                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.row -->


</div>


<?php $this->partial("layouts/admin/footer"); ?>
