<?php $this->partial("layouts/login/header"); ?>
    <!-- Parallax Background
	================================================== -->
    <!-- image is set in the CSS as a background image -->
    <div id="parallax">
        <video autoplay loop style="width:100%; height: auto; z-index: -1;">
            <!--<source src="<?php /*p_base_url() */?>/video/sqvideo.mp4" type="video/mp4" />-->
            <source src="http://syddev.com/jquery.videoBG/assets/tunnel_animation.mp4" type="video/mp4" />
            <source src="http://syddev.com/jquery.videoBG/assets/tunnel_animation.ogv" type="application/ogg" />
            <!--<img src="http://syddev.com/jquery.videoBG/assets/tunnel_animation.jpg">-->
        </video>
        <!--<img src="<?php /*echo p_base_url('/img/parallax2.jpg') */?>">-->
    </div>
    <!-- End Parallax Background
    ================================================== -->

    <!-- Start Header
        ================================================== -->
    <header id="header" class="navbar navbar-inverse navbar-fixed-top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Your Logo -->
                <img src="<?php echo p_base_url('/img/logo.gif'); ?>" style="padding-top: 25px;" width="130"/>
            </div>
            <!-- Start Navigation -->
            <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                <ul class="nav navbar-nav">
                    <li><a href="#hero">Home</a></li>
<!--                    <li><a href="#features">Features</a></li>-->
                    <li><a href="#image">About</a></li>
                    <li><a href="#gallery">Gallery</a></li>
                    <li><a href="<?php p_base_url(); ?>/index/quran" target="_blank">Tahsin MI PKP</a></li>
<!--                    <li><a href="#slider">Testimonials</a></li>-->
<!--                    <li><a href="#newsletter">MyHalaqoh</a></li>-->
                </ul>
                <ul class="nav navbar-nav navbar-right header-button">
                </ul>
            </nav>
        </div>
    </header>
    <!-- ==================================================End Header -->

    <!-- Start Hero Section ================================================== -->
    <?php $this->partial("login/section_hero", array("notification1" => null, "objLegalDocMain" => null, "objMember" => null)); ?>
<!--    --><?php //$this->partial("login/section_features", array("notification1" => null, "objLegalDocMain" => null, "objMember" => null)); ?>
    <?php $this->partial("login/section_about", array("notification1" => null, "objLegalDocMain" => null, "objMember" => null)); ?>
    <?php $this->partial("login/section_gallery", array("notification1" => null, "objLegalDocMain" => null, "objMember" => null)); ?>
<!--    --><?php //$this->partial("login/section_faq", array("notification1" => null, "objLegalDocMain" => null, "objMember" => null)); ?>
<!--    --><?php //$this->partial("login/section_slider", array("notification1" => null, "objLegalDocMain" => null, "objMember" => null)); ?>
    <!-- ==================================================
    End Newsletter Blcok -->
    <script>
        var validateLogin = {
            rules: {
                username: {required: true},
                password: {required: true}
            },
            messages: {
                username: {
                    required: "Please enter a Username"
                },
                password: {
                    required: "Please enter a password"
                }
            }
        };

        function gotoList() {
            location.href = "<?php p_base_url();?>/<?php echo $success_url;?>";
        }

        function showResponse(response, statusText, xhr, $form) {
            response = parseJson(response);
            if (response.isSuccess) {
                gotoList();
            } else {
                showModalInfo(response.message);
                $('#formMessage').fadeOut(500, function () {
                    $(this).text(response.message).fadeIn(500);
                });
            }
        }
        function showRequest(formData, jqForm, options) {
            return true;
        }
        var optionsForm = {
            dataType: 'json',
            beforeSubmit: showRequest,
            success: showResponse
        };
        function submitFormLogin() {
            $("#formLogin").validate(validateLogin);
            $('#formLogin').ajaxForm(optionsForm);
            $('#formLogin').submit();
        }
        function signUp(){
            $('#mymodal').modal('show');
            $('#mymodal .modal-title').html('Mendaftar');
            $('#mymodal .modal-body').load('<?php PartialLibrary::p_load('admin/partial/form_signup') ?>',
                {id: null}, function (html) {
                    $('#mymodal .modal-body').html(html);
                });
        }

    </script>
<?php $this->partial("layouts/login/footer"); ?>