<section id="newsletter" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="overview" style="color: #eeeeee;">
<!--                    <h1><strong>My Halaqoh</strong></h1>-->
<!--                    <p class="lead">Managemen Kegiatan dan Kelompok Halaqoh</p>-->
                </div>
                <form id="formLogin" action="<?php echo $action; ?>" method="post">
                    <div class="form-group">
                        <input type="text" name="username" class="form-control" placeholder="Username"/>
<!--                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>-->
                    </div>
                    <div class="form-group">
                        <input id="password" type="password" name="password"
                               class="form-control" placeholder="Password"/>
<!--                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>-->
                    </div>
                    <div class="form-group">
                        <div class="form-control col-xs-6">
                            <button type="button" onclick="submitFormLogin()" class="btn btn-primary btn-block btn-flat">
                                Sign In
                            </button>
                        </div>
                        <div class="form-control col-xs-6">
                            <button type="button" onclick="signUp()" class="btn btn-warning btn-block btn-red-900">Sign Up</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script>
    $('#password').bind('keypress', function (e) {
        if (e.keyCode == 13) {
            submitFormLogin();
        }
    });
</script>