<section id="image" class="section" style="background-color:#FFF; border-top: 1px solid rgba(0, 0, 0, .1);">
    <div class="container">
        <div class="row">
            <div class="col-md-12 sol-sm-12">
                <div class="overview animate" data-animate="flipInX" style="font-family: times;">
                    <h1><strong>Satuqolbu</strong> Students Learning Center</h1>
                    <p class="lead">Adalah sebuah perkumpulan alumni dari siswa sekolah menengah atas (SMA) yang pernah
                        berpartisipasi dalam kegiatan keislaman. </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <!--<img class="animate img-responsive" data-animate="fadeInLeft" src="http://placehold.it/555x416" alt=""/></div>-->
                <img class="animate img-responsive" data-animate="fadeInLeft" src="<?php echo p_base_url('/img/about.jpg') ?>" alt=""/></div>
            <div class="col-md-6 col-sm-12">
                <div class="content-block animate" data-animate="fadeInRight" style="margin-top: 0px;">
                    <h2>Apa tujuan perkumpulan ini?</h2>
                    <p class="lead">Meninggikan Islam dan meneruskan perjuangan.</p>
                    <hr />
                    <p><a href="#">Satuqolbu SLC</a> memiliki perhatian yang besar dalam pengembangan mental
                        dan jati diri siswa/i sekolah. Informasi yang berkembang saat ini begitu mudah didapat sehingga
                        jika seorang siswa tidak pandai mengelola informasi maka akan terjerumus kepada perilaku
                        negatif. Satuqolbu dibentuk dengan maksud agar generasi muda memiliki jati diri sebagai pemuda bangsa
                        sebagaimana pada masa yang telah lalu bahwa Indonesia terkenal dengan keramahannya dan sopan
                        santun. Sikap santun juga menjadi salah satu perhatian kami agar remaja memiliki akhlak dan budi
                        pekerti yang baik.
                    </p>
                    <button class="btn btn-md btn-primary">Learn More</button>
                </div>
            </div>
        </div>
    </div>
</section>