<section id="features" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Title -->
                <div class="overview animate" data-animate="flipInX">
                    <h1><strong>Promo</strong> is a Super Simple Landing Page</h1>
                    <p class="lead">Quickly build prospective best practices vis-a-vis sticky quality vectors. Dynamically plagiarize viral models before installed base functionalities. </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-block animate" data-animate="fadeInRight">
                    <span class="glyphicon glyphicon-tree-conifer"></span>
                    <h3>Fully Responsive</h3>
                    <p>With carefully thought-out design, Neue looks great on any device.</p>
                    <button type="button" class="btn btn-primary btn-md btn-rocket btn-rocket-default">Learn More</button>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-block animate" data-animate="flipInY">
                    <span class="glyphicon glyphicon-stats"></span>
                    <h3>Super Simple</h3>
                    <p>With carefully thought-out design, Neue looks great on any device.</p>
                    <button type="button" class="btn btn-primary btn-md btn-rocket btn-rocket-default">Learn More</button>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-block animate" data-animate="fadeInLeft">
                    <span class="glyphicon glyphicon-tree-deciduous"></span>
                    <h3>Parallax Background</h3>
                    <p>With carefully thought-out design, Neue looks great on any device.</p>
                    <button type="button" class="btn btn-primary btn-md btn-rocket btn-rocket-default">Learn More</button>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-block animate" data-animate="flipInX">
                    <span class="glyphicon glyphicon-heart"></span>
                    <h3>Bootstrap 3.0</h3>
                    <p>With carefully thought-out design, Neue looks great on any device.</p>
                    <button type="button" class="btn btn-primary btn-md btn-rocket btn-rocket-default">Learn More</button>
                </div>
            </div>
        </div>
    </div>
</section>