<section id="hero" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="lp-element animate" data-animate="fadeInUp" style="padding: 0;background-color: transparent;">
                    <?php $this->partial("login/section_login", array("notification1" => null, "objLegalDocMain" => null, "objMember" => null)); ?>
                </div>
            </div>
            <div class="col-md-7">
                <div class="lp-element animate" data-animate="fadeInDown">
                    <h1 style="font-family: times;">Satuqolbu SLC</h1>
                    <p class="lead">Profesional berdakwah, menciptakan generasi ukhuwah.</p>
                    <p>
                        <a class="btn btn-primary btn-lg" href="#newsletter" role="button">Berita</a>
                        <a class="btn btn-danger btn-lg" role="button">Program</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>