<section id="gallery" class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 sol-sm-12">
                <div class="overview animate" data-animate="flipInY">
                    <h1><strong>Pemuda Islam</strong> Harapan Bangsa</h1>
                    <p class="lead">Mandiri, Bugar, Cerdas, Sehat dan Bertakwa. </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <a href="<?php echo p_base_url('/img/gallery/generasi_quran.jpg') ?>" title="This is the description">
                    <img src="<?php echo p_base_url('/img/gallery/generasi_quran.jpg') ?>" alt="Turtle" class="img-rounded image-responsive animate" data-animate="fadeIn">
                </a>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <a href="<?php echo p_base_url('/img/gallery/generasi_quran2.jpg') ?>" title="This is the description">
                    <img src="<?php echo p_base_url('/img/gallery/generasi_quran2.jpg') ?>" alt="Turtle" class="img-rounded image-responsive animate" data-animate="fadeIn">
                </a>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <a href="<?php echo p_base_url('/img/gallery/generasi_prestasi.jpg') ?>" title="This is the description">
                    <img src="<?php echo p_base_url('/img/gallery/generasi_prestasi.jpg') ?>" alt="Turtle" class="img-rounded image-responsive animate" data-animate="fadeIn">
                </a>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <a href="<?php echo p_base_url('/img/gallery/generasi_quran3.jpg') ?>" title="This is the description">
                    <img src="<?php echo p_base_url('/img/gallery/generasi_quran3.jpg') ?>" alt="Turtle" class="img-rounded image-responsive animate" data-animate="fadeIn">
                </a>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <a href="<?php echo p_base_url('/img/gallery/generasi_ukhuwah.jpg') ?>" title="This is the description">
                    <img src="<?php echo p_base_url('/img/gallery/generasi_ukhuwah.jpg') ?>" alt="Turtle" class="img-rounded image-responsive animate" data-animate="fadeIn">
                </a>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <a href="<?php echo p_base_url('/img/gallery/generasi_sehat.jpg') ?>" title="This is the description">
                    <img src="<?php echo p_base_url('/img/gallery/generasi_sehat.jpg') ?>" alt="Turtle" class="img-rounded image-responsive animate" data-animate="fadeIn">
                </a>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <a href="<?php echo p_base_url('/img/gallery/generasi_sehat2.jpg') ?>" title="This is the description">
                    <img src="<?php echo p_base_url('/img/gallery/generasi_sehat2.jpg') ?>" alt="Turtle" class="img-rounded image-responsive animate" data-animate="fadeIn">
                </a>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <a href="<?php echo p_base_url('/img/gallery/generasi_sehat3.jpg') ?>" title="This is the description">
                    <img src="<?php echo p_base_url('/img/gallery/generasi_sehat3.jpg') ?>" alt="Turtle" class="img-rounded image-responsive animate" data-animate="fadeIn">
                </a>
            </div>
        </div>
    </div>
</section>