<?php $this->partial("layouts/admin/header"); ?>
<script>
    $(document).ready(function() {
        $('#tglLahir').datepicker({
            language:'EN',
            format: 'dd/mm/yyyy',
            pickSeconds: false,
            pick12HourFormat: false
        });

        $('.img-round').roundImage();
        $(":input").inputmask();
        loadForm();
        $('input[name="jns_kelamin"]').change(function() {
            if($(this).val()==1){
                $('#output').attr("src", "<?php p_base_url()?>/img/unknown_member.png");
            } else{
                $('#output').attr("src", "<?php p_base_url()?>/img/unknown_member_akhwat.png");
            }
        });
    });

    $(function () {
        $("#tglLahir").inputmask("date");
    });

    var loadFile = function(event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
        filenameProfileImage();
    };
    function filenameProfileImage() {
        var filename = document.forms["formData"].elements["detailfile"];
        var name_of_file = document.forms["formData"].elements["text_url"];

        if (name_of_file.length == undefined) {
            name_of_file.value = filename.value;
        } else {
            for (var i = 0, len = filename.length; i < len; i++) {
                name_of_file[i].value = filename[i].value;
            }
        }
    }
    var doSetJnsKelamin = function(event, type) {
        var output = document.getElementById('output');
        var tipe = type;
        if( tipe == 1){
            output.src = "<?php base_url('img/unknown_member.png');?>";
        }else{
            output.src = URL.createObjectURL("<?php base_url('/img/email.png');?>");
        }
    }
    $(function() {
         $("#source-hide").prop('disabled', true);
             $("#source-hide").hide();
             $("#source-dropdown").prop('disabled', true);
             $("#source-dropdown").hide();
             $("#source-dropdown").html('');
    });

    function gotoList(){
        location.href="<?php p_base_url();?>/admin/<?php echo $url;?>";
    }
    function loadForm(){
        var url = "<?php p_base_url();?>/admin/<?php echo $url;?>/get?id=<?php echo $id;?>";
        $.get(url, function (data) {
            var idSubDistrict = data.id_sub_district;
            var url = "<?php p_base_url();?>/admin/manual/get_sub_district?id_regency=" + data.id_regency;
            $.getJSON(url, function (data) {
                var showData;
                showData += "<option value='0'>Please select</option>";
                $.each(data, function (i, val) {
                    showData += "<option value=\"" + val.id + "\">" + val.nama + "</option>";
                });
                $('#sub_district').html(showData);
                $('#sub_district').val(idSubDistrict);
            });
            $( "#text_url" ).val(data.path_medium);
        }, 'json');
        FormLoadByUrlJson(url,"formData");
    }
    function showResponse(response, statusText, xhr, $form)  {
        response = parseJson(response);
        if(response.isSuccess){
            gotoList();
        }else{
            showModalError(response.message);
        }
    }
    function showRequest(formData, jqForm, options) {

        return true;
    }
    var validateForm = {
        rules: {
            /*username: {
                required: true
            },
            password: {
                required: true
            },
            nama: {
                required: true
            }*/
        },
        messages: {
            /*username: {
                required: "Please enter a Username"
            },
            password: {
                required: "Please enter a Password"
            },
            nama: {
                required: "Please enter a Nama"
            }*/
        }
    };
    var optionsForm = {
        beforeSerialize: function($form, options) {
//            var txtLocation = $('#location').val();
//            $.ajax({
//                type: 'GET',
//                url: '<?php //p_base_url("");?>///admin/manual/isLocationExist?txt_location='+txtLocation,
//                success: function (data) {
//                }
//            });
        },
        dataType:  'json',
        success: showResponse
    };
    function submitForm1(){
        //$("#formData").validate(validateForm);
        $('#formData').ajaxForm(optionsForm);
        $('#formData').submit();
    }
</script>
<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1><button title="Kembali" type="button" class="btn btn-primary fa fa-mail-reply-all" onclick="gotoList();"></button>
            <small>Form&nbsp;-&nbsp;<?php echo $title;?></small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i><?php echo $labelForm;?></a></li>
            <li class="active"><?php echo $title;?></li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="box box-primary">
                        <!-- form start -->
                        <form id="formData" role="form" method="post" action="<?php echo base_url()."/admin/".$url."/".$action;?>">
                            <input type="hidden" name="id">
                            <div class="box-body">
                                <div class="form-group">
                                    <div class="media">
                                        <div class="col-sm-3 text-center">
                                            <?php $data = \SqCustomer::findFirstById($id);
                                            if( !empty($data->path_small)) : ?>
                                                <a href="javascript:void(0)"  >
                                                    <img class="img-circle" name="imgPhotoComplaint"
                                                         src="<?php p_base_url($data->path_medium) ?>" alt="" width="150">
                                                </a>
                                            <?php else: ?>
                                                <a href="javascript:void(0)" >
                                                    <img id="output" class="img-circle"
                                                         src="<?php p_base_url('/img/unknown_member.png') ?>" alt="" height="150">
                                                </a>
                                            <?php endif; ?>
                                            <div class="panel-body" style="padding: 0;">
                                                <div class="fileUpload btn btn-primary col-sm-12" style="padding: 5px;">
                                                    <a style="color: #ff0000">*</a>Upload Pict.
                                                    <input type="file" name="detailfile" class="upload"
                                                           onchange="loadFile(event);">
                                                </div>
                                                <div class="col-sm-12" style="padding: 0px;">
                                                    <input class="form-control" type="text" id="text_url"
                                                           name="path_medium" style="height:32px"
                                                           placeholder="Url Photo" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            <div class="form-group col-sm-6" >
                                                <label for="password">Nama Depan</label>
                                                <input type="text" data-role="text" name="first_name" class="form-control" placeholder="Nama Depan">
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label for="password">Nama Belakang</label>
                                                <input type="text" data-role="text" name="last_name" class="form-control" placeholder="Nama Belakang">
                                            </div>
                                            <div class="form-group col-sm-6" >
                                                <label>Tempat Lahir</label>
                                                <input type="text" data-role="text" name="tempat_lahir" class="form-control" placeholder="Tempat Lahir">
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label>Tgl. Lahir</label>
                                                <input id="tglLahir" name="tgl_lahir" type="text" class="form-control date" placeholder="Tanggal Lahir">
                                            </div>
                                            <div class="form-group col-sm-6" >
                                                <label>Jabatan Satuqolbu</label><span class="required">*</span>
                                                <div class="dropdown">
                                                    <select id="jabatan1" name="jabatan1" class="form-control">
                                                        <option value="">-Pilih-</option>
                                                        <option value="0"><?php echo TipeJabatan::getStringStatus(0);?></option>
                                                        <option value="1"><?php echo TipeJabatan::getStringStatus(1);?></option>
                                                        <option value="2"><?php echo TipeJabatan::getStringStatus(2);?></option>
                                                        <option value="3"><?php echo TipeJabatan::getStringStatus(3);?></option>
                                                        <option value="4"><?php echo TipeJabatan::getStringStatus(4);?></option>
                                                        <option value="5"><?php echo TipeJabatan::getStringStatus(5);?></option>
                                                        <option value="6"><?php echo TipeJabatan::getStringStatus(6);?></option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-6" >
                                                <label>Ditugaskan Di</label>
                                                <div class="dropdown">
                                                    <div class="dropdown">
                                                        <div><?php
                                                            echo $this->tag->select(array("status_penugasan", "id" => "id_sekolah",
                                                                \SqMstSekolah::find(),
                                                                "useEmpty" => false,
                                                                "emptyText" => "-Pilih Sekolah-",
                                                                "class" => "form-control",
                                                                "using" => array("id", "nm_sekolah")
                                                            ));?>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-6" >
                                                <label>Jenis Kelamin</label><span style="color: #d62728;font-size: 8pt;">*)</span>
                                                <div class="dropdown">
                                                    <select id="jns_kelamin" name="jns_kelamin" class="form-control">
                                                        <option value="1">IKHWAN</option>
                                                        <option value="0">AKHWAT</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-6" >
                                                <label>Mobile</label><span style="color: #d62728;font-size: 8pt;">*)</span>
                                                <input name="mobile" type="text" class="form-control" placeholder="Mobile">
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label>Email</label><span style="color: #d62728;font-size: 8pt;">*)</span>
                                                <input name="email" type="email"
                                                       class="form-control" placeholder="Email">
                                            </div>
                                        </div><!--end div media-body-->
                                    </div><!--end div media-->
                                    <!--=====================================================-->
                                    <div class="form-group">
                                        <label>Alamat</label>
                                                <textarea name="alamat" type="text"
                                                          class="form-control" placeholder="Alamat"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>Pekerjaan</label>
                                        <input name="pekerjaan" type="text"
                                               class="form-control" placeholder="Pekerjaan">
                                    </div>
                                    <div class="form-group">
                                        <label>Status Menikah</label>
                                        <div class="dropdown">
                                            <select id="sts_nikah" name="sts_nikah" class="form-control">
                                                <option value="0">Belum</option>
                                                <option value="1">MENIKAH</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Status Membina</label>
                                        <div class="dropdown">
                                            <select id="is_membina" name="is_membina" class="form-control">
                                                <option value="0">Belum</option>
                                                <option value="1">MEMBINA</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Asal Sekolah</label>
                                        <div class="dropdown">
                                            <div>
                                                <?php
                                                echo $this->tag->select(array("id_sekolah", "id" => "id_sekolah",
                                                    \SqMstSekolah::find(),
                                                    "useEmpty" => false,
                                                    "emptyText" => "-Pilih Sekolah-",
                                                    "class" => "form-control",
                                                    "using" => array("id", "nm_sekolah")
                                                ));?>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>MR</label>
                                        <div class="dropdown">
                                            <div>
                                                <?php
                                                echo $this->tag->select(array("id_mr", "id" => "id_mr",
                                                    \SqCustomer::find(
                                                        "is_membina=1"
                                                    ),
                                                    "useEmpty" => true,
                                                    "emptyText" => "-Pilih Pembimbing-",
                                                    "class" => "form-control",
                                                    "using" => array("id", "first_name")
                                                ));?>
                                            </div>
                                        </div>
                                    </div>
                                    <?php if(!$is_edit): ?>
                                    <div class="form-group">
                                        <label>Buat Akun ?</label>
                                        <div class="dropdown">
                                            <select id="create_account" name="create_account" class="form-control">
                                                <option value="0">TIDAK</option>
                                                <option value="1">YA</option>
                                            </select>
                                        </div>
                                    </div>
                                    <?php endif; ?>
                                </div>
                            </div><!-- /.box-body -->

                            <div class="box-footer">
                                <button type="button" class="btn btn-primary" onclick="submitForm1()"><?php echo $labelSubmit;?></button>
                            </div>
                        </form>
                    </div><!-- /.box -->
                    </div>
                </div>

        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
<script>
    //======================= combo kec =====================
    $('#regency').change(function(){
        $('#sub_district').html('');
        var getValue= $(this).val();
        if(getValue == '0'){
            $('#sub_district').html('');
        }else {
            var url = "<?php p_base_url();?>/admin/manual/get_sub_district?id_regency=" + getValue;
            $.getJSON(url, function (data) {
                console.log(data);
                var showData;
                showData += "<option value='0'>Please select</option>";
                $.each(data, function (i, val) {
                    showData += "<option value=\"" + val.id + "\">" + val.nama + "</option>";
                });
                $('#sub_district').html(showData);
            });
        }
    });
</script>
<?php $this->partial("layouts/admin/footer"); ?>