<?php $this->partial("layouts/admin/header"); ?>
    <script>
        function gotoList() {
            location.href = "<?php p_base_url();?>/admin/<?php echo $url;?>";
        }
        function loadForm() {
            var url = "<?php p_base_url();?>/admin/<?php echo $url;?>/get";
            FormLoadByUrlJson(url, "formData");
            $.get(url, function (data) {
                response = parseJson(data);
                $( "#text_url" ).val(response.path_small);
                $( "#password" ).val("");
            });
        }
        function showResponse(response, statusText, xhr, $form) {
            response = parseJson(response);
            if (response.isSuccess) {
                gotoList();
            }
        }
        function showRequest(formData, jqForm, options) {

            return true;
        }
        var optionsForm = {
            dataType: 'json',
            beforeSubmit: showRequest,
            success: showResponse
        };
        function submitForm() {
            //$("#formData").validate(validateForm);
            $('#formData').ajaxForm(optionsForm);
            $('#formData').submit();
        }

        $(function () {
            $("#tglLahir").inputmask("date");
        });

        $(document).ready(function () {
//            $('#tglLahir').datepicker({
//                language:'EN',
//                format: 'dd/mm/yyyy',
//                pickSeconds: false,
//                pick12HourFormat: false
//            });

//            $(":input").inputmask();
            loadForm();
        });
        var loadFile2 = function(event) {
            var output = document.getElementById('output');
            output.src = URL.createObjectURL(event.target.files[0]);
            filenameProfileImage2();
        };
        function filenameProfileImage2() {
            var filename = document.forms["formData"].elements["detailfile"];
            var name_of_file = document.forms["formData"].elements["text_url"];

            if (name_of_file.length == undefined) {
                name_of_file.value = filename.value;
            } else {
                for (var i = 0, len = filename.length; i < len; i++) {
                    name_of_file[i].value = filename[i].value;
                }
            }
        }
    </script>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1><button type="button" class="btn btn-primary fa fa-mail-reply-all" onclick="gotoList();"></button>
                <small>Form&nbsp;-&nbsp;<?php echo $title;?></small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i><?php echo $labelForm;?></a></li>
                <li class="active"><?php echo $title;?></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="box box-primary">
                        <?php $data = \PgAdmin::findFirstById($this->session->id_admin);
                            $dataCs = $data->getCustomer();
                        ?>
                        <!-- form start -->
                        <form id="formData" role="form" method="post" action="<?php echo base_url() . "/admin/" . $url . "/" . $action; ?>">
                            <div class="box-body">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-12 text-center">
                                            <?php
                                            if( !empty($dataCs->path_small)) : ?>
                                                <a href="javascript:void(0)" class="thumbnail" style="padding:1px">
                                                    <img class="img-circle" name="imgPhotoComplaint"
                                                         src="<?php p_base_url($dataCs->path_small) ?>" alt="" width="100">
                                                </a>
                                            <?php else: ?>
                                                <a href="javascript:void(0)" style="padding:1px">
                                                    <img id="output" class="img-circle"
                                                         src="<?php p_base_url('/img/unknown_member.png') ?>" alt="" height="100">
                                                </a>
                                            <?php endif; ?>
                                            <div class="col-sm-12 text-center" style="margin-top: -15px;">
                                                <div class="fileUpload btn btn-primary" style="padding: 5px;">
                                                    <span class="fa fa-upload">&nbsp;UPLOAD</span>
                                                    <input type="file" name="detailfile" class="upload" onchange="loadFile2(event);">
                                                </div>
                                                <div style="padding: 0px;">
                                                    <input class="form-control hidden" type="text" id="text_url"
                                                           name="path_medium" style="height:32px" placeholder="Url Photo" readonly>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6" >
                                    <label for="email">Username</label>
                                    <input type="text" data-role="text" data-inputmask="'alias': 'email'" name="email"
                                           class="form-control" placeholder="Enter Email" disabled>
                                </div>
                                <div class="form-group col-sm-6" >
                                    <label for="password">Password</label>
                                    <input type="password" name="prof_password" class="form-control" placeholder="Enter Password" value="">
                                </div>
                                <div class="form-group col-sm-12"  >
                                    <label for="nama">Nama</label>
                                    <input type="text" data-role="text" name="nama" class="form-control"
                                           placeholder="Enter Nama">
                                </div>
                                <!--<div class="form-group col-sm-12" >
                                    <label>Jabatan Satuqolbu</label><span class="required">*</span>
                                    <div class="dropdown">
                                        <select id="jabatan1" name="jabatan1" class="form-control">
                                            <option value="">-Pilih-</option>
                                            <option value="0"><?php /*echo TipeJabatan::getStringStatus(0);*/?></option>
                                            <option value="1"><?php /*echo TipeJabatan::getStringStatus(1);*/?></option>
                                            <option value="2"><?php /*echo TipeJabatan::getStringStatus(2);*/?></option>
                                            <option value="3"><?php /*echo TipeJabatan::getStringStatus(3);*/?></option>
                                            <option value="4"><?php /*echo TipeJabatan::getStringStatus(4);*/?></option>
                                            <option value="5"><?php /*echo TipeJabatan::getStringStatus(5);*/?></option>
                                            <option value="6"><?php /*echo TipeJabatan::getStringStatus(6);*/?></option>
                                        </select>
                                    </div>
                                </div>-->
                                <div class="form-group col-sm-12" >
                                    <label>Jenis Kelamin</label>
                                    <div class="dropdown">
                                        <select id="jns_kelamin" name="jns_kelamin" class="form-control">
                                            <?php
                                            if($dataCs->jns_kelamin == JnsKelamin::$IKHWAN): ?>
                                                <option value="0">AKHWAT</option>
                                                <option value="1" selected>IKHWAN</option>
                                            <?php else: ?>
                                                <option value="0" selected>AKHWAT</option>
                                                <option value="1">IKHWAN</option>
                                            <?php endif; ?>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6" >
                                    <label>Tempat Lahir</label>
                                    <input type="text" data-role="text" name="tempat_lahir" class="form-control"
                                           placeholder="Tempat Lahir" value="<?php echo $dataCs->tempat_lahir; ?>">
                                </div>
                                <div class="form-group col-sm-6" >
                                    <label>Tgl. Lahir</label>
                                    <input id="tglLahir" name="tgl_lahir" type="text" class="form-control" placeholder="Tanggal Lahir"
                                           value="<?php echo empty($dataCs->tgl_lahir) ? "" : DateTimeLibrary::parseDateSQLtoIO($dataCs->tgl_lahir) ?>">
                                </div>
                                <div class="form-group col-sm-12" >
                                    <label>Kontak</label>
                                    <input name="mobile" type="text" class="form-control" placeholder="Mobile" value="<?php echo $dataCs->mobile; ?>">
                                </div>
                                <div class="form-group col-sm-12" >
                                    <label>Alamat</label>
                                                <textarea name="alamat" type="text"
                                                          class="form-control" placeholder="Alamat"><?php echo $dataCs->alamat; ?></textarea>
                                </div>
                                <div class="form-group col-sm-12" >
                                    <label>Pekerjaan</label>
                                    <input name="pekerjaan" type="text"
                                           class="form-control" placeholder="Pekerjaan" value="<?php echo $dataCs->pekerjaan; ?>">
                                </div>
                                <div class="form-group col-sm-12" >
                                    <label>Status Menikah</label>
                                    <div class="dropdown">
                                        <select id="sts_nikah" name="sts_nikah" class="form-control">
                                            <?php
                                                if($dataCs->sts_nikah): ?>
                                                <option value="0">Belum</option>
                                                <option value="1" selected>MENIKAH</option>
                                            <?php else: ?>
                                                <option value="0" selected>Belum</option>
                                                <option value="1">MENIKAH</option>
                                            <?php endif; ?>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-sm-12" >
                                    <label for="skill_khusus">Kemampuan Khusus</label>
                                    <textarea type="text" data-role="text" name="skill_khusus" class="form-control" placeholder="Kemampuan Khusus"><?php echo $dataCs->skill_khusus; ?></textarea>
                                </div>
                                <div class="form-group col-sm-12" >
                                    <label for="keterangan">Keterangan</label>
                                    <input type="text" data-role="text" name="keterangan" class="form-control"
                                           placeholder="Enter Keterangan">
                                </div>
                            </div>
                            <!-- /.box-body -->

                            <div class="box-footer">
                                <button type="button" class="btn btn-primary"
                                        onclick="submitForm()"><?php echo $labelSubmit; ?></button>
                            </div>
                        </form>
                    </div>
                    <!-- /.box -->
                </div>
            </div>

        </section>
        <!-- /.content -->
    </div><!-- /.content-wrapper -->

<?php $this->partial("layouts/admin/footer"); ?>