<?php $this->partial("layouts/admin/header"); ?>
    <script>
        function gotoEdit() {
            location.href = "<?php p_base_url();?>/admin/<?php echo $url;?>/edit";
        }
    </script>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
<!--                --><?php //echo $title; ?>
<!--                <small>View</small>-->
<!--                <button type="button" class="btn btn-primary fa fa-mail-reply-all" onclick="gotoEdit();"></button>-->
                View&nbsp;-&nbsp;<?php echo $title; ?>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i><?php echo $title; ?></a></li>
                <li class="active">View</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">

                    <div class="box">
                        <div class="media">
                            <div class="media-body">
                                <div class="col-xs-3 text-center" style="padding: 10px;">
<!--                                    --><?php //$data = \SqCustomer::findFirstById($id);
                                    if( !empty($customer->path_small)) : ?>
                                        <a href="javascript:void(0)"  style="padding:1px">
                                            <img class="img-circle" name="imgPhotoComplaint"
                                                 src="<?php p_base_url($customer->path_small) ?>" alt="" width="150">
                                        </a>
                                    <?php else: ?>
                                        <a href="javascript:void(0)" style="padding:1px">
                                            <img id="output" class="img-circle"
                                                 src="<?php p_base_url('/img/unknown_member.png') ?>" alt="" height="150">
                                        </a>
                                    <?php endif; ?>
                                </div>
                                <div class="box-body table-responsive no-padding">
                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon1">Email</span>
                                        <div class="form-control"><?php echo $profile->email; ?></div>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon1">Nama</span>
                                        <div class="form-control"><?php echo $profile->nama; ?></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <div class="input-group">
                                <button type="button" class="btn btn-primary" onclick="gotoEdit()">Edit</button>
                            </div>
                        </div>
                    </div>
                    <!-- /.box -->

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->


        </section>
        <!-- /.content -->
    </div><!-- /.content-wrapper -->

<?php $this->partial("layouts/admin/footer"); ?>