<script>
//    function filenameProfileImage() {
//        var filename = document.forms["form_images_member"].elements["detailfile"];
//        var name_of_file = document.forms["form_images_member"].elements["name_of_file"];
//
//        if (name_of_file.length == undefined) {
//            name_of_file.value = filename.value;
//
//        } else {
//            for (var i = 0, len = filename.length; i < len; i++) {
//                name_of_file[i].value = filename[i].value;
//            }
//        }
//    }
//    function gotoList(){
//        location.href="<?php //p_base_url();?>///admin/<?php //echo $url;?>//";
//    }
//    function loadForm(){
//        var url = "<?php //p_base_url();?>///admin/<?php //echo $url;?>///get?id=<?php //echo $id;?>//";
//        FormLoadByUrlJson(url,"formData");
//    }
//    function showResponse(response, statusText, xhr, $form)  {
//        response = parseJson(response);
//        if(response.isSuccess){
//            gotoList();
//        }else{
//            showModalError(response.message);
//        }
//    }
//    function showRequest(formData, jqForm, options) {
//
//        return true;
//    }
//    var validateForm = {
//        rules: {
//            /*username: {
//             required: true
//             },
//             password: {
//             required: true
//             },
//             nama: {
//             required: true
//             }*/
//        },
//        messages: {
//            /*username: {
//             required: "Please enter a Username"
//             },
//             password: {
//             required: "Please enter a Password"
//             },
//             nama: {
//             required: "Please enter a Nama"
//             }*/
//        }
//    };
//    var optionsForm = {
//        dataType:  'json',
//        beforeSubmit:  showRequest,
//        success: showResponse
//    };
//    function submitForm(){
//        $("#formData").validate(validateForm);
//        $('#formData').ajaxForm(optionsForm);
//        $('#formData').submit();
//    }
//    $( document ).ready(function() {
//        $(":input").inputmask();
//        loadForm();
//    });
</script>

    <!-- form start -->
<form id="formData" role="form" method="post" action="<?php echo base_url()."/admin/"?>">
    <div class="box-body">
        <div class="form-group">
            <label for="password">Gambar</label>
            <div class="media">
                <i class="hidden">
                    <img src="../../img/gambar1.jpg" width="100">
                </i>
                <div class="media-body">
                    <!--<input type="file" data-role="text" id="photo_complaint"
                           name="photo_complaint" class="form-control" placeholder="Latitude">-->
                    <div class="fileUpload btn btn-primary col-sm-3">
                        <a style="color: #ff0000">*</a>Upload
                        <input type="file" name="detailfile" class="upload" onchange="filenameProfileImage()">
                    </div>
                    <div class="col-sm-9">
                        <input class="form-control" type="text" id="name_of_file" name="name_of_file" style="height:32px" placeholder="Url Photo">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Latitude</label>
            <input type="text" data-role="text" id="latitude" name="latitude" class="form-control" placeholder="Latitude">
        </div>
        <div class="form-group">
            <label for="password">Longitude</label>
            <input type="text" data-role="text" id="longitude" name="longitude" class="form-control" placeholder="Longitude">
        </div>
        <div class="form-group">
            <label for="password">Lokasi</label>
            <textarea type="text" data-role="text" id="location" name="location" class="form-control" placeholder="Lokasi"></textarea>
        </div>
        <div class="form-group">
            <label for="password">Tag</label>
            <textarea type="text" data-role="text" id="tag" name="tag" class="form-control" placeholder="Tag"></textarea>
        </div>
        <div class="form-group">
            <label for="username">Kategori</label>
            <input type="hidden" name="id">
            <div class="dropdown">
                <div>
                    <?php
                    echo $this->tag->select(array("id_category", "id" => "id_category",
                        PgCategoryComplaint::find(),
                        "useEmpty" => true,
                        "emptyText" => "Pilih Kategori",
                        "class" => "form-control",
                        "using" => array("id", "name"),
                    ));?>
                </div>
            </div>
            <!--<input type="text" data-role="text" id="id_category"
                   name="id_category" class="form-control" placeholder="Kategori">-->
        </div>
        <div class="form-group">
            <label for="password">Catatan</label>
                    <textarea type="text" data-role="text"
                              id="notes_mission" name="notes_mission" class="form-control" placeholder="Catatan Misi">
                        </textarea>
        </div>
        <div class="form-group">
            <label for="nama">Status</label>
            <!--<input type="text" data-role="text" id="status" name="status" class="form-control" placeholder="Status">-->
            <div class="dropdown">
                <select id="status_priority" name="status_priority" class="form-control">
                    <option value="2">Penting</option>
                    <option value="1">Agak Penting</option>
                    <option value="0">Tidak Penting</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="nip">Deskripsi</label>
                    <textarea type="text" data-role="text" id="description"
                              name="description" class="form-control" placeholder="Deskripsi"></textarea>
        </div>
        <div class="form-group">
            <label for="email">Nama Pelapor</label>
            <input type="text" data-role="text" id="name_informer" name="name_informer" class="form-control" placeholder="Nama Informan">
        </div>
    </div><!-- /.box-body -->

<!--    <div class="box-footer">-->
<!--        <button type="button" class="btn btn-primary" onclick="submitForm()">Simpan</button>-->
<!--        <button type="button" class="btn btn-primary" onclick="gotoList();">Keluar</button>-->
<!--    </div>-->
</form>
