<?php $this->partial("layouts/admin/header"); ?>
<script>

    $(function() {
        //$( "#datepicker" ).datepicker();
         $("#source-hide").prop('disabled', true);
             $("#source-hide").hide();
             $("#source-dropdown").prop('disabled', true);
             $("#source-dropdown").hide();
             $("#source-dropdown").html('');
        $("#datepicker").inputmask("datetime");
    });
    function filenameProfileImage() {
        var filename = document.forms["formData"].elements["detailfile"];
        var name_of_file = document.forms["formData"].elements["photo_complaint"];

        if (name_of_file.length == undefined) {
            name_of_file.value = filename.value;
        } else {
            for (var i = 0, len = filename.length; i < len; i++) {
                name_of_file[i].value = filename[i].value;
            }
        }
    }
    function gotoList(){
        location.href="<?php p_base_url();?>/admin/<?php echo $url;?>";
    }
    function loadForm(){
        var url = "<?php p_base_url();?>/admin/<?php echo $url;?>/get?id=<?php echo $id;?>";
        FormLoadByUrlJson(url,"formData");
        $.get(url, function (data) {
            var idSubDistrict = data.id_sub_district;
            var url = "<?php p_base_url();?>/admin/manual/get_sub_district?id_regency=" + data.id_regency;
            $.getJSON(url, function (data) {
                var showData;
                showData += "<option value='0'>Please select</option>";
                $.each(data, function (i, val) {
                    showData += "<option value=\"" + val.id + "\">" + val.nama + "</option>";
                });
                $('#sub_district').html(showData);
                $('#sub_district').val(idSubDistrict);
            });
            $( "#photo_complaint" ).val(data.photo_complaint);
        }, 'json');
    }
    function showResponse(response, statusText, xhr, $form)  {
        response = parseJson(response);
        if(response.isSuccess){
            gotoList();
        }else{
            showModalError(response.message);
        }
    }
    function showRequest(formData, jqForm, options) {

        return true;
    }
    var validateForm = {
        rules: {
            /*username: {
                required: true
            },
            password: {
                required: true
            },
            nama: {
                required: true
            }*/
        },
        messages: {
            /*username: {
                required: "Please enter a Username"
            },
            password: {
                required: "Please enter a Password"
            },
            nama: {
                required: "Please enter a Nama"
            }*/
        }
    };
    var optionsForm = {
        beforeSerialize: function($form, options) {
            var txtLocation = $('#location').val();
            $.ajax({
                type: 'GET',
                url: '<?php p_base_url("");?>/admin/manual/isLocationExist?txt_location='+txtLocation,
                success: function (data) {

                }
            });
//            if( $('#location').val().trim() != null ){
//
//            }
        },
        dataType:  'json',
        success: showResponse
    };
    function submitForm(){
        $("#formData").validate(validateForm);
        $('#formData').ajaxForm(optionsForm);
        $('#formData').submit();
    }
    $( document ).ready(function() {
        $(":input").inputmask();
        loadForm();
    });
</script>
<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
              <?php echo $labelForm;?>
            <small><?php echo $title;?></small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i><?php echo $labelForm;?></a></li>
            <li class="active"><?php echo $title;?></li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="box box-primary">
                        <div class="box-header">
                            <h3 class="box-title">Form <?php echo $title;?></h3>
                        </div><!-- /.box-header -->
                        <!-- form start -->
                        <form id="formData" role="form" method="post" action="<?php echo base_url()."/admin/".$url."/".$action;?>">
                            <div class="box-body">
                                <div class="form-group">
                                    <label>Gambar Pengaduan</label>
                                    <div class="media">
                                        <a href="javascript:void(0)" class="pull-left" style="padding:1px">
                                            <?php $data = \PgComplaint::findFirstById($id);
                                            if( !empty($data)) {
                                                if ($data->photo_complaint) { ?>
                                                    <img name="imgPhotoComplaint"
                                                         src="<?php p_base_url($data->photo_complaint) ?>" width="200">
                                                <?php } else { ?>
                                                    <img name="imgPhotoComplaint"
                                                         src="<?php $data->photo_complaint_social ?>" width="200">
                                                <?php }
                                            }?>
                                        </a>
                                        <div class="media-body">
                                            <div class="fileUpload btn btn-primary col-sm-12">
                                                <input type="file" name="detailfile" class="upload" onchange="filenameProfileImage()">
                                                <input class="form-control" type="text" id="photo_complaint" name="photo_complaint" style="height:32px" placeholder="Url Photo" readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password">Latitude</label>
                                    <input type="text" data-role="text" id="latitude" name="latitude" class="form-control" placeholder="Latitude">
                                </div>
                                <div class="form-group">
                                    <label for="password">Longitude</label>
                                    <input type="text" data-role="text" id="longitude" name="longitude" class="form-control" placeholder="Longitude">
                                </div>
                                <div class="form-group">
                                    <label>Kabupaten</label>
                                    <input type="hidden" name="id_regency">
                                    <div class="dropdown">
                                        <div>
                                            <?php
                                            echo $this->tag->select(array("id_regency", "id" => "regency",
                                                PgMstRegency::find(
                                                    array(
                                                        "conditions" => "id IN (3171, 3172, 3173, 3174, 3175)",
                                                        'order' => 'nama asc'
                                                    )
                                                ),
                                                "useEmpty" => false,
                                                "emptyText" => "Pilih Kabupaten",
                                                "class" => "form-control",
                                                "using" => array("id", "nama")
                                            ));?>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Kecamatan</label>
                                    <input type="hidden" name="id_sub_district">
                                    <div class="dropdown">
                                        <select name="id_sub_district" id="sub_district" class="form-control"></select>
                                    </div>
                                </div>
                                <?php if(empty($this->session->id_division)):?>
                                <div class="form-group">
                                    <label>Unit Terkait</label>
                                    <input type="hidden" name="id_division">
                                    <div class="dropdown">
                                        <div>
                                            <?php
                                            echo $this->tag->select(array("id_division", "id" => "division",
                                                PgDivision::find(
                                                    array(
                                                        'order' => 'name asc'
                                                    )
                                                ),
                                                "useEmpty" => false,
                                                "emptyText" => "Pilih Divisi",
                                                "class" => "form-control",
                                                "using" => array("id", "name")
                                            ));?>
                                        </div>
                                    </div>
                                </div>
                                <?php endif;?>
                                <div class="form-group">
                                    <label for="password">Lokasi</label>
                                    <textarea type="text" data-role="text" id="location" name="location" class="form-control" placeholder="Lokasi"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="password">Tag</label>
                                    <textarea type="text" data-role="text" id="tag" name="tag" class="form-control" placeholder="Tag"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="username">Kategori</label>
                                    <input type="hidden" name="id">
                                    <div class="dropdown">
                                        <div>
                                            <?php
                                                echo $this->tag->select(array("id_category", "id" => "id_category",
                                                PgCategoryComplaint::find(),
                                                "useEmpty" => false,
                                                "emptyText" => "Pilih Kategori",
                                                "class" => "form-control",
                                                "using" => array("id", "name"),
                                            ));?>
                                        </div>
                                    </div>
                                    <!--<input type="text" data-role="text" id="id_category"
                                           name="id_category" class="form-control" placeholder="Kategori">-->
                                </div>
                                <div class="form-group">
                                    <label for="password">Catatan Misi</label>
                                    <textarea type="text" data-role="text"
                                           id="notes_mission" name="notes_mission" class="form-control" placeholder="Catatan Misi"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="nip">Deskripsi</label>
                                    <textarea type="text" data-role="text" id="description"
                                              name="description" class="form-control" placeholder="Deskripsi"></textarea>
                                </div>
                                <div class="form-group hidden">
                                    <label for="nama">Status Prioritas</label>
                                    <!--<input type="text" data-role="text" id="status" name="status" class="form-control" placeholder="Status">-->
                                    <div class="dropdown">
                                        <select id="status_priority" name="status_priority" class="form-control">
                                            <option value="2">Penting</option>
                                            <option value="1">Agak Penting</option>
                                            <option value="0">Tidak Penting</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="nama">Status Proses</label>
                                    <!--<input type="text" data-role="text" id="status" name="status" class="form-control" placeholder="Status">-->
                                    <div class="dropdown">
                                        <select id="status_process" name="status_process" class="form-control">
                                            <option value="0">Menunggu</option>
                                            <option value="1">Diterima</option>
                                            <option value="2">Diproses</option>
                                            <option value="3">Tidak Bisa Ditindaklanjuti</option>
                                            <option value="4">Selesai</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="nama">Status Tindak Lanjut</label>
                                    <!--<input type="text" data-role="text" id="status" name="status" class="form-control" placeholder="Status">-->
                                    <div class="dropdown">
                                        <select id="status_process" name="status_respons_unit" class="form-control">
                                            <option value="0">Belum</option>
                                            <option value="1">Sudah</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email">Nama Pelapor</label>
                                    <input type="text" data-role="text" id="name_informer" name="name_informer" class="form-control" placeholder="Nama Pelapor">
                                </div>
                            <div class="form-group">
                                <label for="email">Tanggal Pengaduan</label>
<!--                                <input type="text" data-role="text"  id="time_reported" name="time_reported" class="form-control" placeholder="Tanggal Pengaduan">-->
<!--                                <input id="fromTgl" value="--><?php //echo date('d/m/Y'); ?><!--">-->
<!--                                    value="--><?php //echo date('m/d/Y'); ?><!--"-->
                                <input id="datepicker" name="time_reported" type="text"
                                       class="form-control" placeholder="Tanggal Pengaduan">
                             </div>
                             <div class="form-group">
                                <label for="email">Jalur Pengaduan</label>
                            
                                 <div class="dropdown">
                                     <div>
                                         <?php
                                         echo $this->tag->select(array("source", "id" => "source",
                                             \PgSource::find(),
                                             "useEmpty" => false,
                                             "emptyText" => "Pilih Source",
                                             "class" => "form-control",
                                             "using" => array("value", "text"),
                                         ));?>
                                     </div>
                                 </div>
<!--                                <select name="source" id="source" class="form-control">-->
<!--                                    --><?php
//                                    $sumber=\PgSource::find();
//                                    foreach ($sumber as $row) {?>
<!--                                        <option value="--><?php //echo $row->value?><!--">--><?php //echo $row->text?><!--</option>-->
<!--                                    --><?php //}
//                                    ?>
<!--                                </select>-->
                             </div>
                            </div><!-- /.box-body -->

                            <div class="box-footer">
                                <button type="button" class="btn btn-primary" onclick="submitForm()"><?php echo $labelSubmit;?></button>
                                <button type="button" class="btn btn-primary" onclick="gotoList();">Back</button>
                            </div>
                        </form>
                    </div><!-- /.box -->
                    </div>
                </div>

        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
<script>
    //======================= combo kec =====================
    $('#regency').change(function(){
        $('#sub_district').html('');
        var getValue= $(this).val();
        if(getValue == '0'){
            $('#sub_district').html('');
        }else {
            var url = "<?php p_base_url();?>/admin/manual/get_sub_district?id_regency=" + getValue;
            $.getJSON(url, function (data) {
                console.log(data);
                var showData;
                showData += "<option value='0'>Please select</option>";
                $.each(data, function (i, val) {
                    showData += "<option value=\"" + val.id + "\">" + val.nama + "</option>";
                });
                $('#sub_district').html(showData);
            });
        }
    });
</script>
<?php $this->partial("layouts/admin/footer"); ?>