<?php $this->partial("layouts/admin/header"); ?>
    <script>
        var editor; // use a global for the submit and return data rendering in the examples
        function confirmDelete(id){
            var message = "Do you want to delete this data?";
            showModalWarning(message,confirmDeleteAction,[id]);
        }

        function confirmDeleteAction(id){
            $.post("<?php p_base_url();?>/admin/<?php echo $url;?>/remove", {id: id}, function (data) {
                hideAllModal();
                showModalSuccess("Delete data is successfully !");
                reloadGrid();
            }, "json");
        }

        function gotoNew(){
            location.href="<?php p_base_url();?>/admin/<?php echo $url;?>/new";
        }

        function reloadGrid() {
            var table = $('#grid').DataTable();
                table.ajax.reload(function (json) {
                });
        }
        $(document).ready(function () {
            $('#grid').dataTable({
                "processing": true,
                "serverSide": true,
                "ajax": "<?php p_base_url();?>/admin/<?php echo $url;?>/list",
                "columns": [
                    { "data": "photo_complaint",
                        "render": function ( data, type, row ) {
                         if(data!=''){
                                var urls = data;
                                return '<img src="'+urls+'" width=75/>';
                            }else{
                                return '';
                            }
                        }
                    },
                    { "data": "time_reported",
                        "render":function ( data, type, row ) { return data;}  },
                    { "data": "name_informer", "render": function ( data, type, row ) { return data;}  },
                    { "data": "latitude", "render": function ( data, type, row ) { return data;} },
                    { "data": "longitude", "render": function ( data, type, row ) { return data;} },
                    { "data": "location", "render": function ( data, type, row ) { return data;} },
                    { "data": "name_category", "render": function ( data, type, row ) { return data;} },
                    { "data": "notes_mission", "render": function ( data, type, row ) { return data;}  },
//                    { "data": "label_status", "render": function ( data, type, row ) { return data;}  },
                    { "data": "label_status_process", "render": function ( data, type, row ) { return data;}  },
                    { "data": "label_status_respons_unit", "render": function ( data, type, row ) { return data;}  },
                    { "data": "description", "render": function ( data, type, row ) { return data;}  },

                    { "data": "source", "render": function ( data, type, row ) { return data;} },
                    { "data": "id", "render": function ( data, type, row ) {
                        return "<a href='<?php p_base_url();?>/admin/<?php echo $url;?>/edit?id="+data+"'>" +
                            "<?php if($this->session->isAdmin): ?><span style='font-size:24px' class='fa fa-pencil'></span>" +"</a>&nbsp;" +
                            "&nbsp;<a href='#' onclick='confirmDelete(\""+data+"\");'>" +
                            "<span class='fa fa-times' style='font-size:24px'></span></a><?php endif; ?>"+
                            "&nbsp;<a href='<?php p_base_url();?>/admin/<?php echo $url;?>/process?id="+data+"'>" +
                            "<span class='glyphicon glyphicon-send' style='font-size:24px'></span></a>";
                        }
                    }
                ]
            });
        });
    </script>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Daftar Pengaduan
                <small><?php echo $title; ?></small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>Master</a></li>
                <li class="active"><?php echo $title; ?></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Manual <?php echo $title; ?></h3>
                            <?php if($this->session->isAdmin): ?>
                            <p style="padding-top: 10px;">
                                <button type="button" class="btn btn-primary" onclick="gotoNew()"><i class="fa fa-plus"></i>&nbsp;Create</button>
                            </p>
                            <?php endif; ?>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">

                            <table id="grid" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th>Gambar</th>
                                    <th>Tgl Pengaduan</th>
                                    <th>Nama Pelapor</th>
                                    <th>Latitude</th>
                                    <th>Longitude</th>
                                    <th>Lokasi</th>
                                    <th>Kategori</th>
                                    <th>Catatan Misi</th>
<!--                                    <th>Status Prioritas</th>-->
                                    <th>Status Proses</th>
                                    <th>Status Tindak Lanjut</th>
                                    <th>Deskripsi</th>
                                    
                                    <th>Sumber</th>
                                    <th>Action.</th>
                                </tr>
                                </thead>
                            </table>

                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div><!-- /.content-wrapper -->
    <script>
        function doModal() {
            $('#row3_qlue').modal();
        }
    </script>
<?php $this->partial("layouts/admin/footer"); ?>