<?php $this->partial("layouts/quran/header"); ?>
<script>
    $(document).ready(function() {
        $('#tglLahir').datepicker({
            language:'EN',
            format: 'dd/mm/yyyy',
            pickSeconds: false,
            pick12HourFormat: false
        });
        $('.img-round').roundImage();
        $(":input").inputmask();
        loadForm();
    });

    var loadFile = function(event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
        filenameProfileImage();
    };
    function filenameProfileImage() {
        var filename = document.forms["formData"].elements["detailfile"];
        var name_of_file = document.forms["formData"].elements["text_url"];

        if (name_of_file.length == undefined) {
            name_of_file.value = filename.value;
        } else {
            for (var i = 0, len = filename.length; i < len; i++) {
                name_of_file[i].value = filename[i].value;
            }
        }
    }
    var doSetJnsKelamin = function(event, type) {
        var output = document.getElementById('output');
        var tipe = type;
        if( tipe == 1){
            output.src = "<?php base_url('img/unknown_member.png');?>";
        }else{
            output.src = URL.createObjectURL("<?php base_url('/img/email.png');?>");
        }
    }
    $(function() {
         $("#source-hide").prop('disabled', true);
             $("#source-hide").hide();
             $("#source-dropdown").prop('disabled', true);
             $("#source-dropdown").hide();
             $("#source-dropdown").html('');
    });

    function gotoList(){
        location.href="<?php p_base_url();?>/quran/<?php echo $url;?>";
    }
    function loadForm(){
        var url = "<?php p_base_url();?>/quran/<?php echo $url;?>/get?id=<?php echo $id;?>";
        $.get(url, function (data) {
            var idSubDistrict = data.id_sub_district;
            var url = "<?php p_base_url();?>/quran/manual/get_sub_district?id_regency=" + data.id_regency;
            $.getJSON(url, function (data) {
                var showData;
                showData += "<option value='0'>Please select</option>";
                $.each(data, function (i, val) {
                    showData += "<option value=\"" + val.id + "\">" + val.nama + "</option>";
                });
                $('#sub_district').html(showData);
                $('#sub_district').val(idSubDistrict);
            });
            $( "#text_url" ).val(data.path_medium);
        }, 'json');
        FormLoadByUrlJson(url,"formData");
    }
    function showResponse(response, statusText, xhr, $form)  {
        response = parseJson(response);
        if(response.isSuccess){
            gotoList();
        }else{
            showModalError(response.message);
        }
    }
    function showRequest(formData, jqForm, options) {

        return true;
    }
    var validateForm = {
        rules: {
            /*username: {
                required: true
            },
            password: {
                required: true
            },
            nama: {
                required: true
            }*/
        },
        messages: {
            /*username: {
                required: "Please enter a Username"
            },
            password: {
                required: "Please enter a Password"
            },
            nama: {
                required: "Please enter a Nama"
            }*/
        }
    };
    var optionsForm = {
        beforeSerialize: function($form, options) {
//            var txtLocation = $('#location').val();
//            $.ajax({
//                type: 'GET',
//                url: '<?php //p_base_url("");?>///quran/manual/isLocationExist?txt_location='+txtLocation,
//                success: function (data) {
//                }
//            });
        },
        dataType:  'json',
        success: showResponse
    };
    function submitForm1(){
        //$("#formData").validate(validateForm);
        $('#formData').ajaxForm(optionsForm);
        $('#formData').submit();
    }
</script>

<?php
    if( $is_edit ):
        $dataEdit = \SqBtqMentor::findFirstByIdCustomer($id);
    endif;
?>
<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Form&nbsp;-&nbsp;<?php echo $title; ?>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i><?php echo $labelForm;?></a></li>
            <li class="active"><?php echo $title;?></li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="box box-primary">
                        <!-- form start -->
                        <?php $data = \SqCustomer::findFirstById($id);?>
                        <form id="formData" role="form" method="post" action="<?php echo base_url()."/quran/".$url."/".$action;?>">
                            <input type="hidden" name="id">
                            <div class="box-body">
                                <div style="padding: 5px 0 5px 0;">
                                    <a class="btn btn-large btn-primary" href="<?php echo base_url("/quran/btq_pembimbing"); ?>"><i
                                            class="fa fa-step-backward"></i></a>
                                </div>

                                <div class="form-group">
                                    <div class="media">
                                        <div class="col-sm-3 text-center">
                                            <?php
                                            if( !empty($data->path_small)) : ?>
                                                <a href="javascript:void(0)"  style="padding:1px">
                                                    <img class="img-circle" name="imgPhotoComplaint"
                                                         src="<?php p_base_url($data->path_medium) ?>" alt="" width="150">
                                                </a>
                                            <?php else: ?>
                                                <a href="javascript:void(0)" style="padding:1px">
                                                    <img id="output" class="img-circle"
                                                         src="<?php p_base_url('/img/unknown_person.png') ?>" alt="" height="150">
                                                </a>
                                            <?php endif; ?>
<!--                                            <div class="radio">-->
<!--                                                <label><input value="1" type="radio" name="jns_kelamin" checked>IKHWAN</label>-->
<!--                                                <label><input value="2" type="radio" name="jns_kelamin">AKHWAT</label>-->
<!--                                            </div>-->
                                            <div class="panel-body" style="padding: 0;">
                                                <div class="fileUpload btn btn-primary col-sm-12" style="padding: 5px;">
                                                    <a style="color: #ff0000">*</a>Upload Pict.
                                                    <input type="file" name="detailfile" class="upload"
                                                           onchange="loadFile(event);">
                                                </div>
                                                <div class="col-sm-12 hidden" style="padding: 0px;">
                                                    <input class="form-control" type="text" id="text_url"
                                                           name="path_medium" style="height:32px"
                                                           placeholder="Url Photo" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            <div class="form-group col-sm-6" style="padding: 0;">
                                                    <label for="password">Nama Depan</label>&nbsp;<span style="color: #d62728;font-size: 8pt;">*)</span>
                                                    <input type="text" data-role="text" name="first_name" class="form-control" placeholder="Nama Depan">
                                                </div>
                                                <div class="form-group col-sm-6">
                                                    <label for="password">Nama Belakang</label>
                                                    <input type="text" data-role="text" name="last_name" class="form-control" placeholder="Nama Belakang">
                                                </div>
                                                <div class="form-group col-sm-6" style="padding: 0;">
                                                    <label>Tempat Lahir</label>&nbsp;<span style="color: #d62728;font-size: 8pt;">*)</span>
                                                    <input type="text" data-role="text" name="tempat_lahir" class="form-control" placeholder="Tempat Lahir">
                                                </div>
                                                <div class="form-group col-sm-6" >
                                                    <label>Tgl. Lahir</label>&nbsp;<span style="color: #d62728;font-size: 8pt;">*)</span>
                                                    <input id="tglLahir" name="tgl_lahir" type="text" class="form-control date" placeholder="Tanggal Lahir">
                                                </div>
                                                <div class="form-group col-sm-6" style="padding: 0;">
                                                    <label>Jenis Kelamin</label>&nbsp;<span style="color: #d62728;font-size: 8pt;">*)</span>
                                                    <div class="dropdown">
                                                        <select id="jns_kelamin" name="jns_kelamin" class="form-control">
                                                            <option value="1">IKHWAN</option>
                                                            <option value="0">AKHWAT</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-6">
                                                    <label>Gol. Darah</label>&nbsp;<span style="color: #d62728;font-size: 8pt;">*)</span>
                                                    <div class="dropdown">
                                                        <select id="gol_darah" name="gol_darah" class="form-control">
                                                            <option value="1"><?php echo GolDarah::getString(1);?></option>
                                                            <option value="2"><?php echo GolDarah::getString(2);?></option>
                                                            <option value="3"><?php echo GolDarah::getString(3);?></option>
                                                            <option value="4"><?php echo GolDarah::getString(4);?></option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group col-sm-12" style="padding: 0;">
                                                    <label>Amanah</label>&nbsp;<span style="color: #d62728;font-size: 8pt;">*)</span>
                                                    <div class="dropdown">
                                                        <select id="status_penugasan" name="status_penugasan" class="form-control">
                                                            <option value="5"><?php echo TypeCustomer::getStringStatus(5);?></option>
                                                            <option value="66"><?php echo TypeCustomer::getStringStatus(66);?></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!--end div media-body-->
                                    </div><!--end div media-->
                                    <!--=====================================================-->
                                    <div class="form-group">
                                        <label>Pekerjaan</label>
                                        <input name="pekerjaan" type="text"
                                               class="form-control" placeholder="Pekerjaan">
                                    </div>
                                    <div class="form-group col-sm-12" style="padding: 0;">
                                        <label>Pendidikan</label>&nbsp;<span style="color: #d62728;font-size: 8pt;">*)</span>
                                        <input id="pendidikan" name="pendidikan" type="text" class="form-control" placeholder="Nama Univeristas/ Lembaga Pendidikan"
                                               value='<?php echo empty($dataEdit) ? "": $dataEdit->pendidikan; ?>'>
                                    </div>
                                    <!--<div class="form-group col-sm-6" style="padding: 0;">
                                        <label>Jurusan</label>&nbsp;<span style="color: #d62728;font-size: 8pt;">*)</span>
                                        <input id="jurusan" name="jurusan" type="text" class="form-control" placeholder="Fakultas/ Jurusan"
                                               value='<?php /*echo empty($dataEdit) ? " ": $dataEdit->jurusan; */?>'>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>Peminatan</label>&nbsp;<span style="color: #d62728;font-size: 8pt;">*)</span>
                                        <input id="peminatan" name="peminatan" type="text" class="form-control" placeholder="Peminatan/ Spesialist (Jika Ada)"
                                               value='<?php /*echo empty($dataEdit) ? " ": $dataEdit->peminatan; */?>'>
                                    </div>
                                    <div class="form-group col-sm-12" style="padding: 0;">
                                        <label>Skill Khusus</label>&nbsp;<span style="color: #d62728;font-size: 8pt;">Lebih dari 1 pisahkan dengan koma.</span>
                                                <textarea id="skill_khusus" name="skill_khusus" type="text"
                                                          class="form-control" placeholder="Kemampuan khusus yang dimiliki"></textarea>
                                    </div>-->
                                    <div class="form-group col-sm-6" style="padding: 0;">
                                        <label>Kontak</label>&nbsp;<span style="color: #d62728;font-size: 8pt;">*)</span>
                                        <input name="mobile" type="text" class="form-control" placeholder="+62813...">
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label>Email</label>&nbsp;<span style="color: #d62728;font-size: 8pt;">*)</span>
                                        <input name="email" type="email"
                                               class="form-control" placeholder="Email">
                                    </div>
                                <div class="form-group col-sm-12" style="padding: 0;">
                                    <label>Alamat</label>
                                    <textarea name="alamat" type="text" class="form-control" placeholder="Alamat"></textarea>
                                </div>
                                    <div class="form-group">
                                        <label>Status Menikah</label>
                                        <div class="dropdown">
                                            <select id="sts_nikah" name="sts_nikah" class="form-control">
                                                <option value="0">Belum</option>
                                                <option value="1">MENIKAH</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Hobi</label>
                                        <textarea id="hobi" name="hobi" type="text" class="form-control" placeholder="Hobi 1, Hobi 2, Hobi 3"><?php echo empty($dataEdit) ? "": $dataEdit->hobi; ?></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>Status Aktif</label>
                                        <div class="dropdown">
                                            <select id="sts_aktif" name="sts_aktif" class="form-control">
                                                <option value="0">TIDAK AKTIF</option>
                                                <option value="1" selected>AKTIF</option>
                                            </select>
                                        </div>
                                    </div>
                                    <?php if(!$is_edit): ?>
                                    <div class="form-group">
                                        <label>Buat Akun ?</label>
                                        <div class="dropdown">
                                            <select id="create_account" name="create_account" class="form-control">
                                                <option value="0" selected>TIDAK</option>
                                                <option value="1">YA</option>
                                            </select>
                                        </div>
                                    </div>
                                    <?php endif; ?>
                                </div>
                            </div><!-- /.box-body -->

                            <div class="box-footer">
                                <button type="button" class="btn btn-primary" onclick="submitForm1()"><?php echo $labelSubmit;?></button>
                            </div>
                        </form>
                    </div><!-- /.box -->
                    </div>
                </div>
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
<script>
    //======================= combo kec =====================
    $('#regency').change(function(){
        $('#sub_district').html('');
        var getValue= $(this).val();
        if(getValue == '0'){
            $('#sub_district').html('');
        }else {
            var url = "<?php p_base_url();?>/quran/manual/get_sub_district?id_regency=" + getValue;
            $.getJSON(url, function (data) {
                console.log(data);
                var showData;
                showData += "<option value='0'>Please select</option>";
                $.each(data, function (i, val) {
                    showData += "<option value=\"" + val.id + "\">" + val.nama + "</option>";
                });
                $('#sub_district').html(showData);
            });
        }
    });
</script>
<?php $this->partial("layouts/quran/footer"); ?>