<?php $this->partial("layouts/quran/header"); ?>
<style>

</style>
    <script>
        var editor; // use a global for the submit and return data rendering in the examples

        function confirmDelete(id){
            var message = "Do you want to delete this data?";
            showModalWarning(message,confirmDeleteAction,[id]);
        }

        function confirmDeleteAction(id){
            $.post("<?php p_base_url();?>/quran/<?php echo $url;?>/remove", {id: id}, function (data) {
                hideAllModal();
                //showModalSuccess("Delete data is successfully !");
                reloadGrid();
            }, "json");
        }

        function gotoNew(){
            location.href="<?php p_base_url();?>/quran/<?php echo $url;?>/new";
        }

        function reloadGrid() {
            var table = $('#grid').DataTable();
                table.ajax.reload(function (json) {
                });
        }
        $(document).ready(function () {
            $('#img').corner();
            $('#grid').dataTable({
                "processing": true,
                "serverSide": true,
                "ajax": "<?php p_base_url();?>/quran/<?php echo $url;?>/list",
                "columns": [
                    { "data": "id", "render": function ( data, type, row ) {
                        return "<a href='<?php p_base_url();?>/quran/<?php echo $url;?>/edit?id="+data+"&isedit=true'>" +
                            "<?php if($this->session->isAdmin): ?><span style='font-size:24px' class='fa fa-pencil'></span>" +"</a>&nbsp;" +
                            "&nbsp;" +
                            "<a href='#' onclick='confirmDelete(\""+data+"\");'>" +
                            "<span class='fa fa-times' style='font-size:24px'></span></a><?php endif; ?>"+
                            "</a>";
                    }},
                    { "data": "path_small",
                        "render": function ( data, type, row ) {
                            if(data != ''){
                                var urls = data;
                                return '<a style="cursor:pointer;" onclick="doOpenDetil(\''+row.id+'\')">' +
                                    '<div class="userprofile">'+
                                    '<div style="background-image:url(\''+'<?php echo base_url(); ?>'+urls+'\');"'+
                                    'class="mypic" id="mypic">'+
                                    '<span class="glow">&nbsp;</span></div>'+'</div></a>';
                            }else{
                                return '';
                            }
                        }},

//                    { "data": "created_date", "render":function ( data, type, row ) { return data;}  },
                    //{ "data": "update_date", "render":function ( data, type, row ) { return data;}  },

                    { "data": "first_name", "render": function ( data, type, row ) { return data;}  },
                    { "data": "status", "render": function ( data, type, row ) { return data;} },
                    { "data": "mobile", "render": function ( data, type, row ) { return data;} },
                    { "data": "email", "render": function ( data, type, row ) { return data;} }
//                    { "data": "alamat", "render": function ( data, type, row ) { return data;}  },
                    //{ "data": "ttl", "render": function ( data, type, row ) { return data;}  },
//                    { "data": "asal_sekolah", "render": function ( data, type, row ) { return data;} },
//                    { "data": "is_membina", "render": function ( data, type, row ) { return data;} }
//                    { "data": "notes_mission", "render": function ( data, type, row ) { return data;}  },
//                    { "data": "label_status_process", "render": function ( data, type, row ) { return data;}  },
//                    { "data": "label_status_respons_unit", "render": function ( data, type, row ) { return data;}  },
//                    { "data": "description", "render": function ( data, type, row ) { return data;}  },

//                    { "data": "source", "render": function ( data, type, row ) { return data;} },

                ]
            });//end grdi
        });
    </script>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                <?php echo $title; ?>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>Master</a></li>
                <li class="active"><?php echo $title; ?></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <!--<div class="row">
                <?php
/*                    $conditions = "tipe in (:sts1:,:sts2:,:sts3:,:sts4:,:sts5:,:sts6:)";
                    $bind["sts1"] = null;
                    $bind["sts2"] = \TypeCustomer::$MEMBER_OUTSOURCE;
                    $bind["sts3"] = null;
                    $bind["sts4"] = null;
                    $bind["sts5"] = null;
                    $bind["sts6"] = null;
                    $listData = \SqCustomer::find(array(
                        "conditions"=>$conditions,
                        "bind"=>$bind
                    ));
                foreach ($listData as $objData) {
                    echo $this->partial("admin/btq_pembimbing/pin_pembimbing", array("key1" => $objData, "key2" => null));
                }
                */?>
            </div>-->
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div style="padding: 5px 0 5px 0;">
                                <?php if(!$this->session->isAdmin): ?>
                                    <button title="Data Baru" type="button" class="btn btn-primary" onclick="gotoNew()">
                                        <i class="fa fa-plus"></i></button>
                                <?php endif; ?>
                            </div>
                            <div style="padding: 5px;">
                                <table id="grid" class="table table-striped dt-responsive table-bordered"
                                       cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>Action.</th>
                                        <th>Poto</th>
                                        <!--<th>Tgl. Update</th>-->
                                        <th>Nama</th>
                                        <th>Status</th>
                                        <!--<th>TTL</th>-->
                                        <th>Kontak</th>
                                        <th>Email</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div><!-- /.content-wrapper -->
<script>
    function doOpenDetil($idCustomer){
        var aidi = $idCustomer;
        $('#mymodal').modal('show');
        $('#mymodal .modal-title').html('Detil Info Pembimbing/ Panitia');
        $('#mymodal .modal-body').load('<?php PartialLibrary::p_load('quran/partial/form_detail_btq_pembimbing') ?>',
            {id: aidi}, function (html) {
                $('#mymodal .modal-body').html(html);
            });
    }
</script>
<?php $this->partial("layouts/quran/footer"); ?>