<?php $this->partial("layouts/admin/header"); ?>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">

        </section>
    </div>
<?php $this->partial("layouts/admin/footer"); ?>