<?php $this->partial("layouts/admin/header"); ?>
<script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=false"></script><script> base_url='<?php echo base_url()?>';</script>
    <div class="content-wrapper">
        <section class="content">
     <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

    <div id="gmap_canvas" style="height:550px;width:100%;">
    <style>
        #gmap_canvas img {
            max-width: none!important;
            background: none!important
        }
    </style>
</div>
<script type="text/javascript">
      var map;
	  var markers = [];
    function init_map() {
    	var bounds = new google.maps.LatLngBounds();
    	infowindow = new google.maps.InfoWindow({ maxWidth: 480 });
        var myOptions = {
            zoom: 14,
            center: new google.maps.LatLng(-6.2297465, 106.829518),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions);
        $.ajax({
            type: "POST",
			dataType: "json",
			url:base_url+'/admin/map/pin',
            success: function(data)
            {
				var items=[];
				$.each( data, function( key, val ) {
				
				var blueIcon ="http://www.google.com/intl/en_us/mapfiles/ms/micons/blue-dot.png";
				
				var dataIcon;
				dataIcon=blueIcon;
                            if(val.x_coord!=''){
			    var latLng = new google.maps.LatLng(val.x_coord,val.y_coord); 
				 bounds.extend(latLng);
		        var marker = new google.maps.Marker({
		            position: latLng,
		            map: map,
					icon:dataIcon});
				 	markers.push(marker);
				 	bindInfoWindowAjax(marker,map, infowindow,val.id);
                         }		
      			 });

				    map.fitBounds(bounds);
					map.panToBounds(bounds);  
	  	
	  			} 
	 
	    	});
       
    }
    function bindInfoWindowAjax(marker,map, infowindow,id) {	
		google.maps.event.addListener(marker, 'click', function() {
	  var url_data;
	  url_data=base_url+'/admin/map/detail';
	  $.ajax({
            type: "POST",
			dataType: "json",
			url:url_data,
			data:{
			id:id
			},
            success: function(data)
            {
			$.each(data, function( key, val ) {
			var strDescription='';
		 	strDescription='<table>';
		 	strDescription +='<tr><td>Tanggal Pengaduan</td><td>:</td><td>'+val.time_reported+'</td></tr>';
		 	strDescription +='<tr><td>Kategori</td><td>:</td><td>'+val.category+'</td></tr>';
		 	strDescription +='<tr><td>Lokasi</td><td>:</td><td>'+val.location+'</td></tr>';
		 	strDescription +='<tr><td>deskripsi</td><td>:</td><td>'+val.description+'</td></tr>';
		 	strDescription +='<tr><td>Nama Pemberi Informasi</td><td>:</td><td>'+val.name_informer+'</td></tr>';
		 	strDescription +='<tr><td>Sumber Data</td><td>:</td><td>'+val.source+'</td></tr>';
		 	strDescription +='<tr><td>Foto</td><td>:</td><td>'+val.photoComplaint+'<br/>'+val.photoSocial+'</td></tr>';
		 	strDescription +='<table>';

		   
		   infowindow.setContent(strDescription);
	       infowindow.open(map, marker);
	   });
	   }
	
	
	});
}); 
}
    google.maps.event.addDomListener(window, 'load', init_map);
</script>

        </section>
    </div>
 <?php $this->partial("layouts/admin/footer"); ?>