<?php $this->partial("layouts/admin/header"); ?>
    <script>
        $(document).ready(function () {
            //var TODAY = '<?php echo \DateTimeLibrary::add_days_by_date(0,date("Y-m-d"),'d/m/Y');?>';
            $('.tglBentukTglAkhir').datepicker({
                language: 'EN',
                format: 'dd/mm/yyyy',
                pickSeconds: false,
                pick12HourFormat: false
            });
            //$("#tglLahir").val(TODAY);

            $('.img-round').roundImage();
            $(":input").inputmask();
            loadForm();
            $('input[name="jns_kelamin"]').change(function () {
                if ($(this).val() == 1) {
                    $('#output').attr("src", "<?php p_base_url()?>/img/unknown_member.png");
                } else {
                    $('#output').attr("src", "<?php p_base_url()?>/img/unknown_member_akhwat.png");
                }
            });
        });

        var loadFile = function (event) {
            var output = document.getElementById('output');
            output.src = URL.createObjectURL(event.target.files[0]);
            filenameProfileImage();
        };

        function filenameProfileImage() {
            var filename = document.forms["formData"].elements["detailfile"];
            var name_of_file = document.forms["formData"].elements["text_url"];

            if (name_of_file.length == undefined) {
                name_of_file.value = filename.value;
            } else {
                for (var i = 0, len = filename.length; i < len; i++) {
                    name_of_file[i].value = filename[i].value;
                }
            }
        }

        $(function () {
            $("#source-hide").prop('disabled', true);
            $("#source-hide").hide();
            $("#source-dropdown").prop('disabled', true);
            $("#source-dropdown").hide();
            $("#source-dropdown").html('');
        });

        function loadForm() {
            var url = "<?php p_base_url();?>/admin/<?php echo $url;?>/get?id=<?php echo $id;?>";
            $.get(url, function (data) {
                var idSubDistrict = data.id_sub_district;
                var url = "<?php p_base_url();?>/admin/manual/get_sub_district?id_regency=" + data.id_regency;
                $.getJSON(url, function (data) {
                    var showData;
                    showData += "<option value='0'>Please select</option>";
                    $.each(data, function (i, val) {
                        showData += "<option value=\"" + val.id + "\">" + val.nama + "</option>";
                    });
                    $('#sub_district').html(showData);
                    $('#sub_district').val(idSubDistrict);
                });
                $("#text_url").val(data.path_medium);
            }, 'json');
            FormLoadByUrlJson(url, "formData");
        }
        function showResponse(response, statusText, xhr, $form) {
            response = parseJson(response);
            if (response.isSuccess) {
                gotoList();
            } else {
                showModalError(response.message);
            }
        }
        function showRequest(formData, jqForm, options) {

            return true;
        }
        var validateForm = {
            rules: {
                id_pimpinan: {
                    required: true
                },
                nama: {
                    required: true
                },
                tglBentuk: {
                    required: true
                }
            },
            messages: {
                id_pimpinan: {
                    required: "Please enter a Username"
                },
                nama: {
                    required: "Please enter a Password"
                },
                tglBentuk: {
                    required: "Please enter a Nama"
                }
            }
        };
        var optionsForm = {
            beforeSerialize: function ($form, options) {
//            var txtLocation = $('#location').val();
//            $.ajax({
//                type: 'GET',
//                url: '<?php //p_base_url("");?>///admin/manual/isLocationExist?txt_location='+txtLocation,
//                success: function (data) {
//                }
//            });
            },
            dataType: 'json',
            success: showResponse
        };
        function submitFormTim() {
            //$("#formData").validate(validateForm);
            $('#formData').ajaxForm(optionsForm);
            $('#formData').submit();
        }
    </script>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                <button title="Kembali" type="button"
                        class="btn btn-primary" onclick="gotoList();"><i class="fa fa-step-backward"></i></button>
                Form&nbsp;-&nbsp;<?php echo $title; ?>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i><?php echo $labelForm; ?></a></li>
                <li class="active"><?php echo $title; ?></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="box box-primary">
                        <form id="formData" role="form" method="post" action="<?php echo base_url() . "/admin/" . $url . "/" . $action; ?>">
                            <input type="hidden" name="id">
                            <div class="box-body">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-12 text-center">
                                            <?php $data = \SqTim::findFirstById($id);
                                            if( !empty($data->path_small)) : ?>
                                                <a href="javascript:void(0)" class="thumbnail">
                                                    <img class="img-rounded" name="imgPhotoComplaint" style="width:200px;"
                                                         src="<?php p_base_url($data->path_medium) ?>" alt="" width="150">
                                                </a>
                                            <?php else: ?>
                                                <a href="javascript:void(0)" class="thumbnail">
                                                    <img id="output" class="img-rounded" style="width:200px;"
                                                         src="<?php p_base_url('/img/unknown_tim.png') ?>" alt="" height="150">
                                                </a>
                                            <?php endif; ?>
                                            <div class="row" style="margin-top: -20px;">
                                                <div class="fileUpload btn btn-primary" style="padding: 5px;">
                                                    <span class="fa fa-upload">&nbsp;UPLOAD</span>
                                                    <input type="file" name="detailfile" class="upload" onchange="loadFile(event);">
                                                </div>
                                                <div class="hidden">
                                                    <input class="form-control" type="text" id="text_url" name="path_medium" style="height:32px" placeholder="Url Photo" readonly>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label>Pembimbing</label>
                                        <div class="dropdown">
                                            <div>
                                                <?php
                                                echo $this->tag->select(array("id_pimpinan", "id" => "id_pimpinan",
                                                    \SqCustomer::find(array(
                                                        "is_membina=1",
                                                        "order" => "update_date DESC"
                                                    )),
                                                    "useEmpty" => true,
                                                    "emptyText" => "-Pilih Pembimbing-",
                                                    "class" => "form-control",
                                                    "using" => array("id", "first_name")
                                                )); ?>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label>Nama Kelompok</label>
                                        <input name="nama" type="text" data-role="text" class="form-control"
                                               placeholder="Nama Kelompok">
                                    </div>
                                    <div class="form-group col-sm-6" >
                                        <label>Tgl. Bentuk</label>
                                        <input id="tglBentuk" name="tgl_bentuk" type="text"
                                               class="form-control date tglBentukTglAkhir"
                                               placeholder="Tanggal Bentuk">
                                    </div>
                                    <div class="form-group col-sm-6" >
                                        <label>Tgl. Berakhir</label>
                                        <input id="tglBerakhir" name="tgl_berakhir" type="text"
                                               class="form-control date tglBentukTglAkhir"
                                               placeholder="Tanggal Lahir">
                                    </div>
                                    <div class="form-group col-sm-12" >
                                        <label>Tipe Tim</label><span style="color: #d62728;font-size: 8pt;">*)</span>
                                        <div class="dropdown">
                                            <select id="tipe" name="tipe" class="form-control">
                                                <option value="100"><?php echo TipeTim::getString(100);?></option>
                                                <option value="101"><?php echo TipeTim::getString(101);?></option>
                                                <option value="102"><?php echo TipeTim::getString(102);?></option>
                                                <option value="103"><?php echo TipeTim::getString(103);?></option>
                                                <option value="104"><?php echo TipeTim::getString(104);?></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <label>Keterangan</label><span style="color: #d62728;font-size: 8pt;">*)</span>
                                        <textarea name="ket" type="text" class="form-control" placeholder="Keterangan" maxlength="200"></textarea>
                                    </div>
                                    <!--end div media-->
                                    <!--=====================================================-->
                                </div>
                            </div>
                            <!-- /.box-body -->

                            <div class="box-footer">
                                <button type="button" class="btn btn-primary"
                                        onclick="submitFormTim()"><?php echo $labelSubmit; ?></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </section>
        <!-- /.content -->
    </div><!-- /.content-wrapper -->
    <script>
        function gotoList() {
            location.href = "<?php p_base_url();?>/admin/<?php echo $url;?>";
        }
        //======================= combo kec =====================
        $('#id_pimpinan').change(function () {
            $('#daftarBinaan').html('');
            var getValue = $(this).val();
            $('#id_pimpinan').val(getValue);

            if (getValue == '0') {
                $('#daftarBinaan').html('');
                $('#id_pimpinan').val('');
            } else {
                var url = "<?php p_base_url();?>/admin/tim/getBinaan?id_mr=" + getValue;
                $.getJSON(url, function (data) {
                    var showData = "";
                    //showData += "<label value='0'></label>";
                    $.each(data, function (i, val) {
                        console.log('<?php echo p_base_url(); ?>' + val.path_small);
                        //showData += "<option value=\"" + val.id + "\">" + val.first_name + "</option>";
                        showData += '<div>'
                            + '<img class="img-circle" width="50" src="<?php echo p_base_url(); ?>' + val.path_small + '">'
                            + '&nbsp;<label value=\"' + val.id + '\">' + val.first_name + '</label>'
                            + '<div></br>';
                    });
                    $('#daftarBinaan').html(showData);
                });
            }
        });
    </script>
<?php $this->partial("layouts/admin/footer"); ?>