<?php $this->partial("layouts/admin/header"); ?>
    <script>
        var editor; // use a global for the submit and return data rendering in the examples

        function confirmDelete(id) {
            var message = "Apakah antum ingin menghapus data Tim ini? Data anggota tim juga akan dihapus.";
            showModalWarning(message, confirmDeleteAction, [id]);
        }

        function confirmDeleteAction(id) {
            $.post("<?php p_base_url();?>/admin/<?php echo $url;?>/remove", {id: id}, function (data) {
                hideAllModal();
                reloadGrid();
            }, "json");
        }

        function gotoNew() {
            location.href = "<?php p_base_url();?>/admin/<?php echo $url;?>/new";
        }

        function reloadGrid() {
            var table = $('#grid').DataTable();
            table.ajax.reload(function (json) {
            });
        }
        $(document).ready(function () {
            $('#img').corner();
            $('#grid').dataTable({
                "processing": true,
                "serverSide": true,
                "ajax": "<?php p_base_url();?>/admin/<?php echo $url;?>/list",
                "columns": [
                    {
                        "data": "id", "render": function (data, type, row) {
                        return "<a href='<?php p_base_url();?>/admin/<?php echo $url;?>/edit?id=" + data +
                            "&id_mr=<?php echo $this->session->id_customer; ?>'>" +
                            "<?php if($this->session->isAdmin || $this->session->id_customer): ?>"+
                                "<span style='font-size:24px' class='fa fa-pencil'></span>" + "</a>&nbsp;" +
                                "&nbsp;<a href='#' onclick='confirmDelete(\"" + data + "\");'>" +
                                "<span class='fa fa-times' style='font-size:24px'></span></a>"+
                            "<?php endif; ?></a>";
                        }
                    },
                    {"data": "path_small",
                        "render": function (data, type, row) {
                            if (data != '') {
                                var urls = data;
                                return '<a style="cursor:pointer;" onclick="doOpenDetil(\'' + row.id + '\')"><div class="userprofile">' +
                                    '<img src=<?php echo base_url(); ?>'+urls +' class="img-circle" width="50px" </img>';
                            } else {
                                return '';
                            }
                        }
                    },
                    {"data": "nama_tim", "render": function (data, type, row) {return data;}},
                    /*{"data": "pimpinan", "render": function (data, type, row) {return data;}},*/
                    {"data": "tgl_bentuk", "render": function (data, type, row) {return data;}},
                    {"data": "jml_anggota", "render": function (data, type, row) {return '<a href="#" onclick="doOpenDetil(\'' + row.id + '\')">'+
                        '<img class="img-circle" src="<?php p_base_url();?>/img/unknown_person.png" width=15>&nbsp;'+data+' orang';
                    }},
//                    {"data": "jml_anggota", "render": function (data, type, row) {return data;}},
                ]
            });//end grdi
        });
    </script>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1><?php echo $title ?></h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>Master</a></li>
                <li class="active"><?php echo $title; ?></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-body">
                            <a class="button glyphicon glyphicon-plus"
                               tooltips="Usaha/ Bisnis" onclick="doOpenFormTimUser()"
                               title="Usaha/ Bisnis" href="javascript::void"></a>
                            <div style="padding: 5px;">
                                <table id="grid" class="table table-bordered dt-responsive" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Action.</th>
                                            <th>Logo</th>
                                            <th>Nama Kelompok</th>
                                            <!--<th>Nama MR/Mas'ul</th>-->
                                            <th>Tgl. Bentuk</th>
                                            <th>Jml Anggota</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div><!-- /.content-wrapper -->
    <script>
        function doOpenDetil($idCustomer) {
            var aidi = $idCustomer;
//            $('#mymodal .modal-title').html('Detil Binaan');
//            $('#mymodal .modal-body').load('<?php //PartialLibrary::p_load('admin/partial/form_detail_customer') ?>//',
//                {id: aidi}, function (html) {
//                    $('#mymodal .modal-body').html(html);
//                });
//            $('#mymodal').modal('show');
            location.href = "<?php p_base_url();?>/admin/tim_anggota/index?id_kelompok="+aidi;
        }
        function doOpenFormTimUser(){
            $('#mymodal').modal('show');
            $('#mymodal .modal-title').html('Form Input Data Tim');
            $('#mymodal .modal-body').load('<?php PartialLibrary::p_load('admin/partial/form_new_tim_user') ?>',
                {id: null}, function (html) {
                    $('#mymodal .modal-body').html(html);
                });
        }
    </script>
<?php $this->partial("layouts/admin/footer"); ?>