<?php $this->partial("layouts/admin/header"); ?>
    <script>
        $(document).ready(function () {
            //var TODAY = '<?php echo \DateTimeLibrary::add_days_by_date(0,date("Y-m-d"),'d/m/Y');?>';
            $('.tglBentukTglAkhir').datepicker({
                language: 'EN',
                format: 'dd/mm/yyyy',
                pickSeconds: false,
                pick12HourFormat: false
            });
            //$("#tglLahir").val(TODAY);

            $('.img-round').roundImage();
            $(":input").inputmask();
            loadForm();
            $('input[name="jns_kelamin"]').change(function () {
                if ($(this).val() == 1) {
                    $('#output').attr("src", "<?php p_base_url()?>/img/unknown_member.png");
                } else {
                    $('#output').attr("src", "<?php p_base_url()?>/img/unknown_member_akhwat.png");
                }
            });
        });
        function gotoList() {
            location.href = "<?php p_base_url();?>/admin/<?php echo $url;?>";
        }
        var loadFile = function (event) {
            var output = document.getElementById('output');
            output.src = URL.createObjectURL(event.target.files[0]);
            filenameProfileImage();
        };
        function filenameProfileImage() {
            var filename = document.forms["formData"].elements["detailfile"];
            var name_of_file = document.forms["formData"].elements["text_url"];

            if (name_of_file.length == undefined) {
                name_of_file.value = filename.value;
            } else {
                for (var i = 0, len = filename.length; i < len; i++) {
                    name_of_file[i].value = filename[i].value;
                }
            }
        }
        $(function () {
            $("#source-hide").prop('disabled', true);
            $("#source-hide").hide();
            $("#source-dropdown").prop('disabled', true);
            $("#source-dropdown").hide();
            $("#source-dropdown").html('');
        });
    </script>
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                <button type="button" class="btn btn-primary fa fa-mail-reply-all" onclick="gotoList();"></button>
                Form&nbsp;-&nbsp;<?php echo $title; ?>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i><?php echo $labelForm; ?></a></li>
                <li class="active"><?php echo $title; ?></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-3">

                    <!-- Profile Image -->
                    <div class="box box-primary">
                        <div class="box-body box-profile">
                            <img alt="User profile picture" src="./AdminLTE 2 _ User Profile_files/user4-128x128.jpg" class="profile-user-img img-responsive img-circle">
                            <h3 class="profile-username text-center">Nina Mcintire</h3>
                            <p class="text-muted text-center">Software Engineer</p>

                            <ul class="list-group list-group-unbordered">
                                <li class="list-group-item">
                                    <b>Followers</b> <a class="pull-right">1,322</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Following</b> <a class="pull-right">543</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Friends</b> <a class="pull-right">13,287</a>
                                </li>
                            </ul>

                            <a class="btn btn-primary btn-block" href="https://almsaeedstudio.com/themes/AdminLTE/pages/examples/profile.html#"><b>Follow</b></a>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->

                    <!-- About Me Box -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">About Me</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <strong><i class="fa fa-book margin-r-5"></i>  Education</strong>
                            <p class="text-muted">
                                B.S. in Computer Science from the University of Tennessee at Knoxville
                            </p>

                            <hr>

                            <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>
                            <p class="text-muted">Malibu, California</p>

                            <hr>

                            <strong><i class="fa fa-pencil margin-r-5"></i> Skills</strong>
                            <p>
                                <span class="label label-danger">UI Design</span>
                                <span class="label label-success">Coding</span>
                                <span class="label label-info">Javascript</span>
                                <span class="label label-warning">PHP</span>
                                <span class="label label-primary">Node.js</span>
                            </p>

                            <hr>

                            <strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div><!-- /.col -->
                <div class="col-md-9">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="https://almsaeedstudio.com/themes/AdminLTE/pages/examples/profile.html#activity">Activity</a></li>
                            <li><a data-toggle="tab" href="https://almsaeedstudio.com/themes/AdminLTE/pages/examples/profile.html#timeline">Timeline</a></li>
                            <li><a data-toggle="tab" href="https://almsaeedstudio.com/themes/AdminLTE/pages/examples/profile.html#settings">Settings</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="activity" class="active tab-pane">
                                <!-- Post -->
                                <div class="post">
                                    <div class="user-block">
                                        <img alt="user image" src="./AdminLTE 2 _ User Profile_files/user1-128x128.jpg" class="img-circle img-bordered-sm">
                        <span class="username">
                          <a href="https://almsaeedstudio.com/themes/AdminLTE/pages/examples/profile.html#">Jonathan Burke Jr.</a>
                          <a class="pull-right btn-box-tool" href="https://almsaeedstudio.com/themes/AdminLTE/pages/examples/profile.html#"><i class="fa fa-times"></i></a>
                        </span>
                                        <span class="description">Shared publicly - 7:30 PM today</span>
                                    </div><!-- /.user-block -->
                                    <p>
                                        Lorem ipsum represents a long-held tradition for designers,
                                        typographers and the like. Some people hate it and argue for
                                        its demise, but others ignore the hate as they create awesome
                                        tools to help create filler text for everyone from bacon lovers
                                        to Charlie Sheen fans.
                                    </p>
                                    <ul class="list-inline">
                                        <li><a class="link-black text-sm" href="https://almsaeedstudio.com/themes/AdminLTE/pages/examples/profile.html#"><i class="fa fa-share margin-r-5"></i> Share</a></li>
                                        <li><a class="link-black text-sm" href="https://almsaeedstudio.com/themes/AdminLTE/pages/examples/profile.html#"><i class="fa fa-thumbs-o-up margin-r-5"></i> Like</a></li>
                                        <li class="pull-right"><a class="link-black text-sm" href="https://almsaeedstudio.com/themes/AdminLTE/pages/examples/profile.html#"><i class="fa fa-comments-o margin-r-5"></i> Comments (5)</a></li>
                                    </ul>

                                    <input type="text" placeholder="Type a comment" class="form-control input-sm">
                                </div><!-- /.post -->

                                <!-- Post -->
                                <div class="post clearfix">
                                    <div class="user-block">
                                        <img alt="user image" src="./AdminLTE 2 _ User Profile_files/user7-128x128.jpg" class="img-circle img-bordered-sm">
                        <span class="username">
                          <a href="https://almsaeedstudio.com/themes/AdminLTE/pages/examples/profile.html#">Sarah Ross</a>
                          <a class="pull-right btn-box-tool" href="https://almsaeedstudio.com/themes/AdminLTE/pages/examples/profile.html#"><i class="fa fa-times"></i></a>
                        </span>
                                        <span class="description">Sent you a message - 3 days ago</span>
                                    </div><!-- /.user-block -->
                                    <p>
                                        Lorem ipsum represents a long-held tradition for designers,
                                        typographers and the like. Some people hate it and argue for
                                        its demise, but others ignore the hate as they create awesome
                                        tools to help create filler text for everyone from bacon lovers
                                        to Charlie Sheen fans.
                                    </p>

                                    <form class="form-horizontal">
                                        <div class="form-group margin-bottom-none">
                                            <div class="col-sm-9">
                                                <input placeholder="Response" class="form-control input-sm">
                                            </div>
                                            <div class="col-sm-3">
                                                <button class="btn btn-danger pull-right btn-block btn-sm">Send</button>
                                            </div>
                                        </div>
                                    </form>
                                </div><!-- /.post -->

                                <!-- Post -->
                                <div class="post">
                                    <div class="user-block">
                                        <img alt="user image" src="./AdminLTE 2 _ User Profile_files/user6-128x128.jpg" class="img-circle img-bordered-sm">
                        <span class="username">
                          <a href="https://almsaeedstudio.com/themes/AdminLTE/pages/examples/profile.html#">Adam Jones</a>
                          <a class="pull-right btn-box-tool" href="https://almsaeedstudio.com/themes/AdminLTE/pages/examples/profile.html#"><i class="fa fa-times"></i></a>
                        </span>
                                        <span class="description">Posted 5 photos - 5 days ago</span>
                                    </div><!-- /.user-block -->
                                    <div class="row margin-bottom">
                                        <div class="col-sm-6">
                                            <img alt="Photo" src="./AdminLTE 2 _ User Profile_files/photo1.png" class="img-responsive">
                                        </div><!-- /.col -->
                                        <div class="col-sm-6">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <img alt="Photo" src="./AdminLTE 2 _ User Profile_files/photo2.png" class="img-responsive">
                                                    <br>
                                                    <img alt="Photo" src="./AdminLTE 2 _ User Profile_files/photo3.jpg" class="img-responsive">
                                                </div><!-- /.col -->
                                                <div class="col-sm-6">
                                                    <img alt="Photo" src="./AdminLTE 2 _ User Profile_files/photo4.jpg" class="img-responsive">
                                                    <br>
                                                    <img alt="Photo" src="./AdminLTE 2 _ User Profile_files/photo1.png" class="img-responsive">
                                                </div><!-- /.col -->
                                            </div><!-- /.row -->
                                        </div><!-- /.col -->
                                    </div><!-- /.row -->

                                    <ul class="list-inline">
                                        <li><a class="link-black text-sm" href="https://almsaeedstudio.com/themes/AdminLTE/pages/examples/profile.html#"><i class="fa fa-share margin-r-5"></i> Share</a></li>
                                        <li><a class="link-black text-sm" href="https://almsaeedstudio.com/themes/AdminLTE/pages/examples/profile.html#"><i class="fa fa-thumbs-o-up margin-r-5"></i> Like</a></li>
                                        <li class="pull-right"><a class="link-black text-sm" href="https://almsaeedstudio.com/themes/AdminLTE/pages/examples/profile.html#"><i class="fa fa-comments-o margin-r-5"></i> Comments (5)</a></li>
                                    </ul>

                                    <input type="text" placeholder="Type a comment" class="form-control input-sm">
                                </div><!-- /.post -->
                            </div><!-- /.tab-pane -->
                            <div id="timeline" class="tab-pane">
                                <!-- The timeline -->
                                <ul class="timeline timeline-inverse">
                                    <!-- timeline time label -->
                                    <li class="time-label">
                        <span class="bg-red">
                          10 Feb. 2014
                        </span>
                                    </li>
                                    <!-- /.timeline-label -->
                                    <!-- timeline item -->
                                    <li>
                                        <i class="fa fa-envelope bg-blue"></i>
                                        <div class="timeline-item">
                                            <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
                                            <h3 class="timeline-header"><a href="https://almsaeedstudio.com/themes/AdminLTE/pages/examples/profile.html#">Support Team</a> sent you an email</h3>
                                            <div class="timeline-body">
                                                Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,
                                                weebly ning heekya handango imeem plugg dopplr jibjab, movity
                                                jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle
                                                quora plaxo ideeli hulu weebly balihoo...
                                            </div>
                                            <div class="timeline-footer">
                                                <a class="btn btn-primary btn-xs">Read more</a>
                                                <a class="btn btn-danger btn-xs">Delete</a>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- END timeline item -->
                                    <!-- timeline item -->
                                    <li>
                                        <i class="fa fa-user bg-aqua"></i>
                                        <div class="timeline-item">
                                            <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>
                                            <h3 class="timeline-header no-border"><a href="https://almsaeedstudio.com/themes/AdminLTE/pages/examples/profile.html#">Sarah Young</a> accepted your friend request</h3>
                                        </div>
                                    </li>
                                    <!-- END timeline item -->
                                    <!-- timeline item -->
                                    <li>
                                        <i class="fa fa-comments bg-yellow"></i>
                                        <div class="timeline-item">
                                            <span class="time"><i class="fa fa-clock-o"></i> 27 mins ago</span>
                                            <h3 class="timeline-header"><a href="https://almsaeedstudio.com/themes/AdminLTE/pages/examples/profile.html#">Jay White</a> commented on your post</h3>
                                            <div class="timeline-body">
                                                Take me to your leader!
                                                Switzerland is small and neutral!
                                                We are more like Germany, ambitious and misunderstood!
                                            </div>
                                            <div class="timeline-footer">
                                                <a class="btn btn-warning btn-flat btn-xs">View comment</a>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- END timeline item -->
                                    <!-- timeline time label -->
                                    <li class="time-label">
                        <span class="bg-green">
                          3 Jan. 2014
                        </span>
                                    </li>
                                    <!-- /.timeline-label -->
                                    <!-- timeline item -->
                                    <li>
                                        <i class="fa fa-camera bg-purple"></i>
                                        <div class="timeline-item">
                                            <span class="time"><i class="fa fa-clock-o"></i> 2 days ago</span>
                                            <h3 class="timeline-header"><a href="https://almsaeedstudio.com/themes/AdminLTE/pages/examples/profile.html#">Mina Lee</a> uploaded new photos</h3>
                                            <div class="timeline-body">
                                                <img class="margin" alt="..." src="./AdminLTE 2 _ User Profile_files/150x100">
                                                <img class="margin" alt="..." src="./AdminLTE 2 _ User Profile_files/150x100">
                                                <img class="margin" alt="..." src="./AdminLTE 2 _ User Profile_files/150x100">
                                                <img class="margin" alt="..." src="./AdminLTE 2 _ User Profile_files/150x100">
                                            </div>
                                        </div>
                                    </li>
                                    <!-- END timeline item -->
                                    <li>
                                        <i class="fa fa-clock-o bg-gray"></i>
                                    </li>
                                </ul>
                            </div><!-- /.tab-pane -->

                            <div id="settings" class="tab-pane">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="inputName">Name</label>
                                        <div class="col-sm-10">
                                            <input type="email" placeholder="Name" id="inputName" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="inputEmail">Email</label>
                                        <div class="col-sm-10">
                                            <input type="email" placeholder="Email" id="inputEmail" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="inputName">Name</label>
                                        <div class="col-sm-10">
                                            <input type="text" placeholder="Name" id="inputName" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="inputExperience">Experience</label>
                                        <div class="col-sm-10">
                                            <textarea placeholder="Experience" id="inputExperience" class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="inputSkills">Skills</label>
                                        <div class="col-sm-10">
                                            <input type="text" placeholder="Skills" id="inputSkills" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> I agree to the <a href="https://almsaeedstudio.com/themes/AdminLTE/pages/examples/profile.html#">terms and conditions</a>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button class="btn btn-danger" type="submit">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div><!-- /.tab-pane -->
                        </div><!-- /.tab-content -->
                    </div><!-- /.nav-tabs-custom -->
                </div><!-- /.col -->
            </div>
        </section>
        <!-- /.content -->
    </div><!-- /.content-wrapper -->
<?php $this->partial("layouts/admin/footer"); ?>