<?php $this->partial("layouts/quran/header"); ?>
<style>

</style>
    <script>
        var editor; // use a global for the submit and return data rendering in the examples

        function confirmDelete(id){
            var message = "Do you want to delete this data?";
            showModalWarning(message,confirmDeleteAction,[id]);
        }

        function confirmDeleteAction(id){
            $.post("<?php p_base_url();?>/quran/<?php echo $url;?>/remove", {id: id}, function (data) {
                hideAllModal();
                reloadGrid();
            }, "json");
        }

        function gotoNew(){
            location.href="<?php p_base_url();?>/quran/<?php echo $url;?>/new";
        }

        function reloadGrid() {
            var table = $('#grid').DataTable();
                table.ajax.reload(function (json) {
                });
        }
        $(document).ready(function () {
            $('#img').corner();
            $('#grid').dataTable({
                "processing": true,
                "serverSide": true,
                "ajax": "<?php p_base_url();?>/quran/<?php echo $url;?>/list",
                "columns": [
                    {
                        "data": "id", "render": function (data, type, row) {
                        return "<a href='<?php p_base_url();?>/quran/<?php echo $url;?>/edit?id=" + data + "&id_mr=<?php echo $this->session->id_admin ?>'>" +
                            "<?php if($this->session->isAdmin): ?><span style='font-size:24px' class='fa fa-pencil'></span>" + "</a>&nbsp;" +
                            "&nbsp;<a href='#' onclick='confirmDelete(\"" + data + "\");'>" +
                            "<span class='fa fa-times' style='font-size:24px'></span></a><?php endif; ?>" +
                            "</a>";
                    }
                    },
                    { "data": "path_small",
                        "render": function ( data, type, row ) {
                            if(data != ''){
                                var urls = data;
                                return '<a style="cursor:pointer;" onclick="doOpenDetil(\''+row.id+'\')"><div class="userprofile">'+
                                        '<div style="background-image:url(\''+
                                        '<?php echo base_url(); ?>'+urls +'\');" '+'class="mypic" id="mypic">'+
                                        '<span class="glow">&nbsp;</span></div>'+'</div>';
                            }else{
                                return '';
                            }
                        }
                    },
                    { "data": "nama", "render": function ( data, type, row ) { return data;}  },
                    { "data": "pengajar", "render": function ( data, type, row ) { return data;}  },
                    { "data": "created_date", "render":function ( data, type, row ) { return data;}  }
//                    { "data": "alamat", "render": function ( data, type, row ) { return data;}  },
//                    { "data": "ttl", "render": function ( data, type, row ) { return data;}  },
//                    { "data": "mobile", "render": function ( data, type, row ) { return data;} },
//                    { "data": "email", "render": function ( data, type, row ) { return data;} },
//                    { "data": "asal_sekolah", "render": function ( data, type, row ) { return data;} },
//                    { "data": "is_membina", "render": function (data, type, row ) {
//                        return data == 1 ? "<label style='color:green;'>Ya</label>" : "<label style='color:red;'>Bukan</label>";
//                    }},
//                    { "data": "notes_mission", "render": function ( data, type, row ) { return data;}  },
//                    { "data": "label_status_process", "render": function ( data, type, row ) { return data;}  },
//                    { "data": "label_status_respons_unit", "render": function ( data, type, row ) { return data;}  },
//                    { "data": "description", "render": function ( data, type, row ) { return data;}  },

//                    { "data": "source", "render": function ( data, type, row ) { return data;} },
                ]
            });//end grdi
        });
    </script>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                <?php echo $title; ?>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>Master</a></li>
                <li class="active"><?php echo $title; ?></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div style="padding: 5px 0 5px 0;">
                                <?php if(!$this->session->isAdmin): ?>
                                    <button title="Data Baru" type="button" class="btn btn-primary" onclick="gotoNew()">
                                        <i class="fa fa-plus"></i></button>
                                <?php endif; ?>
                            </div>
                            <div style="padding: 5px;">
                                <table id="grid" class="table table-striped table-bordered" cellspacing="0"
                                       width="100%">
                                    <thead>
                                    <tr>
                                        <th>Action.</th>
                                        <th>Logo Kelompok</th>
                                        <th>Nama Kelompok</th>
                                        <th>Pengajar</th>
                                        <th>Tgl. Bentuk</th>
                                        <!--                                    <th>Nama Member</th>-->
                                        <!--                                    <th>Alamat</th>-->
                                        <!--                                    <th>TTL</th>-->
                                        <!--                                    <th>Mobile</th>-->
                                        <!--                                    <th>Email</th>-->
                                        <!--                                    <th>Asal Sekolah</th>-->
                                        <!--                                    <th>Is Membina</th>-->
                                        <!--                                    <th>Kategori</th>-->
                                        <!--                                    <th>Catatan Misi</th>-->
                                        <!--                                    <th>Status Proses</th>-->
                                        <!--                                    <th>Status Tindak Lanjut</th>-->
                                        <!--                                    <th>Deskripsi</th>-->
                                        <!--                                    -->
                                        <!--                                    <th>Sumber</th>-->
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div><!-- /.content-wrapper -->
    <script>
        function doOpenDetil($idCustomer){
            var aidi = $idCustomer;
            $('#mymodal').modal('show');
            $('#mymodal .modal-title').html('Detil Kelompok Tahsin');
            $('#mymodal .modal-body').load('<?php PartialLibrary::p_load('quran/partial/form_detail_btq_kelompok') ?>',
                {id: aidi}, function (html) {
                    $('#mymodal .modal-body').html(html);
                });
        }
    </script>
<?php $this->partial("layouts/quran/footer"); ?>