<?php $this->partial("layouts/quran/header"); ?>
<script>
    $(document).ready(function() {
        //var TODAY = '<?php echo \DateTimeLibrary::add_days_by_date(0,date("Y-m-d"),'d/m/Y');?>';
        $('#tglBentuk').datepicker({
            language:'EN',
            format: 'dd/mm/yyyy',
            pickSeconds: false,
            pick12HourFormat: false
        });
        //$("#tglLahir").val(TODAY);

        $('.img-round').roundImage();
        $(":input").inputmask();
        loadForm();
        $('input[name="jns_kelamin"]').change(function() {
            if($(this).val()==1){
                $('#output').attr("src", "<?php p_base_url()?>/img/unknown_member.png");
            } else{
                $('#output').attr("src", "<?php p_base_url()?>/img/unknown_member_akhwat.png");
            }
        });
    });

    var loadFile = function(event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
        filenameProfileImage();
    };
    function filenameProfileImage() {
        var filename = document.forms["formData"].elements["detailfile"];
        var name_of_file = document.forms["formData"].elements["text_url"];

        if (name_of_file.length == undefined) {
            name_of_file.value = filename.value;
        } else {
            for (var i = 0, len = filename.length; i < len; i++) {
                name_of_file[i].value = filename[i].value;
            }
        }
    }
    var doSetJnsKelamin = function(event, type) {
        var output = document.getElementById('output');
        var tipe = type;
        if( tipe == 1){
            output.src = "<?php base_url('img/unknown_member.png');?>";
        }else{
            output.src = URL.createObjectURL("<?php base_url('/img/email.png');?>");
        }
    }
    $(function() {
         $("#source-hide").prop('disabled', true);
             $("#source-hide").hide();
             $("#source-dropdown").prop('disabled', true);
             $("#source-dropdown").hide();
             $("#source-dropdown").html('');
    });

    function gotoList(){
        location.href="<?php p_base_url();?>/quran/<?php echo $url;?>";
    }
    function loadForm(){
        var url = "<?php p_base_url();?>/quran/<?php echo $url;?>/get?id=<?php echo $id;?>";
        $.get(url, function (data) {
            var idSubDistrict = data.id_sub_district;
            var url = "<?php p_base_url();?>/quran/manual/get_sub_district?id_regency=" + data.id_regency;
            $.getJSON(url, function (data) {
                var showData;
                showData += "<option value='0'>Please select</option>";
                $.each(data, function (i, val) {
                    showData += "<option value=\"" + val.id + "\">" + val.nama + "</option>";
                });
                $('#sub_district').html(showData);
                $('#sub_district').val(idSubDistrict);
            });
            $( "#text_url" ).val(data.path_medium);
        }, 'json');
        FormLoadByUrlJson(url,"formData");
    }
    function showResponse(response, statusText, xhr, $form)  {
        response = parseJson(response);
        if(response.isSuccess){
            gotoList();
        }else{
            showModalError(response.message);
        }
    }
    function showRequest(formData, jqForm, options) {

        return true;
    }
    var validateForm = {
        rules: {
            /*username: {
                required: true
            },
            password: {
                required: true
            },
            nama: {
                required: true
            }*/
        },
        messages: {
            /*username: {
                required: "Please enter a Username"
            },
            password: {
                required: "Please enter a Password"
            },
            nama: {
                required: "Please enter a Nama"
            }*/
        }
    };
    var optionsForm = {
        beforeSerialize: function($form, options) {
//            var txtLocation = $('#location').val();
//            $.ajax({
//                type: 'GET',
//                url: '<?php //p_base_url("");?>///quran/manual/isLocationExist?txt_location='+txtLocation,
//                success: function (data) {
//                }
//            });
        },
        dataType:  'json',
        success: showResponse
    };
    function submitFormTim(){
        //$("#formData").validate(validateForm);
        $('#formData').ajaxForm(optionsForm);
        $('#formData').submit();
    }
</script>
<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>Form&nbsp;-&nbsp;<?php echo $title;?>
            </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i><?php echo $labelForm;?></a></li>
            <li class="active"><?php echo $title;?></li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="box box-primary">
                        <!-- form start -->
                        <form id="formData" role="form" method="post" action="<?php echo base_url()."/quran/".$url."/".$action;?>">
                            <input type="hidden" name="id">
                            <div class="box-body">
                                <div style="padding: 5px 0 5px 0;">
                                    <a class="btn btn-large btn-primary" href="<?php echo base_url("/quran/btq_kelompok"); ?>"><i
                                            class="fa fa-step-backward"></i></a>
                                </div>
                                <div class="form-group">
                                    <label>Logo Kelompok</label>
                                    <div class="media">
                                        <div class="col-sm-3 text-center">
                                            <?php $data = \SqCustomer::findFirstById($id);
                                            if( !empty($data->path_small)) : ?>
                                                <a href="javascript:void(0)"  style="padding:1px">
                                                    <img class="img-circle" name="imgPhotoComplaint"
                                                         src="<?php p_base_url($data->path_medium) ?>" alt="" width="150">
                                                </a>
                                            <?php else: ?>
                                                <a href="javascript:void(0)" style="padding:1px">
                                                    <img id="output" class="img-circle"
                                                         src="<?php p_base_url('/img/unknown_tim.png') ?>" alt="" height="150">
                                                </a>
                                            <?php endif; ?>
                                            <div class="panel-body" style="padding: 0;">
                                                <div class="fileUpload btn btn-primary col-sm-12" style="padding: 5px;">
                                                    <a style="color: #ff0000">*</a>Upload Pict.
                                                    <input type="file" name="detailfile" class="upload" onchange="loadFile(event);">
                                                </div>
                                                <div class="hidden">
                                                    <input class="form-control" type="text" id="text_url" name="path_medium" style="height:32px" placeholder="Url Photo" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            <div class="form-group">
                                                <label>Nama Kelompok</label>
                                                <input name="nama" class="form-control" placeholder="Nama Kelompok">
                                            </div>
                                            <div class="form-group">
                                                <label>MR</label><span style="color: #d62728;font-size: 8pt;">*)</span>
                                                <!--                                                <input id="id_pimpinan" type="hidden" name="id_pimpinan">-->
                                                <div class="dropdown">
                                                    <div>
                                                        <?php
                                                        echo $this->tag->select(array("id_mentor", "id" => "id_mentor",
                                                            \SqBtqMentor::find(array(
                                                                "status=66",
                                                                "order"=>"update_date DESC"
                                                            )),
                                                            "useEmpty" => true,
                                                            "emptyText" => "-Pilih Pembimbing-",
                                                            "class" => "form-control",
                                                            "using" => array("id", "nama")
                                                        ));?>
                                                    </div>
                                                </div>
                                            </div>
<!--                                            <div class="form-group">-->
<!--                                                <label>Tgl. Bentuk</label>-->
<!--                                                <input id="tglBentuk" name="tgl_bentuk" type="text" class="form-control date" placeholder="Tanggal Lahir">-->
<!--                                            </div>-->
<!--                                            <div class="form-group">-->
<!--                                                <label>Tgl. Berakhir</label>-->
<!--                                                <input id="tglAkhir" name="tgl_akhir" type="text" class="form-control date" placeholder="Tanggal Lahir">-->
<!--                                            </div>-->
                                        </div><!--end div media-body-->
                                    </div><!--end div media-->
                                    <!--=====================================================-->
                                    <div class="media">
                                        <div class="col-sm-3">

                                        </div>
                                        <div class="media-body">
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <label>Daftar Anggota</label>
                                                    <!--                                        <input type="hidden" name="id_sub_district">-->
                                                    <div class="dropdown">
                                                        <div id="daftarBinaan"></div>
                                                        <!--                                            <select id="daftarBinaan" class="form-control"></select>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.box-body -->

                            <div class="box-footer">
                                <button type="button" class="btn btn-primary" onclick="submitFormTim()"><?php echo $labelSubmit;?></button>
                            </div>
                        </form>
                    </div><!-- /.box -->
                    </div>
                </div>

        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
<script>
    //======================= combo kec =====================
    $('#id_pimpinan').change(function(){
        $('#daftarBinaan').html('');
        var getValue= $(this).val();
        $('#id_pimpinan').val(getValue);

        if(getValue == '0'){
            $('#daftarBinaan').html('');
            $('#id_pimpinan').val('');
        }else {
            var url = "<?php p_base_url();?>/quran/tim/getBinaan?id_mr=" + getValue;
            $.getJSON(url, function (data) {
                var showData = "";
                //showData += "<label value='0'></label>";
                $.each(data, function (i, val) {
                    console.log('<?php echo p_base_url(); ?>'+val.path_small);
                    //showData += "<option value=\"" + val.id + "\">" + val.first_name + "</option>";
                    showData += '<div>'
                            +'<img class="img-circle" width="50" src="<?php echo p_base_url(); ?>'+val.path_small +'">'
                            +'&nbsp;<label value=\"'+val.id+'\">'+val.first_name+'</label>'
                            +'<div></br>';
                });
                $('#daftarBinaan').html(showData);
            });
        }
    });
</script>
<?php $this->partial("layouts/quran/footer"); ?>